/* Fonts */
/* Dialect Gothic A */
@font-face {
  font-family: "Dialect Gothic A";
  src: url("/static/fonts/dialect/DialectGothicA-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dialect Gothic A";
  src: url("/static/fonts/dialect/DialectGothicA-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Dialect Gothic A";
  src: url("/static/fonts/dialect/DialectGothicA-Book.otf") format("opentype");
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dialect Gothic A";
  src: url("/static/fonts/dialect/DialectGothicA-Booktalic.otf") format("opentype");
  font-weight: 450;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Dialect Gothic A";
  src: url("/static/fonts/dialect/DialectGothicA-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dialect Gothic A";
  src: url("/static/fonts/dialect/DialectGothicA-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Dialect Gothic A";
  src: url("/static/fonts/dialect/DialectGothicA-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dialect Gothic A";
  src: url("/static/fonts/dialect/DialectGothicA-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Review Condensed */
@font-face {
  font-family: "Review Condensed";
  src: url("/static/fonts/ReviewCondensed/ReviewCondensed-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Review Condensed";
  src: url("/static/fonts/ReviewCondensed/ReviewCondensed-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Review Condensed";
  src: url("/static/fonts/ReviewCondensed/ReviewCondensed-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Society FullTrial */
@font-face {
  font-family: "Society FullTrial";
  src: url("/static/fonts/Society/SocietyFullTrial-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Society FullTrial";
  src: url("/static/fonts/Society/SocietyFullTrial-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Society FullTrial";
  src: url("/static/fonts/Society/SocietyFullTrial-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Society FullTrial";
  src: url("/static/fonts/Society/SocietyFullTrial-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Society FullTrial";
  src: url("/static/fonts/Society/SocietyFullTrial-Book.otf") format("opentype");
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Society FullTrial";
  src: url("/static/fonts/Society/SocietyFullTrial-BookItalic.otf") format("opentype");
  font-weight: 450;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Society FullTrial";
  src: url("/static/fonts/Society/SocietyFullTrial-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Society FullTrial";
  src: url("/static/fonts/Society/SocietyFullTrial-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Society FullTrial";
  src: url("/static/fonts/Society/SocietyFullTrial-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Society FullTrial";
  src: url("/static/fonts/Society/SocietyFullTrial-SemiBoldItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Society FullTrial";
  src: url("/static/fonts/Society/SocietyFullTrial-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Society FullTrial";
  src: url("/static/fonts/Society/SocietyFullTrial-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Reset / base */
html {
  font-family: "Dialect Gothic A", sans-serif;
  color: #000;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
nav,
section {
  display: block;
}

header {
  display: flex;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

amp-img {
  margin: 0 auto;
}

.inline-image-wrap {
  margin: 25px -20px 50px;
}

.inline-image-wrap+.inline-image-wrap {
  margin-top: 75px;
}

amp-img {
  max-width: 700px;
}

.amp-img-block {
  margin-bottom: 15px;
}

.amp-img-block amp-img {
  margin-bottom: 5px;
}

.amp-img {
  margin-bottom: 5px;
}

.ld-caption {
  font-size: 16px;
  font-family: "Dialect Gothic A", sans-serif;
  color: #000;
  font-weight: normal;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}

code,
kbd,
samp {
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

blockquote {
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #000;
}

[hidden],
template {
  display: none;
}

p {
  font-size: 20px;
  line-height: 1.5;
}

figure {
  margin: 0;
}

a {
  text-decoration: underline;
  color: #000;
}

/* Header */
.ladiaria-amp-logo-img {
  vertical-align: middle;
  z-index: 10000;
}

.desktop-header .ladiaria-amp-logo-img {
  padding-left: 1rem;
}

.desktop-header {
  display: none;
}

.ampstart-headerbar {
  position: fixed;
  bottom: 0;
  box-shadow: 0px 25px 50px grey;
  width: 100%;
  background-color: #fff;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  height: 57px;
  z-index: 100;
}

.header-pill {
  z-index: 100;
  bottom: 0px;
  position: relative;
  padding: 0;
  margin-left: 7px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: .2s ease-out;
  display: inline-block;
  line-height: 100%;
  display: flex;
}

.header-pill:hover {
  opacity: .8;
}

.header-pill svg {
  display: block;
}


.mobile-header {
  width: 100%;
  background-color: white;
  color: #000;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  padding: 16px 20px;
  min-height: 32px;
}

.mobile-header-breadcrumb {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  font-family: "Dialect Gothic A", sans-serif;
}

.mobile-header-breadcrumb a {
  text-decoration: none;
  height: 44px;
  display: flex;
  align-items: center;
}

@media (max-width: 640px) {
  .mobile-header:not(.logged-in) .btn.ingresar {
    position: absolute;
    right: 15px;
    top: 0;
  }
}

.section-subheader {
  text-align: center;
  box-shadow: 0px 3px 6px #00000029;
  padding: 10px 0 7px;
  z-index: 1;
  position: relative;
}

.section-subheader .header-logo img {
  position: relative;
  overflow: visible;
}

.btn.ingresar {
  margin: 13px 0 15px 15px;
  line-height: 28px;
  height: 30px;
  padding: 0 14px;
  text-decoration: none;
  border: 2px solid white;
  color: white;
  box-sizing: border-box;
  background: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}

.btn.ingresar:hover {
  background: #fff;
  color: #000;
}

/* Footer */
.ampstart-footer {
  background-color: white;
  text-align: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-top: 1px solid #e2e2e2;
}

.ampstart-footer .ampstart-icon {
  fill: #fff;
}

.ampstart-footer .ampstart-social-follow li:last-child {
  margin-right: 0;
}

/* Article header */
.article-header {
  margin: 24px 0;
  padding: 0 20px;
}

@media (min-width: 769px) {
  .article-header {
    margin: 100px 0;
  }
}

.article-title {
  margin-top: .5em;
  margin-bottom: .5em;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-family: "Society FullTrial", serif;
  font-size: 1.75rem;
  max-width: 1000px;
  font-weight: 500;
  line-height: 120%;
  text-align: center;
}

@media (min-width: 769px) {
  .article-title {
    font-size: 52px;
  }
}

.article-date-author,
.article-caption,
.reading-time {
  font-family: "Dialect Gothic A", sans-serif;
  color: #000;
  font-size: 0.875rem;
  margin: 0;
}

.article-date-author span,
.reading-time span {
  font-size: 1rem;
}

.article-date-author span {
  font-family: "Dialect Gothic A", sans-serif;
}

.article-date-author span a,
.article-date-author a span,
.reading-time span a,
.reading-time a span {
  color: #000;
}

.article-caption {
  margin: 0 auto;
  margin-top: 10px;
  color: #000;
  font-size: 1rem;
  line-height: 22px;
}

.article-caption p {
  font-size: 0.75rem;
  line-height: 16.2px;
  color: #81898B;
  margin: 0;

}

.article-caption p+p {
  margin-top: 0;
}

.soft {
  opacity: .5;
  font-family: "Dialect Gothic A", sans-serif;
}

.reading-time {
  margin-top: 10px;
}

.reading-time svg {
  position: relative;
  top: 2px;
  display: inline-block;
}

.premium {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  line-height: 18px;
  margin: 30px 20px;
}

/* Article body */
.article-body {
  font-family: "Society FullTrial", serif;
  margin: 0 auto;
  max-width: 700px;
  margin: 20px auto;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.article-body .ld-caption {
  margin-top: 0;
  padding: 0 20px;
}

.article-body strong {
  font-weight: 500;
}

.article-body .ld-caption p {
  font-size: 16px;
  margin-bottom: 6px;
  margin-top: 10px;
}

.article-body .ld-caption p+p {
  margin-top: 0;
}

.article-body * {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.article-body--faded:after {
  content: '';
  width: 100%;
  height: 30%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(rgba(255, 255, 255, 0.001) 70%, #fff);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.article-body img {
  max-width: 100%;
}

@media (min-width: 769px) {
  .article-body {
    font-size: 22px;
  }
}

.article-body p {
  margin-bottom: 50px;
}

.article-body h1,
.article-body h2,
.article-body h3,
.article-body hr {
  max-width: 700px;
  margin: 20px auto;
}

.article-body h3,
.article-body h4,
.article-body h5,
.article-body h6 {
  line-height: 1.5;
}

.article-body ul,
.article-body ol {
  font-size: 18px;
  line-height: 34px;
  max-width: 700px;
  margin: 20px auto 50px auto;
  padding-left: 22px;
}

@media (min-width: 769px) {

  .article-body ul,
  .article-body ol {
    font-size: 20px;
  }
}

.article-body ul li {
  list-style-type: disc;
}

div.article-body h2 {
  font-size: 1.75rem;
}

div.article-body h3 {
  font-size: 1.375rem;
}

div.article-body h4 {
  font-size: 1.25rem;
  line-height: 1.5;
}

@media only screen and (max-width: 767px) {
  div.article-body h2 {
    font-size: 1.5rem;
  }

  div.article-body h3 {
    font-size: 1.25rem;
  }

  div.article-body h4 {
    font-size: 1rem;
  }
}

.article-body hr {
  margin: 100px 0;
  background: #595959;
}

.article-body li {
  line-height: 1.5;
}

.article-body ul,
.article-body ol {
  margin: 10px 0;
}

/* Article deck / lead */
.article__deck,
.article-lead {
  font-family: "Society FullTrial", serif;
  line-height: 27px;
  max-width: 700px;
  margin: 20px auto;
  font-size: 1.25rem;
  margin-bottom: 24px;
  text-align: center;
  font-weight: 400;
}

@media (min-width: 769px) {

  .article__deck,
  .article-lead {
    font-size: 20px;
    line-height: 1.7;
  }
}

/* Headings */
h2,
h3,
h4,
h5,
h6 {
  font-family: "Society FullTrial", serif;
}

h3 {
  font-size: 24px;
}

/* Extensions (recuadros) */
.extension {
  max-width: 700px;
  background: #eaeaea;
  border-radius: 10px;
  padding: 20px;
  font-size: 16px;
  word-break: break-word;
  margin: 50px auto;
}

@media (min-width: 740px) {
  .extension {
    padding: 40px;
  }
}

.extension p {
  margin-bottom: 20px;
}

.extension p:last-of-type {
  margin-bottom: 0;
}

.extension__title {
  margin: 0 0 20px 0;
}

.extension .twitter-tweet {
  margin: 0 auto;
}

.article-body .extension h3 {
  margin-top: 0;
}

/* Collections */
.collection-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  background: linear-gradient(#edf6f5, #d3dad9);
}

@media (max-width: 992px) {
  .collection-header {
    grid-template-columns: 1fr;
  }
}

.collection-header .collection-intro {
  text-align: center;
  max-width: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collection-header .collection-intro h1.article-title {
  font-size: 40px;
  margin: 0;
}

.collection-header .collection-intro svg {
  margin: 16px 0;
}

.collection-header .collection-intro .collection-description {
  font-size: 24px;
  margin: 0;
}

.collection-header .collection-intro .photo-author {
  font-size: 12px;
  font-family: "Dialect Gothic A", sans-serif;
  margin: 16px 0 0;
}

@media (max-width: 992px) {
  .collection-header .collection-intro {
    order: 2;
    padding: 16px;
  }

  .collection-header .collection-intro h1.article-title {
    font-size: 24px;
  }

  .collection-header .collection-intro svg {
    margin: 8px 0;
  }

  .collection-header .collection-intro svg:last-child {
    margin-bottom: 0;
  }

  .collection-header .collection-intro .collection-description {
    font-size: 20px;
  }

  .collection-header .collection-intro .photo-author {
    margin-top: 8px;
  }
}

.collection-articles {
  border: 1px solid #d8d8d8;
  padding: 16px;
  border-radius: 4px;
}

.collection-articles .title {
  margin: 0;
}

.collection-articles .collection-article {
  margin-top: 14px;
  display: flex;
  background: #edf6f5;
  border: 1px solid #d8d8d8;
}

.collection-articles .collection-article .photo {
  order: 2;
  min-width: 250px;
}

.collection-articles .collection-article .content {
  padding: 12px 16px;
}

.collection-articles .collection-article .title {
  font-size: 20px;
  line-height: 1.2;
  margin: 0 0 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #d8d8d8;
}

.collection-articles .collection-article .title a {
  text-decoration: none;
}

.collection-articles .collection-article .text {
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
}

/* Misc */
.small {
  font-size: 2rem;
}

span.small.soft {
  font-size: 1rem;
  color: #000;
}

.white-text {
  color: #FFF;
}

.align-center {
  text-align: center;
}

#main-article .photo {
  padding: 0 20px;
}

#main-photo {
  width: 100%;
  z-index: -1;
}

#mas-leidos {
  display: none;
}

.gtm {
  height: 0;
  width: 0;
  display: none;
  visibility: hidden;
}

#header-pub {
  margin-top: 20px;
  margin-bottom: 20px;
}

.whatsapp {
  display: none;
}

@keyframes fx-fade {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}

.amp-youtube {
  margin-bottom: 35px;
}

.gallery-wrap {
  margin-bottom: 35px;
}

.action-bar {
  padding-bottom: 24px;
  border-bottom: 0.5px solid #ABABAB;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

/* Read later / Fav */

.read-later__btn,
.fav__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 500;
  box-sizing: border-box;
  border: 1px solid #D8D8D8;
  cursor: pointer;
  outline: none;
  background: transparent;
  font-family: "Dialect Gothic A", sans-serif;
  height: 36px;
  width: 36px;
}

.read-later__saved,
.fav__saved {
  background: #222;
  color: #fff;
}

.read-later__saved:hover,
.fav__saved:hover {
  color: #fff;
}

.read-later .info,
.fav .info {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.read-later .info a:hover,
.fav .info a:hover {
  text-decoration: none;
}

.read-later .hide,
.fav .hide {
  display: none;
}

.u-mb-60 {
  margin-bottom: 60px;
}

/* Tags */
.article-tags {
  margin-bottom: 100px;
  padding: 0 20px;
}

.article-tags .title {
  display: block;
  margin-bottom: 16px;
}

.article-tags .tag {
  display: inline-block;
  text-decoration: none;
  line-height: normal;
  padding: 10px 16px;
  background-color: #E3E8EA;
  border-radius: 5px;
  margin-bottom: 12px;
}

.article-tags .tag:hover {
  background-color: #d8d8d8;
  color: #000;
}

.article-tags .tag>svg {
  vertical-align: middle;
}

.article-tags .tag+.tag {
  margin-left: 5px;
}

/* Share widget */
.ld-share-widget {
  margin: 100px 0;
  text-align: center;
}

.ld-share-widget__title {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #000;
}

.ld-share-widget__list {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow: hidden;
}

.ld-share-widget__list .copy-link {
  margin-right: -116px;
}

.share li {
  margin: 0 2px;
}

.share a {
  color: #000;
}

.inline>li {
  display: inline-block;
  list-style-type: none;
  position: relative;
  vertical-align: top;
}

.inline>li a {
  padding: 10px;
  border-radius: 100%;
  display: inline-block;
  box-sizing: content-box;
}

.inline>li a>svg {
  display: inline-block;
  vertical-align: middle;
}

.inline>li a:hover {
  background: rgba(0, 0, 0, 0.1);
}

.inline>li a:focus {
  background: rgba(0, 0, 0, 0.2);
}

/* Breaking notice */
.breaking-notice {
  background: #E67E22;
  color: #fff;
  font-size: 12px;
  line-height: 1.2;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: auto;
  bottom: 0;
  padding: 20px 0;
}

.breaking-notice .msg-title {
  display: block;
}

.breaking-notice .msg-link {
  color: #fff;
  text-decoration: underline;
}

.breaking-notice .btn-close {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
  background-image: url(/static/img/icon-cross.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 12px;
  display: block;
  width: 12px;
  height: 12px;
  text-indent: -100px;
  overflow: hidden;
}

/* Base styles */
.ld-heading {
  font-family: "Dialect Gothic A", sans-serif;
  margin: 10px 0 35px 0;
  font-size: 50px;
  color: #000;
  font-weight: 500;
}

.ld-subheading {
  font-family: "Dialect Gothic A", sans-serif;
  font-size: 25px;
  margin: 10px 0 25px;
  color: #000;
  font-weight: bold;
}

.ld-text-secondary {
  color: #595959;
  font-family: "Dialect Gothic A", sans-serif;
  font-size: 16px;
}

a.ld-text-secondary,
.ld-text-secondary a:not(.btn) {
  color: #595959;
  text-decoration: underline;
}

.ld-paywall-ending {
  margin-bottom: 10vh;
}

.ld-fin {
  background-image: url(/static/img/fin-dark.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 134px;
  height: 14px;
  width: 100%;
  margin: 100px auto;
}

.ld-block {
  margin: 100px 0;
}

.ld-block--sm {
  margin: 50px 0;
}

.ld-is-public {
  margin: 100px auto;
}

.ld-public-pill {
  background-color: #1ECD97;
  color: #000;
  font-size: 16px;
  font-family: "Dialect Gothic A", sans-serif;
  border-radius: 10px;
  padding: 10px 19px 10px 57px;
  background-image: url(/static/img/icon-padlock-unlocked.svg);
  background-repeat: no-repeat;
  background-position: center left 19px;
  background-size: 21px;
  margin-right: 4px;
  user-select: none;
  margin-left: 30px;
  line-height: 40px;
}

.ld-info-tooltip {
  cursor: pointer;
  background-image: url(/static/img/icon-info.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-block;
  outline: 0;
  vertical-align: middle;
}

.ld-info-tooltip:hover .ld-info-tooltip-content {
  display: block;
}

.ld-info-tooltip-content {
  display: none;
  position: absolute;
  z-index: 1;
  min-width: 285px;
  text-align: left;
  background: #000;
  color: white;
  font-size: 16px;
  padding: 12px 20px;
  border-radius: 8px;
  left: -273px;
  top: -105px;
}

.ld-info-tooltip-content ul {
  margin: 5px 5px 0 0;
}

.ld-info-tooltip-content li {
  list-style-type: disc;
}

@media (min-width: 826px) {
  .ld-info-tooltip-content {
    left: 30px;
    top: -10px;
  }
}

.ad_banner {
  max-width: 700px;
  margin: 0 auto;
}

#sidebar li {
  list-style-type: none;
}

.right {
  font-weight: 700;
  font-size: 20px;
  margin-right: 1rem;
  float: right;
  margin-top: 1rem;
  cursor: pointer;
}

.small-container {
  max-width: 95%;
  width: 95%;
  margin: 0 auto;
}

/* Tabs (amp-selector) */
.ampTabContainer {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  font-family: "Dialect Gothic A", sans-serif;
}

.tabButton[selected] {
  outline: none;
  border-color: #fff;
  color: #FFF;
}

.tabButton {
  list-style: none;
  flex-grow: 1;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0.9rem;
  background: #39f;
  color: rgba(255, 255, 255, 0.7);
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-color: #39f;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  font-weight: 700;
  font-family: "Dialect Gothic A";
}

.tabContent {
  display: none;
  width: 100%;
  order: 1;
  border: 1px solid #ccc;
  background: #fbfbfb;
  border-radius: 0 0 10px 10px;
  padding: 24px;
}

.card-content .num-recomendados {
  color: #a4a4a4;
}

.tabButton[selected]+.tabContent {
  display: block;
}

amp-selector {
  font-size: 12px;
}

.amp-selector-custom div.tabButton {
  outline: none;
}

/* Cards */
.card .card-content {
  font-family: "Society FullTrial", serif;
  padding: 24px;
}

.card .card-content .card-title {
  display: block;
  line-height: 32px;
  margin-bottom: 8px;
}

.card .card-title {
  font-size: 24px;
  font-weight: 400;
}

.card-title {
  background: #39f;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  font-family: "Dialect Gothic A", sans-serif;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  margin: 0 auto;
}

.title-recomendados {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5rem;
}

.title-recomendados a {
  color: #000;
}

@media (min-width: 600px) {
  .card p {
    font-size: 1.25rem;
  }
}

.ld-card {
  transition: all .35s ease;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
}

.ld-card:hover {
  transition: all .15s ease;
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1);
}

.ld-card__img {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  display: block;
  width: 100%;
}

.ld-card__img-link {
  display: block;
}

.ld-card__body {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.ld-card__section {
  font-size: 12px;
  line-height: 17px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.ld-card__section a {
  text-decoration: none;
}

.ld-card__title {
  font-family: "Society FullTrial", serif;
  width: 100%;
  font-size: 19px;
  line-height: 24px;
  margin: 0 0 5px;
  font-weight: 500;
}

.ld-card__title--mb {
  margin-bottom: 16px;
}

.ld-card__title a {
  color: #000;
  font-weight: 500;
  text-decoration: none;
}

.ld-card__title a:hover {
  color: #404040;
}

.ld-card--sm {
  position: relative;
  overflow: hidden;
}

.ld-card--sm .ld-card__body {
  padding: 14px;
}

.ld-card--sm .ld-card__img {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.ld-card--sm .ld-card__img-sq {
  display: none;
  max-width: 115px;
  max-height: 115px;
  overflow: hidden;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 3px;
  border-top-left-radius: 0;
}

.ld-card__intro {
  font-family: "Society FullTrial", serif;
  line-height: 21px;
  font-size: 15px;
  margin: 0 0 16px 0;
}

.ld-card__intro p {
  margin: 0 0 15px 0;
}

.ld-card__intro p:last-child {
  margin-bottom: 0;
}

.ld-card__byline {
  font-family: "Dialect Gothic A", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #000;
  margin: auto 0 0;
  line-height: 1.5;
  position: relative;
}

.ld-card__byline a {
  color: #595959;
  text-decoration: none;
}

.ld-card__byline a:hover {
  text-decoration: underline;
}

.ld-card__byline-wrap {
  margin-bottom: 16px;
}

.ld-card__date {
  font-size: 12px;
  margin-top: 15px;
  margin-top: auto;
}

.ld-card__author {
  display: inline-block;
}

.ld-card__photoauthor {
  display: block;
}

/* Audio */
.ld-audio {
  text-align: center;
  padding: 19px;
  font-size: 18px;
  position: relative;
  overflow: hidden;
  border-top: 0.5px solid #ABABAB;
  border-bottom: 0.5px solid #ABABAB;
}

.ld-audio__overlay {
  font-family: "Dialect Gothic A";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: 300ms;
}

.ld-audio__overlay.active {
  opacity: 1;
  pointer-events: all;
}

.ld-audio__overlay-close-btn {
  position: absolute;
  right: 18px;
  top: 18px;
  border: none;
  background: none;
  cursor: pointer;
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0;
}

.ld-audio__overlay-close-btn svg {
  width: 100%;
  height: 100%;
  outline: none;
  transition: transform 0.3s linear;
}

.ld-audio__overlay-close-btn:focus {
  outline: default;
}

.ld-audio__overlay-close-btn:hover svg {
  transform: scale(1.1);
}

.ld-audio__overlay-close-btn::-moz-focus-inner {
  border: 0;
}

.ld-audio__overlay-content {
  max-width: 450px;
}

.ld-audio__overlay-title {
  color: white;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 500;
}

.ld-audio__overlay-links {
  font-size: 14px;
  color: white;
}

.ld-audio__overlay-links a {
  color: white;
  text-decoration: underline;
}

.ld-audio__audio {
  width: 100%;
  margin-bottom: 8px;
}

.ld-audio__title {
  font-family: "Dialect Gothic A";
  font-weight: 500;
  color: #000;
  font-size: 18px;
  margin-bottom: 24px;
}

.ld-audio__description {
  font-family: "Dialect Gothic A";
  font-weight: normal;
  font-size: 14px;
  color: #595959;
}

.ld-audio-block {
  margin: 0 20px;
  padding: 20px;
  max-width: 700px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

/* Section detail */
.section-detail__head {
  padding-top: 48px;
  margin-bottom: 30px;
}

.section-detail__toplink {
  transition: .1s ease-out;
  color: #7f7f7f;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  background-image: url(../img/icon-arrow-left.svg);
  background-repeat: no-repeat;
  background-position: top 2px left;
  padding-left: 13px;
  background-size: 8px;
  vertical-align: middle;
  display: inline-block;
}

.section-detail__toplink:hover {
  color: #7f7f7f;
  opacity: .85;
}

.section-detail__title {
  font-family: "Dialect Gothic A", sans-serif;
  font-size: 50px;
  line-height: 1.1;
  color: #000;
  font-weight: bold;
  margin: 0;
  hyphens: auto;
}

.section-detail__sub-cats {
  line-height: 18px;
}

.section-detail__header-sub-cat {
  text-transform: uppercase;
  font-family: "Dialect Gothic A", sans-serif;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  margin-right: 18px;
  color: #595959;
}

.section-detail__header-sub-cat[href$="/suplemento/"] {
  color: #E67E22;
}

.section-detail__header-sub-cat[href$="/suplemento/"]:hover {
  color: #C5691A;
}

.ld-grid-simple {
  width: 100%;
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr;
}

.ld-grid-simple__area .ld-card {
  height: 100%;
}

@media (min-width: 640px) {
  .ld-grid-simple {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

/* Related */
.ld-related {
  padding: 0 20px 48px;
}

.ld-related-inner-container {
  border-top: 0.5px solid #ABABAB;
}

.ld-related h2 {
  font-family: "Review Condensed", "Dialect Gothic A",
    sans-serif;
  font-size: 1.75rem;
  margin: 0;
  padding: 24px 0 16px;
}

.ld-related .section-detail__title {
  font-size: 1.75rem;
}

/* Related Article */
/* ─── Artículo genérico ──────────────────────────────────────────────────── */
.article {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.article:hover,
.article:hover a:not(.btn__dark) {
  color: #595959;
}

.article__article-image {
  display: flex;
}

.article__body {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
}

.article__section-label {
  text-transform: uppercase;
  letter-spacing: 0.96px;
  font-size: px-to-rem(12px);
  display: flex;
  align-items: center;
  gap: 8px;
}

.article__section-label span {
  display: flex;
}

.article__title {
  font-family: "Society FullTrial", serif;
  font-weight: 450;
  font-size: 1.125rem;
  line-height: 24.3px;
  margin: 0;
}

.article__summary {
  font-family: "Society FullTrial", serif;
  font-size: 0.9375rem;
  font-weight: 300;
  line-height: 1.35em;
}

.article__opinion-type {
  font-family: "Society FullTrial", serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1em;
}

.article__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  margin-top: auto;
}

.article__byline {
  font-family: "Society FullTrial", serif;
  font-size: 0.875rem;
}

.article__bookmark {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #81898b;
  margin-left: auto;
}

.article__image-link {
  display: flex;
}

.article__image {
  width: 100%;
  aspect-ratio: 3 / 2;
  object-fit: cover;
  height: auto;
}

.article a {
  text-decoration: none;
}

/* ─── Grid 3 columnas ────────────────────────────────────────────────────── */
.ld-grid-3-6 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 48px;
  row-gap: 32px;
}

.ld-grid-3-6>hr {
  grid-column: 1 / -1;
  border: none;
  border-top: 0.5px solid #ababab;
  margin: 0;
}

.ld-grid-3-6>article {
  position: relative;
}

.ld-grid-3-6>article::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: -24px;
  width: 0.5px;
  background: #ababab;
}

.ld-grid-3-6>article:nth-of-type(3n)::before {
  display: none;
}

@media (max-width: 992px) {
  .ld-grid-3-6 {
    grid-template-columns: repeat(6, 1fr);
    overflow-x: auto;
    gap: 16px;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .ld-grid-3-6::-webkit-scrollbar {
    display: none;
  }

  .ld-grid-3-6>hr {
    display: none;
  }

  .ld-grid-3-6>article {
    width: 17.75rem;
    position: relative;
  }

  .ld-grid-3-6>article::before {
    display: none;
  }
}


/* Buttons */
.subscribe,
#subscribe {
  background-color: #39f;
  color: #fff;
}

.subscribe {
  line-height: 30px;
  height: 30px;
  padding: 0 24px;
  margin: 0 auto;
  border-radius: 100px;
}

.btn,
.btn-large {
  box-shadow: none;
  text-transform: none;
  background: #000;
  color: white;
  text-decoration: none;
}

.btn,
.btn-large,
.btn-flat {
  border: none;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  line-height: normal;
  padding: 10px 24px;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  font-family: "Dialect Gothic A", sans-serif;
  font-size: 1rem;
}

.btn.bordered.white,
.bordered.white.btn-large {
  border: 2px solid white;
}


/* Grid / Materialize */
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}

.container .row {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.section.no-pad {
  padding: 0;
}

.section.no-pad-bot {
  padding-bottom: 0;
}

.section.no-pad-top {
  padding-top: 0;
}

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row .col {
  float: left;
  box-sizing: border-box;
  padding: 0 0.75rem;
  min-height: 1px;
}

.row .col[class*="push-"],
.row .col[class*="pull-"] {
  position: relative;
}

.row .col.s1 {
  width: 8.33333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s2 {
  width: 16.66667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s3 {
  width: 25%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s4 {
  width: 33.33333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s5 {
  width: 41.66667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s6 {
  width: 50%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s7 {
  width: 58.33333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s8 {
  width: 66.66667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s9 {
  width: 75%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s10 {
  width: 83.33333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s11 {
  width: 91.66667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s12 {
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.offset-s1 {
  margin-left: 8.33333%;
}

.row .col.offset-s2 {
  margin-left: 16.66667%;
}

.row .col.offset-s3 {
  margin-left: 25%;
}

.row .col.offset-s4 {
  margin-left: 33.33333%;
}

.row .col.offset-s5 {
  margin-left: 41.66667%;
}

.row .col.offset-s6 {
  margin-left: 50%;
}

.row .col.offset-s7 {
  margin-left: 58.33333%;
}

.row .col.offset-s8 {
  margin-left: 66.66667%;
}

.row .col.offset-s9 {
  margin-left: 75%;
}

.row .col.offset-s10 {
  margin-left: 83.33333%;
}

.row .col.offset-s11 {
  margin-left: 91.66667%;
}

.row .col.offset-s12 {
  margin-left: 100%;
}

@media only screen and (min-width: 601px) {
  .row .col.m1 {
    width: 8.33333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }

  .row .col.m2 {
    width: 16.66667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }

  .row .col.m3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
  }

  .row .col.m4 {
    width: 33.33333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }

  .row .col.m5 {
    width: 41.66667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }

  .row .col.m6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
  }

  .row .col.m7 {
    width: 58.33333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }

  .row .col.m8 {
    width: 66.66667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }

  .row .col.m9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto;
  }

  .row .col.m10 {
    width: 83.33333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }

  .row .col.m11 {
    width: 91.66667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }

  .row .col.m12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
  }

  .row .col.offset-m1 {
    margin-left: 8.33333%;
  }

  .row .col.offset-m2 {
    margin-left: 16.66667%;
  }

  .row .col.offset-m3 {
    margin-left: 25%;
  }

  .row .col.offset-m4 {
    margin-left: 33.33333%;
  }

  .row .col.offset-m5 {
    margin-left: 41.66667%;
  }

  .row .col.offset-m6 {
    margin-left: 50%;
  }

  .row .col.offset-m7 {
    margin-left: 58.33333%;
  }

  .row .col.offset-m8 {
    margin-left: 66.66667%;
  }

  .row .col.offset-m9 {
    margin-left: 75%;
  }

  .row .col.offset-m10 {
    margin-left: 83.33333%;
  }

  .row .col.offset-m11 {
    margin-left: 91.66667%;
  }

  .row .col.offset-m12 {
    margin-left: 100%;
  }
}

@media (min-width: 769px) {
  .container {
    max-width: 700px;
  }
}

/* Paywall */
#paywall {
  margin-bottom: 30px;
  border-radius: 10px;
}

#paywall.card {
  color: #000;
  text-align: center;
  border: none;
}

@-webkit-keyframes ld-slideDown {
  0% {
    -webkit-transform: translate3d(-50%, 45px, 0);
    transform: translate3d(-50%, 45px, 0);
  }

  25% {
    -webkit-transform: translate3d(-50%, 25px, 0);
    transform: translate3d(-50%, 25px, 0);
  }

  100% {
    -webkit-transform: translate3d(-50%, 100%, 0);
    transform: translate3d(-50%, 100%, 0);
  }
}

@keyframes ld-slideDown {
  0% {
    transform: translate3d(-50%, 45px, 0);
  }

  25% {
    transform: translate3d(-50%, 25px, 0);
  }

  100% {
    transform: translate3d(-50%, 100%, 0);
  }
}

.ld-snackbar {
  text-align: center;
  background-color: transparent;
  bottom: 0;
  color: #000;
  font-family: "Dialect Gothic A", sans-serif;
  position: fixed;
  width: 99%;
  z-index: 1010;
  font-weight: 400;
  overflow: hidden;
  padding-top: 0;
  -webkit-backface-visibility: hidden;
  left: 50%;
  padding-bottom: 30px;
  border-top: 1px solid #ABABAB;
  border-bottom: 1px solid #ABABAB;
  transform: translate3d(-50%, 45px, 0);
  animation-duration: 400ms;
  animation-name: ld-slideDown;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.33, 0.07, 0, 0.98);
}

.ld-snackbar p.desc {
  color: #000;
  font-size: 16px;
}

.ld-snackbar .btn.bordered {
  font-size: 18px;
  text-transform: uppercase;
  padding: 14px 23px 13px;
  line-height: 1;
  height: auto;
  background: none;
  border: 2px solid #000;
  color: #000;
}

.ld-snackbar--static {
  position: static;
  animation: none;
  transform: none;
  margin: 32px auto;
  border-bottom: 0;
  padding-bottom: 25px;
  max-width: 90%;
  margin-bottom: 100px;
}

@media (min-width: 700px) {
  .ld-snackbar--static {
    max-width: 700px;
  }
}

.ld-snackbar--static .ld-snackbar__col {
  padding-bottom: 40px;
}

.ld-snackbar--narrow .ld-snackbar__text {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.ld-snackbar--active {
  animation: none;
}

.ld-snackbar__body {
  padding: 25px 25px 0;
}

.ld-snackbar__block {
  margin-bottom: 20px;
}

.ld-snackbar__block:last-of-type {
  margin-bottom: 0;
}

.ld-snackbar__title {
  font-family: "Review Condensed", "Dialect Gothic A",
    sans-serif;
  text-align: center;
  padding: 15px 40px;
  font-size: 1.625rem;
  line-height: normal;
  font-weight: 500;
}

.ld-snackbar__cross {
  display: none;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.ld-snackbar__benefit {
  margin-bottom: 25px;
  font-size: 15px;
}

.ld-snackbar__login-area {
  color: #000;
}

.ld-snackbar__login-area a {
  color: #000;
  text-decoration: underline;
}

.ld-snackbar__btn {
  margin: 0 auto 10px auto;
  max-width: 320px;
  font-size: 18px;
  min-width: 170px;
}

.ld-snackbar__btn--white.ld-snackbar__btn {
  color: #ffffff;
  display: inline-block;
  background-color: #000;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
}

.ld-snackbar strong {
  font-weight: 500;
}

.ld-snackbar__close {
  cursor: pointer;
  color: white;
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
  background: none;
  outline: 0;
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  vertical-align: middle;
  width: 36px;
  height: 36px;
}

.ld-snackbar__close i {
  line-height: 34px;
  height: 36px;
  vertical-align: middle;
}

.ld-snackbar .row {
  margin-bottom: 0;
}

#notification-subscribe1,
#notification-subscribe2 {
  display: block;
  bottom: 0;
  position: relative;
  left: 0;
  transform: none;
  margin: 32px 0;
  width: auto;
}

@media (min-width: 740px) {

  #notification-subscribe1,
  #notification-subscribe2 {
    margin: 0 auto;
    max-width: 700px;
  }
}

/* Subscribe box */
.ld-subscribe-box-wrap {
  margin: 100px auto;
  text-align: center;
  padding: 0 20px;
}

@media (min-width: 390px) {
  .ld-subscribe-box-wrap {
    padding: 0;
  }
}

.ld-subscribe-box {
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  padding: 16px 0;
  display: inline-block;
  border-top: 0.5px solid #ABABAB;
  border-bottom: 0.5px solid #ABABAB;
}

.ld-subscribe-box__title {
  font-weight: 500;
  margin: 0 0 8px 0;
  line-height: 1;
  font-size: 18px;
  font-family: "Dialect Gothic A", sans-serif;
  display: block;
}

.ld-subscribe-box__info {
  font-weight: 400;
  color: #000;
  font-size: 16px;
  margin: 0 0 18px;
}

.ld-subscribe-box__login {
  font-size: 14px;
  color: #000;
}


@media (min-width: 1000px) {
  .ld-subscribe-box__login {
    padding: 5px 0;
  }
}

.ld-subscribe-box__login.ld-text-secondary p {
  font-size: 16px;
  margin-bottom: 8px;
}

.ld-subscribe-box__login .ld-btn-dark-bordered--sm {
  color: #000;
  text-decoration: none;
  border: 2px solid #000;
  border-radius: 100px;
  padding: 12px 19px 11px;
  font-size: 14px;
  line-height: 1;
  height: auto;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
}

.ld-caption-subscribe-to-comment {
  display: block;
  text-align: center;
  font-size: 14px;
}

.ld-caption-subscribe-to-comment a,
.ld-caption-subscribe-to-comment a:hover {
  color: #595959;
  text-decoration: underline;
}

/* Mid-article notice */
.mid-article-notice {
  text-align: center;
  position: relative;
  padding: 20px 0;
  font-family: "Review Condensed", "Dialect Gothic A",
    sans-serif;
  font-size: 1.125rem;
  line-height: normal;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-top: 0.5px solid #ABABAB;
  border-bottom: 0.5px solid #ABABAB;
}

.mid-article-notice p {
  margin: 0;
  font-family: "Review Condensed", "Dialect Gothic A",
    sans-serif;
  font-size: 1.125rem;
}

.mid-article-notice a {
  font-weight: bold;
}

.mid-article-notice:before {
  top: 0;
}

.mid-article-notice:after {
  bottom: 0;
}

.mid-article-notice .ut-btn-outline {
  background: transparent;
  padding: 8px 18px;
  color: #000;
  font-family: "Dialect Gothic A", sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 100px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  font-weight: bold;
}

.mid-article-notice .ut-btn.disabled {
  font-family: "Dialect Gothic A", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 20px;
  background: #000;
  border-radius: 100px;
  display: inline-block;
  outline: none;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border: none;
  transition: background .35s ease, color .35s ease, box-shadow .35s ease;
}

/* Talk (comments) */
.talk-login {
  margin-top: 30px;
}

.talk-login.active {
  display: block;
}

.talk-login .title {
  display: block;
  margin-bottom: 10px;
}

/* Signupwall header */
.signupwall-header {
  display: flex;
  padding: 16px;
  justify-content: center;
  background: #8ebbff;
}

.signupwall-header p {
  margin: 0;
  font-size: 1rem;
}

.signupwall-header button {
  position: absolute;
  right: 48px;
  background: transparent;
  border: none;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 280px) {
  .signupwall-header {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .signupwall-header {
    padding: 8px 16px;
  }

  .signupwall-header button {
    display: none;
  }
}

/* Feedback form */
.send-feedback {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 30px;
}

.send-feedback p {
  margin: 0;
  font-family: "Dialect Gothic A", sans-serif;
  font-size: 12px;
}

.send-feedback p:first-child {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}
