<nav class="navbar nav-edition">
  {% if is_portada %}
  <ul class="navbar-nav nav nav_edition">
  	{% with edition.previous_edition as previous_edition %}
    {% if previous_edition %}
    <li class="prev_edition">
      <a href="{{ previous_edition.get_absolute_url }}" title="Ver edición del {{ previous_edition.date_published|date:"d \d\e F \d\e Y" }}"><span class="fa fa-arrow-left"></span></a>
    </li>
    {% endif %}
    {% endwith %}
    <li class="current_edition">
    	<a data-anio="{{ edition.date_published|date:"Y" }}" data-mes="{{ edition.date_published|date:"m" }}" href="#choose_edition" data-toggle="modal" data-target="#choose_edition" title="Fecha de la edición de portada. Hacé click para ver otras ediciones.">{{ edition.date_published|date:"d \• M \• Y" }}</a>
    </li>
    {% if edition and perms.core.change_edition %}
	<li class="edit_icon inplace_edit_show">
		 <a class="edit_link" href="{% url 'admin:core_edition_change' edition.id %}" title="Editar edición en admin"><span class="fa fa-edit"></span></a>
    </li>
    {% endif %}
    {% with edition.next_edition as next_edition %}
    {% if next_edition %}
    <li class="next_edition">
    	<a href="{{ next_edition.get_absolute_url }}" title="Ver edición del {{ next_edition.date_published|date:"d \d\e F \d\e Y" }}"><span class="fa fa-arrow-right"></span></a>
    </li>
    {% endif %}
    {% endwith %}
  </ul>
  {% endif %}
</nav>
