{% load homev3_tags thedaily_tags %}

{% if show_search %}
<div class="mobile-header-search">
  <form action="{% url 'search' %}" method="get" role="search">
    <input type="search" name="q" class="mobile-header-search__input" placeholder="Buscar" autocomplete="off" aria-label="Buscar">
    <button type="submit" class="mobile-header-search__submit" aria-label="Buscar">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" viewBox="0 0 32 32"><path stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-opacity=".3" stroke-width="1.5" d="m14 20 4-4-4-4"/></svg>
    </button>
  </form>
</div>
{% endif %}

{% if not is_subscriber_any %}
  <div class="mobile-login-items">
    {% if not user.is_authenticated %}
      <a class="btn" href="{% url 'account-login' %}?next={% if request.path in LOGIN_NO_REDIRECT_URLPATHS %}{% url 'home' %}{% else %}{% login_next_url request.path %}{% endif %}">Ingresar</a>
    {% endif %}
    {% if not is_subscriber_any %}
      <a href="{% url 'subscribe_landing' %}" class="btn btn__dark">Suscribite</a>
    {% endif %}
  </div>
{% endif %}

<div class="ld-main-menu__col">
  <div class="ld-main-menu__block">
    <h2 class="ld-main-menu__title">Inicio</h2>
    <ul class="navmenu-list">
      <li class="">
        <a href="{{ default_pub.get_absolute_url }}">Portada</a>
      </li>
    </ul>
  </div>
  {% if is_subscriber_any %}
    <div class="ld-main-menu__block">
      <h2 class="ld-main-menu__title">Tu cuenta</h2>
      <ul class="navmenu-list  ld-menu-list">
        <li class="">
          <a href="{% url 'edit-profile' %}">Perfil</a>
        </li>
        {% if user.is_staff %}
          <li class="">
            <a href="//{{ site.domain }}/admin/">Admin</a>
          </li>
        {% endif %}
        {% block extra_your_account %}{% endblock %}
        {% if poll_url %}
          <li class=""><a href="{{ poll_url }}" rel="noreferrer noopener">Danos tu opinión</a></li>
        {% endif %}
        <li class="">
          <a href="{% url 'account-logout' %}">Cerrar sesión</a>
        </li>
      </ul>
    </div>
    <div class="ld-main-menu__block">
      <h2 class="ld-main-menu__title">Lista de <span>lectura</span></h2>
      <ul class="navmenu-list ">
        <li class="">
          <a href="{% url 'lista-lectura-leer-despues' %}">Guardados</a>
        </li>
        <li class="">
          <a href="{% url 'lista-lectura-historial' %}">Historial</a>
        </li>
      </ul>
    </div>
  {% elif user.is_authenticated %}
    <div class="ld-main-menu__block">
      <h2 class="ld-main-menu__title">Tu cuenta</h2>
      <ul class="navmenu-list ">
        <li><a href="{% url 'edit-profile' %}">Perfil</a></li>
        {% if not is_subscriber_any %}
          <li><a href="{% url 'subscribe-default' %}?utm_source=web&utm_medium=headerbtn">Suscribite</a></li>
        {% endif %}
        {% if poll_url %}
          <li><a href="{{ poll_url }}" rel="noreferrer noopener">Danos tu opinión</a></li>
        {% endif %}
        <li><a href="{% url 'account-logout' %}">Cerrar sesión</a></li>
      </ul>
    </div>
    <div class="ld-main-menu__block">
      <h2 class="ld-main-menu__title">Lista de <span>lectura</span></h2>
      <ul class="navmenu-list ">
        <li class="">
          <a href="{% url 'lista-lectura-leer-despues' %}">Leer después <span class="num">{{ user|count_following }}</span></a>
        </li>
        <li class="">
          <a href="{% url 'lista-lectura-favoritos' %}">Favoritos</a>
        </li>
        <li class="">
          <a href="{% url 'lista-lectura-historial' %}">Historial</a>
        </li>
      </ul>
    </div>
  {% else %}
  {% endif %}
</div>

<div class="ld-main-menu__col">
  {% if MENU_CATEGORIES %}
    <div class="ld-main-menu__block">
      <h2 class="ld-main-menu__title">Áreas</h2>
      <ul class="navmenu-list">
        {% for category in MENU_CATEGORIES.keys %}
          <li class="">
            <a href="{% url 'home' domain_slug=category.slug %}">{{ category|capfirst }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</div>
{% comment "" %}
<div>
  {% if MENU_PUBLICATIONS %}
    <span class="ld-main-menu__title">Emergentes</span>
    <ul class="navmenu-list">
      {% for pub in MENU_PUBLICATIONS %}
        <li class="">
          <a href="{{ pub.get_absolute_url }}">
            {% if pub.slug in HOMEV3_MENU_PUBLICATIONS_USE_HEADLINE %}
              {{ pub.headline }}
            {% else %}
              {{ pub }}
            {% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
{% endcomment %}
{% block extra_items %}{% endblock %}

{% block custom_extra %}{% endblock %}
