{% extends "base.html" %}
{% load activity_tags avatar_tags %}

{% block page_title %}Perfil de Suscriptor{% endblock %}
{% block page_description %}Los suscriptores tienen perfil web que es solo visible para la comunidad de suscritores de la diaria.{% endblock %}
{% block body_class %}profile{% endblock %}

{% block page_header %}
  <header class="nav-extended main">
    <div class="nav-wrapper container">
      <h1 class="section-title">Comunidad la diaria</h1>
      <div class="tagline mini">Perfil de usuario.</div>
    </div>
  </header>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12">
      {% if user.is_authenticated %}
        <section class="section">
          <h2>Perfil</h2>
          <div class="divider"></div>
          <section>
            <h3>Community profile data</h3>
            <p>empty</p>
          </section>
        </section>
      {% endif %}
    </div>
  </div>
{% endblock %}
