{% load static %}

{% if big_photo %}
  <div class="section-big-photo frontpage-section">
    <div class="section-detail__head container">
      <h2 class="section-detail__title">Foto destacada</h2>
    </div>
    <figure>
      <picture>
        <source srcset="{{ big_photo.get_fullscreen_url }}" media="(min-width: 1921px)">
        <source srcset="{{ big_photo.get_1920w_url }}" media="(min-width: 1441px)">
        <source srcset="{{ big_photo.get_1440w_url }}" media="(min-width: 1201px)">
        <source srcset="{{ big_photo.get_1200w_url }}" media="(min-width: 901px)">
        <source srcset="{{ big_photo.get_900w_url }}" media="(min-width: 701px)">
        <source srcset="{{ big_photo.get_700w_url }}" media="(min-width: 0px)">
        <img class="big-photo__img" alt="{{ big_photo.caption }}" loading="lazy"
             width="700"{% if big_photo.extended.image_file_exists %} height="{{ big_photo.get_700w_size.1 }}"{% endif %}>
      </picture>
      <figcaption class="big-photo__caption ld-caption">
        <div class="big-photo__description">
          <div class="container">{{ big_photo.caption }}</div>
        </div>
        <div class="big-photo__credit">
          <div class="container">
            <p>{{ big_photo.date_taken }}</p>
            {% if big_photo.extended.photographer %}
              <p>{{ big_photo.extended.get_type_display }}: {{ big_photo.extended.photographer }}</p>
            {% endif %}
          </div>
        </div>
      </figcaption>
    </figure>
    {% block footer %}{% endblock %}
  </div>
{% endif %}
