{% load static bleach_tags core_tags homev3_tags adzone_tags ldml %}

<section class="frontpage-section" data-template="category_grid" id="home-category-{{ fcategory.name|lower }}">
  <div class="container">

    <div class="section-detail__head"><h2 class="section-detail__title">{{ fcategory.name|capfirst }}</h2></div>

    <div class="ld-grid-main ld-grid-main--two-cols ld-section-home">

      {% if category_cover_article %}

        <div class="ld-grid-area area-main grid-home">
          <div class="ld-card ld-card--big ld-card--{{ category_cover_article.type }}{% block cover_article_extra_class %}{% endblock %}">
            {% render_toolbar_for category_cover_article %}
            {% block image %}{# TODO: check if needed #}
              {% if category_cover_article.photo_render_allowed %}
                <a href="{{ category_cover_article.get_absolute_url }}">
                  <figure  data-src="{{ category_cover_article.photo.get_1200w_url }}">
                    <picture>
                      <source srcset="{{ category_cover_article.photo.get_1200w_url }}" media="(min-width: 700px)">
                      <source srcset="{{ category_cover_article.photo.get_700w_url }}" media="(min-width: 0)">
                      <img class="ld-card__img" loading="lazy" title="{{ category_cover_article.photo_caption }}"
                            width="700" height="{{ category_cover_article.photo.get_700w_size.1 }}"
                            alt="{{ category_cover_article.photo_caption }}">
                    </picture>
                  </figure>
                </a>
              {% endif %}
            {% endblock %}
            <div class="ld-card__body">
              <div class="ld-card__section">
                {% block cover_article_section %}
                  {% autoescape off %}{% render_hierarchy category_cover_article %}{% endautoescape %}
                {% endblock %}
                {% with article=category_cover_article %}
                  {% include 'article/article_card_lock_tooltip.html' %}
                {% endwith %}
              </div>
              <h3 class="ld-card__title">
                <a href="{{ category_cover_article.get_absolute_url }}">
                  {{ category_cover_article.headline|ldmarkup|bleach }}
                </a>
              </h3>
              {% if category_cover_article.home_lead %}
                <div class="ld-card__intro">
                  {{ category_cover_article.home_lead|ldmarkup|bleach }}
                </div>
              {% endif %}
              <div class="ld-card__byline">
                {% if CORE_ARTICLE_ENABLE_PHOTO_BYLINE and category_cover_article.photo_author %}
                  <div class="ld-card__photoauthor">
                    {{ category_cover_article.photo_type }}: {{ category_cover_article.photo_author }}
                  </div>
                {% endif %}
                {% with authors=category_cover_article.get_authors %}
                  {% if authors %}
                    <div class="ld-card__author">
                      {% for author in authors %}
                        <a href="{{ author.get_absolute_url }}">{{ author }}</a>
                        {% if not forloop.last %}, {% endif %}
                      {% endfor %}
                    </div>
                  {% endif %}
                {% endwith %}
                {% if not hide_date_published %}
                  {% autoescape off %}{% date_published_verbose category_cover_article %}{% endautoescape %}
                {% endif %}
                {% with a=category_cover_article %}{% include 'article/article_card_read_later.html' %}{% endwith %}
              </div>
            </div>
          </div>
        </div>

      {% endif %}

      <div class="ld-grid-area area-third">
        {% for a in category_destacados|slice:":5" %}
          <div class="ld-card ld-card--sm{% if a.photo.extended.square_version %} ld-card--has-img{% endif %}
                      ld-card--{{ a.type }}{% block destacados_right_extra_class %}{% endblock %}">
            {% render_toolbar_for a %}
            {% if a.photo_render_allowed %}
              <a href="{{ a.get_absolute_url }}" class="ld-card__img-link">
                <img class="ld-card__img" src="{{ a.photo.get_700w_url }}" loading="lazy" alt="{{ a.photo_caption }}"
                      title="{{ a.photo_caption }}" width="700" height="{{ a.photo.get_700w_size.1 }}">
              </a>
            {% endif %}
            <div class="ld-card__body">
              <div class="ld-card__section">
                {% block destacados_right_section %}
                  {% autoescape off %}{% render_hierarchy a %}{% endautoescape %}
                {% endblock %}
                {% with article=a %}{% include 'article/article_card_lock_tooltip.html' %}{% endwith %}
              </div>
              <h3 class="ld-card__title ld-card__title--mb">
                <a href="{{ a.get_absolute_url }}">{{ a.headline|ldmarkup|bleach }}</a>
              </h3>
              {% if a.home_lead or a.deck %}
                <div class="ld-card__intro hide-on-med-and-up">
                  {{ a.home_lead|default:a.deck|ldmarkup|bleach }}
                </div>
              {% endif %}
              <div class="ld-card__byline">
                {% with authors=a.get_authors %}
                  {% if authors %}
                    <div class="ld-card__author">
                      {% for author in authors %}
                        <a href="{{ author.get_absolute_url }}">{{ author }}</a>
                        {% if not forloop.last %}, {% endif %}
                      {% endfor %}
                    </div>
                  {% endif %}
                {% endwith %}
                {% if not hide_date_published %}
                  {% autoescape off %}{% date_published_verbose a %}{% endautoescape %}
                {% endif %}
                {% include 'article/article_card_read_later.html' %}
              </div>
            </div>
            {% if a.photo.extended.square_version %}
              <a class="ld-card__img-sq" href="{{ a.get_absolute_url }}">
                <img class="ld-card__img" width="700" height="700" loading="lazy"
                    title="{{ a.photo_caption }}" alt="{{ a.photo_caption }}"
                    src="{{ MEDIA_URL }}photologue/photos/{{ a.photo.extended.get_square_version_filename }}">
              </a>
            {% endif %}
          </div>
        {% endfor %}
      </div>

      <div class="ld-grid-clear"></div>

    </div>

    <div class="row footer-section">
      <div class="col s12">
        <a href="{% url 'home' domain_slug=fcategory.slug %}" class="ut-btn ut-btn-outline">más {{ fcategory }}</a>
      </div>
    </div>

  </div>
</section>
