{% load core_tags homev3_tags adzone_tags static %}

<div id="bn-module"></div>

{% if event %}
  {% if event.is_free or is_subscriber_any %}
    {% include 'cartelera/live_embed_event.html' %}
  {% elif user.is_authenticated %}
    {% include 'cartelera/live_embed_event_private.html' %}
  {% else %}
    {% include 'cartelera/live_embed_event_anon.html' %}
  {% endif %}
{% endif %}

{% if cover_article %}
  {% render_article_card article=cover_article media=cover_article.home_display card_size="FF" %}
{% endif %}

{% if publication == default_pub and not is_subscriber_default %}
  <div class="frontpage-section frontpage-section--white frontpage-section--ad frontpage-section">
    <div class="container">
      <section id="header-pub" class="col s12 center-align"></section>
    </div>
  </div>
{% endif %}

{% if mas_leidos %}
  <section id="mas-leidos" class="frontpage-section frontpage-section--white">
    <div class="container">
      <div class="row">
        <div id="mas-leidos-content" class="col s12"></div>
      </div>
    </div>
  </section>
{% endif %}

{% block featured_content %}{% endblock %}

{% if destacados|length > 11 %}
  <div class="frontpage-section">
    <div class="container">
      <div class="section-detail__head">
        <h3 class="section-detail__title">Más destacados</h3>
      </div>
      {% for top_index_val in "159" %}
        {% render_section None top_index=top_index_val|add:"10" %}
      {% endfor %}
    </div>
  </div>
{% endif %}

{% block extra_cover %}{% endblock %}

{% block footer_scripts %}{% endblock %}
