{% load core_tags homev3_tags adzone_tags static %}

<div id="bn-module"></div>

{% if event %}
  {% if event.is_free or is_subscriber_any %}
    {% include 'cartelera/live_embed_event.html' %}
  {% elif user.is_authenticated %}
    {% include 'cartelera/live_embed_event_private.html' %}
  {% else %}
    {% include 'cartelera/live_embed_event_anon.html' %}
  {% endif %}
{% endif %}

{% if edition.editionheader %}
  <section id="edition-header">
    <div class="container">
      <span class="main-title">{{ edition.editionheader.title }}</span>
      <span class="subtitle">{{ edition.editionheader.subtitle }}</span>
    </div>
  </section>
{% endif %}

{% block cover_cards %}
  {% if cover_article %}
    {% with prefetched_article_data=True %}
      {% render_article_card article=cover_article media=cover_article.home_display card_size="FF" %}
    {% endwith %}
  {% endif %}
{% endblock %}

{% if user.is_authenticated %}
  {% include 'pwa-module.html' %}
{% endif %}

{% if allow_ads and not is_subscriber %}
  <div class="frontpage-section frontpage-section--white frontpage-section--ad frontpage-section">
    <div class="container">
      <section id="header-pub" class="col s12 center-align"></section>
    </div>
  </div>
{% endif %}

{% if mas_leidos %}
  <section id="mas-leidos" class="frontpage-section frontpage-section--white">
    <div class="container">
      <div class="row">
        <div id="mas-leidos-content" class="col s12" data-url="{% url 'mas_leidos_content' %}"></div>
      </div>
    </div>
  </section>
{% endif %}

{% block featured_content %}{% endblock %}

{% block cover_cards_more %}
  {% if destacados|length > 10 %}
    {% with prefetched_article_data=True %}
      <div id="mas-destacados-home" class="frontpage-section">
        <div class="container">
          <div class="section-detail__head">
            <h2 class="section-detail__title">Más destacados</h2>
          </div>
          {% for top_index_val in "159" %}
            {% render_section None top_index=top_index_val|add:"9" %}
          {% endfor %}
        </div>
      </div>
    {% endwith %}
  {% endif %}
{% endblock %}

{% block extra_cover %}{% endblock %}

{% block footer_scripts %}{% endblock %}
