<aside id="edition_fixed" class="navbar navbar-fixed-bottom visible-md visible-lg fade">
  <div class="container">
    <div class="row">
      {% include "edition/nav.html" %}
      <nav id="sub-navigation-fixed" class="span10 navbar" data-offset="30">
        <ul class="nav nav navbar-nav">
          <li><a href="#portada" title="Portada" class="btn">Portada</a></li>
          {% for section in sections %}
          <li><a href="#{{section.name|slugify}}" title="{{section.name}}" class="btn">{{section.name}}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</aside>

<!-- EDITION SELECTION MODAL -->
<div id="choose_edition" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <p class="likeh1">Archivo <em>la diaria</em></p>
          <a href="#"><span class="icon-close" data-dismiss="modal"></span></a>
          <p>Estás leyendo la edición del: <strong>{{ edition.date_published|date:"l d \d\e F \• y"|capfirst }}</strong>
        </div>
        <div class="response alert hidden">
        </div>
        <p class="likeh2">Archivo</p>
        <div class="row">
          <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="anios">
              <h3>Año</h3>
              <ul class="nav nav-pills">
                {% for anio in anios %}
                <li data-anio="{{ anio }}">
                  <a title="Ver año {{ anio }}">{{ anio }}</a>
                </li>
                {% endfor %}
              </ul>
            </div>  
            <div class="meses">
              <h3>Mes</h3>
              <ul class="nav nav-pills">
                {% for mes in meses %}
                <li data-mes="{{ mes.1 }}">
                  <a title="Ver mes de {{ mes.0 }}">{{ mes.0 }}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div id="edition_calendar" class="col-xs-8 col-sm-8 col-md-8">
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

{% block javascript %}

  <script type="text/javascript">
    jQuery(document).ready(function ($) {
      $(function () {

        /* ESCONDER SECCIONES VACIAS EN EL INDEX */

        //TODO hacerlo solo en el index - DONE
        $('#sub-navigation-fixed a').each(function () {
            var $section = $(this);
            if ($('.section_module' + $section.attr('href')).length === 0 
              && $section.attr('href') != '#content') {
                $section.parent().remove()
            }
        });

        var $modal = $('#choose_edition');

        $('.current_edition a').on('click', function () {
            //$('body').modalmanager('loading');
            var $current_edition = $(this);
            var $calendar = $('#edition_calendar');
            var anio = $current_edition.attr('data-anio');
            var mes = $current_edition.attr('data-mes');
            $calendar.load('/ediciones/' + anio + '/' + mes + '/', '', function () {
                $modal.modal();
                $('#edition_calendar table').addClass('table');
            });

            var $choose_edition = $('#choose_edition');

            $choose_edition.find('.anios li[data-anio=' + anio + ']').addClass('active');
            $choose_edition.find('.meses li[data-mes=' + mes + ']').addClass('active');


            $anos = $choose_edition.find('.anios li');
            $anos.click(function () {
                anio = $(this).attr('data-anio');
                $anos.removeClass('active');
                $(this).addClass('active');
                $calendar.load('/ediciones/' + anio + '/' + mes + '/', '', function () {
                  $('#edition_calendar table').addClass('table');
                });
            });
            $meses = $choose_edition.find('.meses li')
            $meses.click(function () {
                mes = $(this).attr('data-mes');
                $meses.removeClass('active');
                $(this).addClass('active');
                $calendar.load('/ediciones/' + anio + '/' + mes + '/', '', function () {
                  $('#edition_calendar table').addClass('table');
                });
            });
        });
      })
    })
  </script>

{% endblock %}
