{% extends "base.html" %}
{% load static core_tags homev3_tags compress %}

{% block page_title %}{% publication_title %}{% endblock %}

{% block meta_og_title %}
  <!-- Open Graph (http://ogp.me) -->
  <meta property="og:title" content="{% publication_title %}">
{% endblock %}

{% block css %}
  <link href="{% static 'sass/main.scss' %}" media="screen" rel="stylesheet" type="text/x-scss" charset="utf-8">
  {# TODO: los estilos del cover grid están en category/detail.scss pero deberían extraerse a un archivo agnóstico (ej: cover_grid.scss) que puedan importar tanto category/detail.scss como este template #}
  <link href="{% static 'sass/category/detail.scss' %}" media="screen" rel="stylesheet" type="text/x-scss" charset="utf-8">
  <link href="{% static 'sass/components/nl_switch.scss' %}" media="screen" rel="stylesheet" type="text/x-scss" charset="utf-8">
  <link href="{% static 'sass/category-and-publication.scss' %}" media="screen" rel="stylesheet" type="text/x-scss" charset="utf-8">
{% endblock %}

{% block body_class %}{{ publication.slug }}-pub{% endblock %}

{% block header_classes %}category-pub-header{% endblock %}

{% block content %}

  {% block cover_grid %}
    {% include cover_grid_template|default:'category/cover_grid.html' %}
  {% endblock %}

  {% block cover_ads %}
    {% if allow_ads and not is_subscriber %}
      <section id="header-pub" data-ad-url="{% url 'adzone_ad_content' %}?publication={{ publication.slug }}">
        <div class="ad_banner"></div>
      </section>
    {% endif %}
  {% endblock %}

  {% for section in featured_sections %}
    {% render_section section %}
  {% endfor %}

  {% block news_walls %}
    {% if news_wall_enabled %}
      {% include 'news_wall.html' %}
    {% endif %}
  {% endblock %}

  {% block after_cover %}{% endblock %}

  {% include bigphoto_template %}

{% endblock %}

{% block javascript %}
  {% if allow_mas_leidos %}<script src="{% static 'js/most_read.js' %}"></script>{% endif %}
  {# TODO: Cargar el script sólo si el NL está desactivado #}
  {% compress js %}
    <script src="{% static 'js/switch_change_events.js' %}"></script>
  {% endcompress %}

  <script>
    // NL_HEADER_CONFIG is used by nl_header_subscribe_init() for the header newsletter button
    window.NL_HEADER_CONFIG = {
      isAnonymous: {{ user.is_anonymous|yesno:"true,false" }},
      isSubscribed: {{ category_nl_subscribed|yesno:"true,false" }},
      subscribeUrl: "{% url 'nl-auth-subscribe' nltype='p' nlslug=publication.slug %}",
      dataKey: "nl_subscribe",
      anonymousMessage: "Iniciá sesión para recibir el newsletter",
      successMessage: "Newsletter activada",
      subscribeMessage: "Recibir newsletter de {{ publication }}"
    };
    document.addEventListener('DOMContentLoaded', function() {
      switch_change_events(document.querySelectorAll('.cover-newsletter__switch'));
      nl_header_subscribe_init();

      // Load publication header ad content
      fetch("{% url 'adzone_ad_content' %}?publication={{ publication.slug }}")
        .then(function(response) { return response.text(); })
        .then(function(html) {
          var el = document.getElementById('header-pub');
          if (el) el.innerHTML = html;
        });
    });
  </script>
{% endblock %}

{% block footer_scripts %}{% include bn_module_footer_scripts_template %}{% endblock %}
