{% extends "base.html" %}
{% load static core_tags homev3_tags %}

{% block page_title %}{% publication_title %}{% endblock %}

{% block meta_og_title %}
  <!-- Open Graph (http://ogp.me) -->
  <meta property="og:title" content="{% publication_title %}">
{% endblock %}

{% block css %}
  <link href="{% static 'sass/main.scss' %}" media="screen" rel="stylesheet" type="text/x-scss" charset="utf-8">
{% endblock %}

{% block body_class %}{{ publication.slug }}-pub{% endblock %}

{% block content %}

  {% if publication.is_emergente %}
    <div class="container container--wide">
      <div class="section-detail__head">
        <h1 class="section-detail__title">{{ publication.name|capfirst }}</h1>
        <div class="section-detail__sub-cats">
          <ul class="section-detail__sub-cats-list">
            {% for section in publication.primary_sections %}
              <li><a class="section-detail__header-sub-cat" href="{% url 'section_detail' section_slug=section.slug %}">{% section_name_in_publication_menu publication section %}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  {% endif %}
  {% render_cover %}

  {% for section in featured_sections %}
    {% render_section section %}
  {% endfor %}

  {# news wall commented out due to performance issues #}
  {# include 'news_wall.html' #}
  {% include bigphoto_template %}

{% endblock %}

{% block footer_scripts %}
  <script>
    $(document).ready(function(){
      resizeSubnav($('.section-detail__sub-cats'), $('.section-detail__sub-cats-list'), 2);
      resizeSubnav($('.section-subheader .submenu'), $('.submenu--list'), 1);
      $('#header-pub').load("{% url 'adzone_ad_content' %}?publication={{ publication.slug }}");
      $('#bn-module').load("{% url 'bn-content' %}?publication={{ publication.slug }}", function(response){
        if(response){
          $('.breaking-notice').find('.btn-close').click(function(){
            var notification = $(this).parent().parent();
            $.get('/' + $(this).attr('data-object') + '/' + $(this).attr('data-id') + '/closed/', function(data){
              notification.toggle();
            });
          });
        }
      });
    });
  </script>
{% endblock %}
