{% extends "base.html" %}
{% load static core_tags homev3_tags thumbnail %}

{% block page_title %}{{ site.name }} | Noticias de Uruguay y el mundo{% endblock %}

{% block meta_og_title %}
  <!-- Open Graph (http://ogp.me) -->
  <meta property="og:title" content="{{ site.name }} | Noticias de Uruguay y el mundo">
{% endblock %}

{% block json_ld_extra %}
  "potentialAction": {
      "@type": "SearchAction",
      "target": "https://ladiaria.com.uy/buscar/?q={search_term_string}",
      "query-input": "required name=search_term_string"
  },
{% endblock %}

{% block css %}
  <link href="{% static 'sass/main.scss' %}" media="screen" rel="stylesheet" type="text/x-scss" charset="utf-8">
{% endblock %}

{% block header_scripts %}
  <script type="text/javascript">
    $(function(){
      $('#mas-leidos-content').load("{% url 'mas_leidos_content' %}", function(){
        $('ul.tablist').tabs();
      });
      $('#header-pub').load("{% url 'adzone_ad_content' %}");
      $('#bn-module').load("{% url 'bn-content' %}?publication={{ publication.slug }}", function(response){
        if(response){
          $('.breaking-notice').find('.btn-close').click(function(){
            var notification = $(this).parent().parent();
            $.get('/' + $(this).attr('data-object') + '/' + $(this).attr('data-id') + '/closed/', function(data){
              notification.toggle();
            });
          });
        }
      });
    });
  </script>
{% endblock %}

{% block body_class %}homepage{% endblock %}

{% block content %}

  {% render_cover %}

  {% if fcategory %}{% with prefetched_article_data=True %}{% include 'category_grid.html' %}{% endwith %}{% endif %}

  {# "with" variable should be reset for the content that is not yet "prefetch-aware" #}

  {% with prefetched_article_data=False %}
    {% for section in featured_sections.0 %}{% render_section section %}{% endfor %}
    {% for publication_slug in home_publications %}{% render_publication_row publication_slug %}{% endfor %}
  {% endwith %}

  {% if not hide_first_featured_publication and featured_publications.0 %}
    {% with prefetched_article_data=True %}{% render_publication_grid featured_publications.0 %}{% endwith %}
  {% endif %}

  {% with prefetched_article_data=False %}
    {% for section in featured_sections.1 %}{% render_section section %}{% endfor %}
  {% endwith %}

  {% if featured_publications.1 %}
    {% with prefetched_article_data=True %}{% render_publication_grid featured_publications.1 %}{% endwith %}
  {% endif %}

  {% with prefetched_article_data=False %}
    {% for section in featured_sections.2 %}{% render_section section %}{% endfor %}
  {% endwith %}

  {# news wall commented out due to performance issues #}
  {# include 'news_wall.html' #}

  {% include bigphoto_template %}

  {# other custom components can be included also like this commented includes: #}
  {# include 'components.html' #}

  {% block extra_homepage %}{% endblock %}

{% endblock %}

{% block javascript %}
  <script defer src="{% static 'materialize/js/velocity.min.js' %}"></script>
  <script defer src="{% static 'materialize/js/tabs.js' %}"></script>
{% endblock %}
