{% extends "base.html" %}
{% load core_tags homev3_tags %}

{% block page_title %}{{ publication.headline }} | {{ site.name }} | {{ country_name }}{% endblock %}

{% block meta_og_title %}
  <!-- Open Graph (http://ogp.me) -->
  <meta property="og:title" content="{{ publication.headline }} | {{ site.name }} | {{ country_name }}" />
{% endblock %}

{% block body_class %}frontpage {{ publication.slug }}-pub{% endblock %}

{% block content %}

  {% with 'ciencia economia educacion feminismos justicia salud trabajo' as emergentes %}
    {% if publication.slug in emergentes.split %}
      <div class="container container--wide">
        <div class="section-detail__head">
          <h1 class="section-detail__title">{{ publication.name|capfirst }}</h1>
          <div class="section-detail__sub-cats">
            <ul class="section-detail__sub-cats-list">
            {% for section in publication.primary_sections %}
              <li><a class="section-detail__header-sub-cat" href="{% url 'section_detail' section_slug=section.slug %}">{{ section }}</a></li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      {% render_cover %}
    {% else %}
      {% render_cover %}
    {% endif %}
  {% endwith %}

  {% for section in featured_sections %}
    {% render_section section %}
  {% endfor %}

  {# news wall commented out due to performance issues #}
  {# include 'news_wall.html' #}
  {% include 'bigphoto.html' %}

{% endblock %}

{% block footer_scripts %}
  <script>
    $(document).ready(function(){
      resizeSubnav($('.section-detail__sub-cats'), $('.section-detail__sub-cats-list'), 2);
      resizeSubnav($('.section-subheader .submenu'), $('.submenu--list'), 1);
      $('#bn-module').load("{% url 'bn-content' %}?publication={{ publication.slug }}", function(response){
        if(response){
          $('.breaking-notice').find('.btn-close').click(function(){
            var notification = $(this).parent().parent();
            $.get('/' + $(this).attr('data-object') + '/' + $(this).attr('data-id') + '/closed/', function(data){
              notification.toggle();
            });
          });
        }
      });
    });
  </script>
{% endblock %}
