{% load bleach_tags ldml %}

<section class="frontpage-section section-news-wall">
    {# TODO: this loops must be improved for performance, at least exclude those without articles #}
    {% if publication and publication != default_pub %}

      {% with sections=publication.section_set.all|slice:":8" %}
      <div class="container{% if sections|length == 3 %} container--centered{% endif %}">
        {% for section in sections %}
          <div class="news-wall__block">
            <span class="news-wall__title">
              <a href="{% url 'section_detail' section_slug=section.slug %}">
                {{ section.name_in_category_menu|default:section.name }}
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m10 16 4-4-4-4"/></svg>
              </a>
            </span>
            <ul class="news-wall__list">
              {# TODO: create a template tag for this loop #}
              {% for article in section.latest3 %}
                {% if publication in article.publications %}
                  <li class="news-wall__item">
                    <a href="{{ article.get_absolute_url }}" class="news-wall__link">
                      {{ article.headline|ldmarkup|bleach }}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
      {% endwith %}

    {% elif category %}

      {% with sections=category.section_set.all|slice:":8" %}
      <div class="container{% if sections|length == 3 %} container--centered{% endif %}">
        {% for section in sections %}
          <div class="news-wall__block">
            <span class="news-wall__title">
              <a href="{{ section.get_absolute_url }}">
                {{ section.name_in_category_menu|default:section.name }}
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m10 16 4-4-4-4"/></svg>
              </a>
            </span>
            <ul class="news-wall__list">
              {% for article in section.latest3 %}
                <li class="news-wall__item">
                  <a href="{{ article.get_absolute_url }}" class="news-wall__link">
                    {{ article.headline|ldmarkup|bleach }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
      {% endwith %}

    {% else %}

      <div class="container">
      {% for category in MENU_CATEGORIES.keys %}
        <div class="news-wall__block">
          <span class="news-wall__title">
            <a href="{% url 'home' domain_slug=category.slug %}">{{ category|capfirst }}</a>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m10 16 4-4-4-4"/></svg>
          </span>
          <ul class="news-wall__list">
            {% for section in category.section_set.all|slice:":3" %}
              <li class="news-wall__item">
                {% with latest_article=section.latest_article.0 %}
                  <a href="{{ latest_article.get_absolute_url }}" class="news-wall__link">
                    {{ latest_article.headline|ldmarkup|bleach }}
                  </a>
                {% endwith %}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}

      {% for pub in publications|slice:":3" %}
        <div class="news-wall__block">
          <span class="news-wall__title">
            <a href="{{ pub.get_absolute_url }}">{{ pub|capfirst }}</a>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m10 16 4-4-4-4"/></svg>
          </span>
          <ul class="news-wall__list">
            {% for section in pub.section_set.all|slice:":3" %}
              <li class="news-wall__item">
                {% with latest_article=section.latest_article.0 %}
                  <a href="{{ latest_article.get_absolute_url }}" class="news-wall__link">
                    {{ latest_article.headline|ldmarkup|bleach }}
                  </a>
                {% endwith %}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
      </div>

    {% endif %}
</section>
