{% load homev3_tags %}

<section class="frontpage-section">
  <div class="container">

    <div class="section-detail__head">
      <h2 class="section-detail__title">{{ publication_obj }}{% if publication_obj.new_pill %} <span class="new-pill">Nuevo</span>{% endif %}</h2>
    </div>

    {% with destacados=publication_destacados %}{% render_section None top_index=1 %}{% endwith %}

    <div class="row footer-section">
      <div class="col s12">
        <a href="{{ publication_obj.get_absolute_url }}" class="ut-btn ut-btn-outline">más {{ publication_obj }}</a>
      </div>
    </div>
  </div>
</section>
