{% load core_tags %}

{% if art_count > 0 and is_portada %}
  <div id="home-section-{{ section.slug }}" class="frontpage-section frontpage-section-elecciones">
    <div class="container">
        <div class="section-detail__head">
            <h3 class="section-detail__title">{{ section.name }}</h3>
            <h4 class="section-detail__subtitle">{{ section.description }}</h4>
        </div>
      <div class="{{ section.style }}">
        <div class="col s12 art_count_{{ art_count }}">
          <div class="ld-grid-simple">
            {% for article in articles|slice:":4" %}
              <div class="ld-grid-simple__area">
                {% render_article_card article=article media=article.home_display card_size="FD" card_type="AC" %}
              </div>
            {% endfor %}
          </div>
          <div class="row footer-section">
            <div class="col s12">
            <a href="{% url 'nl-subscribe' %}" class="ld-btn ld-btn-envelope--sm">Recibir por email</a>
             <a href="{{ section.get_absolute_url }}" class="ld-btn btn bordered">Archivo de apuntes</a>                          
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
