{% load static core_tags homev3_tags %}

{% if articles %}
  {% if publication == default_pub or section in publication.section_set.all %}
    <section class="frontpage-section">
      <div class="container">

        <div class="section-detail__head">
          <h3 class="section-detail__title">Opinión</h3>
        </div>

        <div class="ld-grid-simple">
          {% for article in articles|slice:":4" %}
            <div class="ld-grid-simple__area">
              {% render_article_card article=article media=article.home_display card_size="FD" card_type="AC" %}
            </div>
          {% endfor %}
        </div>

        <div class="row footer-section">
          <div class="col s12">
            <a href="{% url 'home' domain_slug='opinion' %}" class="btn bordered">Más opiniones</a>
          </div>
        </div>
      </div>
    </section>
  {% endif %}
{% endif %}
