{% load static %}

<style>
    .solana-signature__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 6px;
    }

    .solana-signature__btn {
        background-color: #2a2a2a;
        border: 1px solid #2a2a2a;
        color: #fff;
        padding: 10px 12px;
        border-radius: 5px;
        font-size: 14px;
        cursor: pointer;
        transition: 0.12s all;
        font-weight: bold;
    }

    .solana-signature__btn img {
        height: 14px;
        margin-left: 8px;
    }

    .solana-signature__btn:active {
        transform: scale(0.98);
        box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    }

    #solana-signature__address {
        font-size: 14px;
        color: #2a2a2a;
    }

    #solana-signature__address a {
        color: #9945FF;
        font-weight: bold;
        text-decoration: underline;
    }
</style>

<div class="solana-signature__container">
    <input type="text" class="form-control" style="display: none" id="{{ widget.name }}" name="{{ widget.name }}" />
    {% if widget.value %}
    <p id="solana-signature__address">Previamente firmada por la dirección:
        <a href="https://explorer.solana.com/address/{{ widget.value }}" target="blank" rel="noopener noreferrer">
            {{ widget.value }}
        </a>
        <br>
        Al firmar con otra dirección, se sobreescribirá la anterior.
    </p>
    {% endif %}
    <button class="solana-signature__btn">Firmar con <img src="{% static 'img/solana_logo.svg' %}"></button>
</div>



{% block js %}
<script>
    $(function () {
        const getProvider = async () => {
            if ("solana" in window) {
                await window.solana.connect();
                const provider = window.solana;
                if (provider.isPhantom) return provider;

            } else {
                Toastify.error('Se necesita Phantom Wallet para firmar la transacción.');
                return false;
            }
        };

        $(".solana-signature__btn").click(async function (e) {
            e.preventDefault();

            const provider = await getProvider();

            const encodedMessage = new TextEncoder().encode("Al firmar este mensaje estás certificando la autoría de este artículo");
            const { publicKey, signature } = await window.solana.request({
                method: "signMessage",
                params: {
                    message: encodedMessage,
                    display: "utf8",
                },
            });

            $("#{{ widget.name }}").val(signature + ";" + publicKey);
            $(this)
                .html(`Firmado por <br/> <span style="font-size:10px;font-weight:300;">${publicKey.toString()}</span>`);
        });
    });

</script>

{% endblock %}