[submodule "static/materialize"]
	path = static/materialize
	url = https://github.com/Dogfalo/materialize.git
[submodule "static/js/autocomplete"]
	path = static/js/autocomplete
	url = https://github.com/dyve/jquery-autocomplete
