*.log
*.pyc
*.pot
._*
*.swp
portal/local_*settings.py
portal/bin/pdffonts
portal/bin/pdfimages
portal/bin/pdfinfo
portal/bin/pdftoppm
portal/bin/pdftops
portal/bin/pdftotext
portal/media
portal/static
portal/.htaccess
portal/.project
portal/.pydevproject
portal/.settings
.sass-cache
cache
.ssh
.python-eggs
.DS_Store
uwsgi.ini
wsgi.py
static/lightGallery
static/css/ladiaria.*
static/js/ld.min.js
static/ediciones_especiales
static/CACHE
static-site
.editorconfig
.idea
.env*
start.sh
soft_start.sh

# codeception stuff
codeception.yml
composer.lock
tests/_data/
tests/_output/
tests/log/
tests/locust/local_settings.py
vendor/
docs/ssl/hexxie.com.*
docs/ssl/myCA.*
