{% extends "base.html" %}
{% load attendant_tags %}

{% block page_title %}Eventos{% endblock %}
{% block body_class %}thedaily{% endblock %}
{% block sidebar %}{% endblock %}

{% block content %}
  <div class="titlebar">
    <h2>Eventos</h2>
  </div>
  {% for activity in object_list %}
    <h3 style="padding-top:1em;">{{ activity }}</h3>
    <p>{{ activity.description|safe|urlize }}</p>
    <p style="font-size:1.5em;">
      {{ activity.date|date:"l j" }} de {{ activity.date|date:"F"}} a las {{ activity.date|date:"H:i" }} horas en {{ activity.location }}
    </p>
    {% if activity.closed %}
      Las inscripciones para esta actividad están cerradas.
    {% else %}
      <p style="font-size:1.5em;">Inscribite:</p>
      {% if activity.id == activity_id %}
        {% include "attendant_form.html" %}
        {% if success %}
          <br>Inscripción recibida correctamente, muchas gracias.
        {% endif %}
      {% else %}
        {% attendant_form activity.id %}
      {% endif %}
    {% endif %}
    <br>
  {% endfor %}
{% endblock %}
