{% extends "base.html" %}
{% load core_tags %}

{% block page_title %}{{ journalist.name }} | {{ journalist.get_job_display }} en {{ site.name }} | {{ country_name }}{% endblock %}

{% block meta_og_title %}
  <!-- Open Graph (http://ogp.me) -->
  <meta property="og:title" content="{{ journalist.name }} | {{ journalist.get_job_display }} en {{ site.name }} | {{ country_name }}">
{% endblock %}

{% block body_class %}section-detail{% endblock %}

{% block page_header %}
  <div class="section_background">
    <div class="container container--narrow">
      <div class="section-detail__head">
        <h1 class="section-detail__title">{{ journalist.name }}</h1>
        <p class="section-detail__description">{{ journalist.description }}</p>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
	<section class="section_module container--narrow">
    {% for article in articles %}
      {% if forloop.first %}
        {% render_article_card article=article media=article.home_display card_size="FD" img_load_lazy=False %}
      {% else %}
        {% render_article_card article=article media=article.home_display card_size="FD" %}
      {% endif %}
    {% endfor %}

    {% if articles.has_other_pages %}
      {% include "pagination.html" with pager=articles %}
    {% endif %}
	</section>
{% endblock %}
