{% extends base_template %}
{% load core_tags static %}

{% block page_title %}{% spaceless %}
  {{ journalist.name }} | {{ journalist.get_job_display }} {% title_joinparts '' 'en ' %}
{% endspaceless %}{% endblock %}

{% block css %}
  {{ block.super }}
  <link href="{% static 'sass/section/detail.scss' %}" media="screen" rel="stylesheet" type="text/x-scss" charset="utf-8">
{% endblock %}

{% block meta_og_title %}
  <!-- Open Graph (http://ogp.me) -->
  <meta property="og:title" content="{{ journalist.name }} | {{ journalist.get_job_display }} {% title_joinparts '' 'en ' %}">
{% endblock %}

{% block body_class %}section-detail{% endblock %}

{% block page_header %}
  <div class="section_background">
    <div class="container container--narrow">
      <div class="section-detail__head">
        <a class="section-detail__toplink" href="javascript:history.back()">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="#81898b" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m14 16-4-4 4-4"/></svg>
          Volver
        </a>
        <h1 class="section-detail__title">{{ journalist.name }}</h1>
        {% if journalist.bio %}
          <p class="section-detail__description">{{ journalist.bio }}</p>
        {% endif %}
      </div>
    </div>
  </div>
  {% comment %}
    social links rendered commented for test compatibility. TODO: implement opensourcing this already done feature in
    one of our custom apps.
  {% endcomment %}
  <!--
    {% for social_name, social_value in journalist.get_socials.items %}
      <title>Seguir en {{ social_name|capfirst }}</title>
    {% endfor %}
  -->
{% endblock %}

{% block content %}
	<section class="section_module">
    {% for article in articles %}
      {% if forloop.first %}
        {% render_card article=article variant="v4_cards/card_standard" img_load_lazy=False %}
      {% else %}
        {% render_card article=article variant="v4_cards/card_standard" %}
      {% endif %}
    {% endfor %}

    {% if articles.has_other_pages %}
      {% include "pagination.html" with pager=articles %}
    {% endif %}
	</section>
{% endblock %}
