{% extends "base.html" %}
{% load static core_tags %}

{% block page_title %}{% title_joinparts 'Lo más leído' %}{% endblock %}

{% block css %}
  <link href="{% static 'sass/pages/masleidos.scss' %}" media="screen" rel="stylesheet" type="text/x-scss" charset="utf-8">
{% endblock %}

{% block header_scripts %}
  <script type="text/javascript">
    $(function(){
      $('ul.tablist').tabs();
    });
  </script>
{% endblock %}

{% block body_class %}interior masleidos{% endblock %}

{% block content %}
  <div class="section-detail__head">
    <a class="section-detail__toplink" href="{% url 'home' %}">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="#81898b" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m14 16-4-4 4-4"/></svg>
      Portada
    </a>
  </div>
  <h1 class="title" aria-label="Lo más leído ">Lo más leído</h1>
  <section id="mas-leidos-view">
    <div id="mas-leidos-content">
      <ul class="tabs" role="tablist">
        <li class="tab" role="tab"><a href="#ml_dia" title="Artículos más leidos el día de hoy" class="active">Hoy</a></li>
        <li class="tab" role="tab"><a href="#ml_semana" title="Artículos más leidos de la semana">Semana</a></li>
        <li class="tab" role="tab"><a href="#ml_mes" title="Artículos más leidos del mes">Mes</a></li>
      </ul>
      <!-- by day -->
      <div class="card-content active" id="ml_dia" role="tabpanel">
        <ul class="ml-list">
          {% for masv in mas_leidos_daily %}
            {% render_article_media with article=masv media=masv.home_display %}
          {% endfor %}
        </ul>
      </div>
      <!-- by week -->
      <div class="card-content" id="ml_semana" role="tabpanel">
        <ul class="ml-list">
          {% for masv in mas_leidos_weekly %}
            {% render_article_media with article=masv media=masv.home_display %}
          {% endfor %}
        </ul>
      </div>
      <!-- by month -->
      <div class="card-content" id="ml_mes" role="tabpanel">
        <ul  class="ml-list">
          {% for masv in mas_leidos_monthly %}
            {% render_article_media with article=masv media=masv.home_display %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script defer src="{% static 'materialize/js/velocity.min.js' %}"></script>
  <script defer src="{% static 'materialize/js/tabs.js' %}"></script>
{% endblock %}
