{% load core_tags %}

<div class="card-header">
  <h2 class="card-title" aria-label="Lo más leído">Lo más leído hoy</h2>
  <a href="{% url 'mas_leidos' %}" class="btn btn__dark">Ver todos</a>
</div>
<div id="mas_vistos_seccion">
  <ul class="mas-leidos-list">
    {% for masv in masleidos_cover_daily %}
      {% render_article_media with article=masv media=masv.home_display %}
    {% endfor %}
  </ul>
  <div class="center">
    <a href="{% url 'mas_leidos' %}" class="ut-btn ut-btn-outline hide-on-med-and-up">Ver todos</a>
  </div>
</div>
