{% extends "base.html" %}
{% load static %}

{% block page_title %}Lo más leído | {{ site.name }} | {{ country_name }}{% endblock %}

{% block header_scripts %}
  <script type="text/javascript">
    $(function(){
      $('#mas-leidos-content').load('/masleidos/content/', function(){
        $('ul.tablist').tabs();
      });
    });
  </script>
{% endblock %}

{% block body_class %}interior masleidos{% endblock %}

{% block content %}
  <section id="mas-leidos" class="col s12">
    <div id="mas-leidos-content"></div>
  </section>
{% endblock %}

{% block javascript %}
  <script defer src="{% static 'materialize/js/velocity.min.js' %}"></script>
  <script defer src="{% static 'materialize/js/tabs.js' %}"></script>
{% endblock %}
