{% load core_tags ldml bleach_tags %}

{# 4 Article grid for tag #}
<div class="ld-grid-main ld-grid-main--two-cols ld-section-home">
  <div class="ld-grid-area area-main grid-home">
    <div class="ld-card ld-card--big">
      {% render_toolbar_for tag_cover_article %}
      {% block image %}
        {% if tag_cover_article.photo %}
          <a href="{{ tag_cover_article.get_absolute_url }}">
              <figure  data-src="{{ tag_cover_article.photo.get_1200w_url }}">
                <picture>
                  <source srcset="{{ tag_cover_article.photo.get_1200w_url }}" media="(min-width: 700px)">
                  <source srcset="{{ tag_cover_article.photo.get_700w_url }}" media="(min-width: 0)">
                  <img class="ld-card__img"
                       title="{{ tag_cover_article.photo_caption }}" alt="{{ tag_cover_article.photo_caption }}"
                       width="700"{% if tag_cover_article.photo_image_file_exists %} height="{{ tag_cover_article.photo.get_700w_size.1 }}"{% endif %}
                       loading="lazy">
                </picture>
              </figure>
          </a>
        {% endif %}
      {% endblock %}
      <div class="ld-card__body">
        <div class="ld-card__section">
          {% autoescape off %}{% publication_section tag_cover_article %}{% endautoescape %}
          {% with article=tag_cover_article %}{% include 'article/article_card_lock_tooltip.html' %}{% endwith %}
        </div>
        {% if tag_cover_article %}
          <h3 class="ld-card__title">
            <a href="{{ tag_cover_article.get_absolute_url }}">{{ tag_cover_article.headline|ldmarkup:tag_cover_article.id|bleach }}</a>
          </h3>
        {% endif %}
        {% if tag_cover_article.home_lead %}
          <div class="ld-card__intro">{{ tag_cover_article.home_lead|ldmarkup:tag_cover_article.id|bleach }}</div>
        {% endif %}
        <div class="ld-card__byline">
          {% if CORE_ARTICLE_ENABLE_PHOTO_BYLINE and tag_cover_article.photo_author %}
            <div class="ld-card__photoauthor">
              {{ tag_cover_article.photo_type }}: {{ tag_cover_article.photo_author }}
            </div>
          {% endif %}
          {% with authors=tag_cover_article.get_authors %}
            {% if authors %}
              <div class="ld-card__author">
                {% for author in authors %}
                  <a href="{{ author.get_absolute_url }}">{{ author.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
              </div>
            {% endif %}
          {% endwith %}
          {% if not hide_date_published %}
            {% autoescape off %}{% date_published_verbose tag_cover_article %}{% endautoescape %}
          {% endif %}
          {% with a=tag_cover_article %}{% include 'article/article_card_read_later.html' %}{% endwith %}
        </div>
      </div>
    </div>
  </div>
  <div class="ld-grid-area area-third">
    {% for a in tag_destacados %}
      <div class="ld-card ld-card--sm{% if a.photo.extended.square_version %} ld-card--has-img{% endif %}">
        {% render_toolbar_for a %}
        {% if a.photo %}
          <a href="{{ a.get_absolute_url }}" class="ld-card__img-link">
            <img class="ld-card__img" src="{{ a.photo.get_700w_url }}" loading="lazy"
                 title="{{ a.photo_caption }}" alt="{{ a.photo_caption }}"
                 width="700"{% if a.photo_image_file_exists %} height="{{ a.photo.get_700w_size.1 }}"{% endif %}>
          </a>
        {% endif %}
        <div class="ld-card__body">
          <div class="ld-card__section">
            {% autoescape off %}{% publication_section a %}{% endautoescape %}
            {% with article=a %}{% include 'article/article_card_lock_tooltip.html' %}{% endwith %}
          </div>
          <h3 class="ld-card__title ld-card__title--mb">
            <a href="{{ a.get_absolute_url }}">{{ a.headline|ldmarkup:a.id|bleach }}</a>
          </h3>
          {% if a.home_lead or a.deck %}
            <div class="ld-card__intro hide-on-med-and-up">{{ a.home_lead|default:a.deck|ldmarkup:a.id|bleach }}</div>
          {% endif %}
          <div class="ld-card__byline">
            {% with authors=a.get_authors %}
              {% if authors %}
                <div class="ld-card__author">
                  {% for author in authors %}
                    <a href="{{ author.get_absolute_url }}">{{ author.name }}</a>{% if not forloop.last %}, {% endif %}
                  {% endfor %}
                </div>
              {% endif %}
            {% endwith %}
            {% if not hide_date_published %}
              {% autoescape off %}{% date_published_verbose a %}{% endautoescape %}
            {% endif %}
            {% include 'article/article_card_read_later.html' %}
          </div>
        </div>
        {% if a.photo.extended.square_version %}
          <a class="ld-card__img-sq" href="{{ a.get_absolute_url }}">
            <img class="ld-card__img" width="700" height="700" loading="lazy"
                 src="{{ MEDIA_URL }}photologue/photos/{{ a.photo.extended.get_square_version_filename }}"
                 title="{{ a.photo_caption }}" alt="{{ a.photo_caption }}">
          </a>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  <div class="ld-grid-clear"></div>
</div>
{# End article grid #}
