{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ site.name }} - Panel de estadísticas de usuarios y previsualización de newsletters</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    {# bs bundle js for sidebar-collapse #}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">

    <!-- jquery, Boostrap + table & datepicker -->
    <script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-es-ES.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css">
    <script>
      function nl_switches_submit(hash, send_test=false){
        let a_elem = $("a[href='" + hash + "']");
        let [c1, c2, c3, c4] = $("#nl_switches :checkbox");
        let c1_checked = $(c1).is(":checked");
        if(!c1_checked || $(c3).is(":checked") || $(c4).is(":checked")){
          let qparam = "";
          // only when "as news" or not subscribed to default pub (staff user is always subscribed)
          if(!c1_checked){
            {% if multi_publication %}
              // case 0-1: is_subscriber_default=0; case 0-0: is_subscriber_any=0
              qparam += ($(c2).is(":checked") ? c1.name : c2.name) + "=0";
            {% else %}
              qparam += "is_subscriber_any=0";
            {% endif %}
          }
          $.each([c3, c4], function(i, c_elem){
            if($(c_elem).is(":checked")){
              qparam += (qparam ? "&" : "") + c_elem.name + "=1";
            }
          });
          // change url and click (use a post-hook to revert the changes, otherwise the item in sidebar left dirty)
          if(!send_test){
            a_elem.data(
              {"url": a_elem.data("url") + "?" + qparam, "control": "nl_item_data_defaults"}
            );
          }
        }
        if(send_test){
          $.post(a_elem.data("url"), $("#nl_switches").serialize(), function(){
            $("#send_test_result").html("Enviando prueba...").attr("class", "alert alert-info");
          }).done(function(){
            $("#send_test_result").html("Envío de prueba realizado con éxito").attr("class", "alert alert-success");
          }).fail(function(data){
            $("#send_test_result").html(
              "<strong>Error al enviar prueba</strong><br>" + data.responseText).attr("class", "alert alert-danger"
            );
          });
        }else{
          a_elem.trigger("click");
        }
        return false;
      }
      function nl_item_data_defaults(hash){
        let a_elem = $("a[href='" + hash + "']");
        a_elem.data({"url": a_elem.data("url").split("?")[0], "control": "nl_switches"});
      }
      function nl_switches(hash){
        $('#control-content').html(`
          <form id="nl_switches" onsubmit="return nl_switches_submit('` + hash + `')">{% csrf_token %}
            <input type="hidden" id="nl_date" name="nl_date" value="">
            <input type="hidden" id="nl_type" name="nl_type" value="">
            <fieldset class="border-bottom">
              <div style="float:left;margin-right:10px">
                <input type="checkbox" id="nl_switches_1" name="is_subscriber_default" checked="checked">
                <label class="pr-2 align-middle" for="nl_switches_1">
                  Suscriptor pago{% if multi_publication %} de {{ default_pub.name }}{% endif %}
                </label><br>
                {% if multi_publication %}
                  <input type="checkbox" id="nl_switches_2" name="is_subscriber_any" checked="checked" disabled="disabled">
                  <label class="pr-2 align-middle" for="nl_switches_2">Suscriptor pago de al menos una publicación</label>
                {% endif %}
                <input type="checkbox" id="nl_switches_3" name="as_news">
                <label class="pr-2 align-middle" for="nl_switches_3">"as news"</label><br>
                <input type="checkbox" id="nl_switches_4" name="s_pdf">
                <label class="pr-2 align-middle" for="nl_switches_4">"s_pdf"</label>
              </div>
              <div style="float:left;margin-right:10px">
                <button type="submit" id="reload" class="btn btn-primary mb-2" style="padding-top:3px">`
                  + feather.icons["refresh-cw"].toSvg() + ` Recargar
                </button>
              </div>
              {% if request.user.email %}
                <div style="float:left;margin-bottom:10px">
                  <button type="button" id="send_test" class="btn btn-secondary mb-2"
                          style="padding-top:3px;margin-bottom:0px !important;margin-right:10px">`
                  + feather.icons["mail"].toSvg() + ` Enviar prueba a <strong>&lt;{{ request.user.email }}&gt;</strong>
                  </button>
                  <span id="send_test_result" class="alert" role="alert" style="padding:.2rem .5rem;float:right"></span>
                  <br>
                  <small style="color:#333">
                    Cada prueba envía un sólo email con destinatario único (usted), nunca enviará emails a otros
                    usuarios.
                  </small>
                </div>
              {% endif %}
            </fieldset>
          </form>
        `);
        {% if multi_publication %}
          $("#nl_switches_1").on("change", function(){
            if($(this).is(":checked")){
              $("#nl_switches_2").prop({"checked": true, "disabled": true});
            }else{
              $("#nl_switches_2").prop("disabled", false);
            }
          });
        {% endif %}
        $("#nl_switches_{% if multi_publication %}2{% else %}1{% endif %}").on("change", function(){
          if($(this).is(":checked")){
            $("#nl_switches_4").prop("disabled", false);
          }else{
            $("#nl_switches_4").prop({"checked": false, "disabled": true});
          }
        });
        // show and set test newsletter click handler (if button is found)
        $('#control-content').show().find("#send_test").on("click", function(){
          nl_switches_submit(hash, true);
        });
      }
      $(function(){
        var current_date = new Date()  // will be used as "last month" date
        current_date.setMonth(current_date.getMonth() - 1);
        var month = current_date.getMonth() + 1;
        if(month < 10){
          month = '0' + month;
        }

        var loading_img = $(
          "<img>", {style: 'top:20%;left:50%;position:absolute', src: "{% static 'images/loading.gif' %}"}
        );

        // loaded content clicked in the sidebar, event handler
        $('a.embed').on("click", function(){
          let a_elem = $(this);
          let hash = a_elem.attr("href");
          // uncollapse parent (if collapsed)
          let collapsible_parent = a_elem.closest("div.collapse");
          if(!collapsible_parent.hasClass("show")){
            collapsible_parent.collapse("show");
          }
          // build content url and load it
          let content_url = a_elem.data("url") || ('/dashboard/table/' + hash.substr(1) + '/');
          if(hash == "#subscribers"){
            // subscribers table needs year and month
            content_url += '?month=' + month + "&year=" + current_date.getFullYear();
          }
          $('#inner-content').html(loading_img).load(content_url, function( response, status, xhr ) {
            if ( status == "error" ) {  // load on error anyway
              $(this).html(response);
            }
            ctrl_func = a_elem.data("control");
            if(ctrl_func){
              window[ctrl_func](hash);
            }else{
              $('#control-content').hide();
            }
            let abs_url = "{{ site_url }}" + content_url;
            let loaded_url = $(this).find("#loaded_url");
            loaded_url.html(abs_url).attr("href", abs_url);
            $("#nl_date").val(loaded_url.data("nl-date"));
            $("#nl_type").val(loaded_url.data("nl-type"));
          });
        });

        // feather collapse/uncollapse icon change for collapsible elements in sidebar
        $("div.collapse").on("shown.bs.collapse hidden.bs.collapse", function(){
          let a_elem = $(this).prev("a");
          $("span", a_elem).html(
            feather.icons["chevron-" + (a_elem.hasClass("collapsed") ? "right" : "down")].toSvg()
          );
        });

        // load initial default content by location hash (defaults to #articles)
        $("a[href='" + ($(location).prop('hash') || "#articles") + "']").trigger("click");
      });
    </script>
  </head>

  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">{{ site.name }}</a>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/admin/">Salir</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">

      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column" id="sidebar" role="tablist">
            <li class="nav-item">
              <a class="embed nav-link" id="articles" data-toggle="tab" href="#articles" role="tab" aria-controls="score" aria-selected="true">
                <span data-feather="award"></span>
                Puntaje de artículos<span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="embed nav-link" id="sections" data-toggle="tab" href="#sections" role="tab" aria-controls="sections" aria-selected="false">
                <span data-feather="award"></span>
                Puntaje de categorías
              </a>
            </li>
            <li class="nav-item">
              <a class="embed nav-link" id="categories" data-toggle="tab" href="#categories" role="tab" aria-controls="categories" aria-selected="false">
                <span data-feather="award"></span>
                Puntaje de áreas/publicaciones
              </a>
            </li>
            <li class="nav-item">
              <a class="embed nav-link" id="subscribers" data-toggle="tab" href="#subscribers" role="tab" aria-controls="subscribers" aria-selected="false">
                <span data-feather="eye"></span>
                Visitas de suscriptores (artículos)
              </a>
            </li>
            <li class="nav-item">
              <a class="embed nav-link" id="subscribers_sections" data-toggle="tab" href="#subscribers_sections" role="tab" aria-controls="subscribers_sections" aria-selected="false">
                <span data-feather="eye"></span>
                Visitas de suscriptores (categorías)
              </a>
            </li>
            <li class="nav-item">
              <a class="embed nav-link" id="article_views" data-toggle="tab" href="#article_views" role="tab" aria-controls="article_views" aria-selected="false">
                <span data-feather="eye"></span>
                Visitas de artículos por área/publicación (globales)
              </a>
            </li>
            <li class="nav-item">
              <a class="embed nav-link" id="article_views_subscribers_only" data-toggle="tab" href="#article_views_subscribers_only" role="tab" aria-controls="article_views_subscribers_only" aria-selected="false">
                <span data-feather="eye"></span>
                Visitas de artículos por área/publicación (solo suscriptores)
              </a>
            </li>
            {% if activity_rows %}
              <li class="nav-item">
                <a class="embed nav-link" id="activity" data-toggle="tab" href="#activity" role="tab" aria-controls="activity" aria-selected="false">
                  <span data-feather="users"></span>
                  Actividad
                </a>
              </li>
              <li class="nav-item">
                <a class="embed nav-link" id="activity_only_digital" data-toggle="tab" href="#activity_only_digital" role="tab" aria-controls="activity" aria-selected="false">
                  <span data-feather="users"></span>
                  Actividad (sólo digitales)
                </a>
              </li>
            {% endif %}
            {% if is_financial %}
              {# No financial options yet, but you can define yours in this included template configured by settings #}
              {% if financial_extra_items_template %}
                {% include financial_extra_items_template %}
              {% endif %}
            {% endif %}
            <li class="nav-item">
              <a class="embed nav-link" id="audio_statistics" data-toggle="tab" href="#audio_statistics" role="tab" aria-controls="audio_statistics" aria-selected="false">
                <span data-feather="headphones"></span>
                Estadísticas de audio
              </a>
            </li>
            {% if newsletters %}
              <li class="nav-item">
                <a class="nav-link collapsed" data-bs-toggle="collapse" data-bs-target="#nls-collapse" aria-expanded="false">
                  <span><i data-feather="chevron-right"></i></span>
                  Newsletters "preview"
                </a>
                <div class="collapse" id="nls-collapse" style="">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ml-2">
                    {% for nlobj in newsletters %}
                      {% with preview_url=nlobj.newsletter_preview_url %}
                        {% if preview_url %}
                          <li>
                            <a id="{{ nlobj.nltype }}-{{ nlobj.slug }}-nl-preview"
                               href="#{{ nlobj.nltype }}-{{ nlobj.slug }}-nl-preview"
                               class="embed nav-link" data-url="{{ preview_url }}" data-control="nl_switches">
                              <span data-feather="eye"></span> {{ nlobj.profile_newsletter_name|default:nlobj.name }}
                            </a>
                          </li>
                        {% endif %}
                      {% endwith %}
                    {% endfor %}
                  </ul>
                </div>
              </li>
            {% endif %}
          </ul>
        </div>
      </nav>

      <main role="main" class="tab-content" id="myTabContent">
        <div role="tabpanel">
          <div id="control-content" class="ml-sm-auto col-lg-10 mt-2 mb-2"></div>
        </div>
        <div id="inner-content"></div>
      </main>{# tab-content #}

    </div>

    <!-- Icons -->
    <script src="//unpkg.com/feather-icons"></script>
    <script>
      feather.replace();
    </script>

  </body>
</html>
