@import "../_variables";
@import "../utopia_materialize/variables";

// edit profile page
body.ld-profile-edit {
  overflow-x: unset !important;

  .ld-block {
    margin: 0 0 100px;
  }

  &__link-low {
    color: $off-black;
    text-decoration: underline;
  }

  label {
    color: $off-black;
    font-size: 16px;
  }

  .section.scrollspy {
    padding: 0;
    margin-bottom: 150px;
  }
  #datos {
    fieldset {
      input,
      .select-wrapper {
        max-width: 400px;
      }
      .input-field.col label {
        left: 0;
      }
    }
    #div_id_province {
      margin: 20px 0 20px;

      label {
        top: -15px;
        font-size: 0.8rem;
      }
    }
  }
  #ld-comunicaciones {
    margin-bottom: 40px;
  }
  .ld-section-newsletters {
    margin-bottom: 0;

    &.category-newsletter {
      .edit_profile_card__inner-section {
        margin-top: 15px;
      }
    }

    .item-newsletter {
      .ld-caption {
        margin: 0;
      }

      .ld-title-second {
        margin-bottom: 0;
        position: relative;
        top: -3px;
      }
    }
    .submit {
      padding-top: 40px;
    }
  }
  #comunidad {
    margin-top: 150px;
  }
  #edit-profile-form {
    margin-bottom: 150px;
  }

  .profile-container {
    display: grid;
    grid-template-columns: 284px auto;
    max-width: $container-width;
    padding: 0 $padding-inline;
    margin: 0 auto;
    padding-top: 32px;

    @media #{$medium-and-down} {
      grid-template-columns: 1fr;
    }
  }

  .profile-sections-container {
    width: 100%;
    margin: 0 auto;
    border-left: 0.5px solid $color-divider;

    @media #{$medium-and-up} {
      padding-left: 15%;
      padding-right: 15%;
    }

    @media #{$large-and-up} {
      padding-left: 50px;
    }
  }

  .table-title {
    display: block;
    font-weight: 500;
    padding-bottom: 16px;
  }

  .ld-profile-row {
    margin-bottom: 60px;
    padding: 0;

    .col {
      padding: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .ld-btn {
      margin-top: 20px;
      text-decoration: none !important;
    }
  }
  .alert-success {
    position: fixed;
    width: max-content;
    position: fixed;
    top: 50px;
    color: white;
    background-color: #0d823f;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    min-width: max-content;
    z-index: 1001;
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid #6fcf97;
  }
  .ld-message__close {
    display: none;
  }
}

// navigation
.table-of-contents {
  position: relative;
  width: 284px; // When table-of-contents is pinned is set to position: fixed, so we need a fixed width;
  padding: 0;
  margin: 0;

  &.fixed {
    position: fixed;
  }

  li {
    padding: 0;
    margin: 0;
  }
  a {
    display: inline-block;
    padding: 8px 24px;
    display: inline-block;
    border-left: 2px solid #c7d0d3;
    outline: none;

    &:hover {
      color: #81898b;
      border-left-color: #000000b5;
    }
    &.active {
      font-weight: 500;
      border-left-color: #000;
    }
  }
}

.edit_profile_card {
  background-color: white;
  border-bottom: 1px solid #000;
  padding: 32px 0;
  max-width: px-to-rem(616px);

  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 0;
  }

  @media #{$medium-and-down} {
    padding: 24px 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 24px;

    @media #{$medium-and-down} {
      position: sticky;
      top: 0;
      background-color: white;
      z-index: 1;
      padding-top: 5px;
    }

    .title {
      font-family: $sans-title;
      font-size: px-to-rem(32px);
    }

    .title-notification {
      display: flex;
      align-items: center;
      gap: 8px;
      border-radius: 4px;
      padding: 6px 8px;

      &.warning {
        background-color: #fab04f;
      }
    }
  }

  &__subtitle {
    &_name {
      padding-bottom: 12px;
      font-size: px-to-rem(24px);
      font-weight: 500;
    }

    &_identification {
      display: inline-flex;
      gap: 10px;
      background-color: #e3e8ea;
      border-radius: 2px;
      padding: 4px 8px;
    }
  }

  &__body {
    margin-top: 16px;
    border-top: 0.5px solid #ababab;
    border-bottom: 0.5px solid #ababab;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    gap: 6px;

    &_line {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      padding-block: 4px;

      &.google-disconnect {
        align-items: center;
        svg {
          margin-right: 2px;
        }

        input[type="submit"] {
          border: none;
          background-color: transparent;
          text-transform: capitalize;
          text-decoration: underline;
          font-weight: 700;
        }

        a {
          text-decoration: underline;
        }
      }
    }

    .needs-attention-icon {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #efd198;
      margin-left: 5px;
    }

    @media screen and (max-width: 992px) {
      &.profile-data {
        background-color: #f6f5f5;
      }
    }
  }

  &__inner-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 0.5px solid #ababab;
    border-radius: 5px;
    padding: 16px;
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }

    &.danger {
      border: 1px solid #d50000;
      background-color: #fee;

      .edit_profile_card__inner-section_body p {
        display: flex;
        align-items: center;
        font-weight: 500;
        gap: 8px;

        span {
          flex: 1;
        }

        @media #{$medium-and-down} {
          padding-left: 0;
        }
      }
    }

    &_header {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      .title {
        font-weight: 700;
        font-size: px-to-rem(20px);
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex: 1;

        .new {
          background-color: #219653;
          border: 1px solid #6fcf97;
          border-radius: 3px;
          color: white;
          font-size: 0.75rem;
          padding: 2px 4px;
          margin-left: 5px;
          height: 21px;
        }
      }

      .price {
      }

      &.subscriptions {
        border-bottom: none;

        .title {
          font-family: $sans-title;
        }
      }

      &.newsletters {
        border-bottom: none;
      }
    }

    &_body {
      &.subscriptions p {
        margin: 0;
      }

      p {
        margin: 10px 0 0;

        &.periodicity {
          display: block;
          text-transform: uppercase;
          font-size: 0.9rem;
          background-color: #e3e8ea;
          width: 100%;
          border-radius: 4px;
          padding: 6px 8px;
        }
      }
    }

    &_footer {
      .cancel-link {
        text-decoration: underline;
        display: inline-block;
        margin-top: 10px;
        color: #262626;
        opacity: 0.6;
      }

      .link {
        display: inline-block;
        color: #262626;
        text-transform: uppercase;
        text-decoration: underline;
        cursor: pointer;
        font-size: 0.9rem;
        margin-top: 15px;
        padding-left: 8px;

        svg {
          margin-left: 5px;
        }
      }
    }
  }

  &__footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a:not(.btn) {
      text-transform: uppercase;
      text-decoration: underline;
    }

    &-link {
      padding-left: 16px;
    }

    &.subscriptions {
      flex-wrap: wrap-reverse;
      justify-content: center;

      @media screen and (min-width: 540px) and (max-width: 619px),
        screen and (min-width: 766px) and (max-width: 992px),
        screen and (min-width: 1017px) {
        justify-content: space-between;
      }

      .ut-btn {
        margin-left: 0;
      }

      .edit_profile_card__footer-link {
        margin: 10px;
        padding-left: 0;
      }
    }
  }
}

#edit_profile_notification {
  position: fixed;
  top: 50px;
  color: white;
  background-color: #0d823f;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  min-width: max-content;
  z-index: 1001;
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid #6fcf97;
  width: max-content;

  @media screen and (max-width: 350px) {
    width: 90%;
  }

  svg {
    margin-right: 16px;

    &.close-icon {
      display: none;
    }
  }

  p {
    margin: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    padding-left: 16px;
  }

  @media #{$medium-and-down} {
    min-width: auto;
    align-items: center;

    svg {
      margin-right: 8px;
    }

    p {
      padding-left: 8px;
      flex: 1;
    }
  }

  &.error {
    background-color: #8c4343;
    border-color: #c27b7b;

    svg .check-icon {
      display: none;
    }
    svg .close-icon {
      display: block;
    }
  }
}

.edit_profile_modal {
  &__background {
    background-color: rgba(67, 67, 67, 0.151);
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 2;
    padding-bottom: 65px;
    overflow: auto;

    p {
      margin: 0;
    }

    @media #{$medium-and-down} {
      align-items: stretch;
      padding: 75px 0;
    }
  }

  &__container {
    background-color: white;
    padding: 16px 12px;
    height: fit-content;
    width: 90%;
    border-radius: 8px;

    @media #{$medium-and-up} {
      margin: 100px 8px;
      border-radius: 12px;
      width: 600px;
      padding: 16px;
    }

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      #edit_profile_modal__close_btn {
        background: none;
        border: none;
        padding: 0 4px 0 0;
      }
    }

    form#user_form {
      label {
        display: flex;
        align-items: center;
        gap: 6px;
      }
      .input-field .required {
        .asterisk {
          display: none;
        }
        &::after {
          position: relative;
          content: "*";
        }
      }

      #div_id_phone {
        padding-bottom: 20px;
        label {
          transform: translateY(-140%);
          font-size: 0.8rem;
        }
        button.iti__selected-country:focus {
          background-color: transparent;
        }
        div.iti {
          width: 100%;
          input {
            box-sizing: border-box;
            padding: 0 8px;
          }
        }
      }

      #div_id_province {
        margin-top: 1rem;

        label {
          position: relative;
          font-size: px-to-rem(14px);
        }
      }

      .input-field.col label {
        color: #7a7a7a !important;
        left: 0;

        @media #{$medium-and-down} {
          left: 0;
          font-size: px-to-rem(14px);
        }
      }
    }

    &__body {
      border: 1px solid #d8d8d8;
      border-radius: 6px;
      padding: 16px;

      a.google-oauth-desconect {
        text-transform: capitalize;
        background-color: transparent;
        border: none;
        text-decoration: underline;
        color: #a4a4a4;
        padding: 0;
      }

      @media #{$medium-and-down} {
        padding: 12px 8px 16px;
      }
    }

    &__footer {
      margin-top: 10px;

      .required-fields {
        font-size: 0.8rem;

        @media #{$medium-and-down} {
          margin-left: 8px;
        }
      }

      &-btn_container {
        margin-top: 15px;
        text-align: center;
      }
    }
  }
}

.switch-container {
  display: flex;
  align-items: center;

  .label-text {
    font-weight: 700;
    font-size: 0.9rem;
    text-align: right;
    margin-right: 8px;

    &.on {
      color: #219653;

      &.disabled {
        color: #a4a4a4;
      }
    }
  }
}

.card-plan {
  box-shadow:
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  padding: 25px;
  border-radius: 10px;

  > ul {
    margin-left: 1em;

    > li {
      list-style-type: disc;
      margin-bottom: 5px;
    }
  }

  + .card-plan {
    margin-top: 25px;
  }
}
