body.search .search-results h2{
	margin-bottom: 12px;
}
body.search .search-results ul{
  margin-bottom: 12px;
}
body.search .search-results li{
	margin: 0px 0 15px 0;
}

.searchtitle span{
  background-color: #F0F0F0;
  color: #2193C6;
  font-size: 11px;
  margin-right: 5px;
}

.searchtitle a h2{
  font-size: 16px;
  font-weight: bold;
}

.searchfooter{
  font-size: 10px;
  color: #808080;
  margin-top: 5px;
  margin-bottom: 12px;
}

.searchdes{
  font-size: 12px;
  line-height: 17px;
  margin: 6px 0;
}

