@import "../utopia_mixins";
@import "../utopia_materialize/variables";

body.user-newsletters {
  p,
  a,
  h1 {
    margin: 0;
    padding: 0;
  }

  .container {
    width: 100%;
    max-width: 1132px;
    padding: 60px 0;
  }

  h1 {
    font-size: px-to-rem(28px);
  }

  p.deck {
    padding-top: 12px;
    color: #4f4f4f;
    font-size: px-to-rem(18px);
  }

  .grid-nl-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding-top: 60px;

    @media #{$medium-and-down} {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  @media #{$medium-and-down} {
    .container {
      padding: 40px 30px;
    }

    h1 {
      font-size: px-to-rem(24px);
    }

    p.deck {
      font-size: px-to-rem(14px);
    }

    .grid-nl-cards {
      padding-top: 40px;
      gap: 8px;
    }
  }

  .edit_profile_card {
    &__inner-section {
      box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
      margin: 0;

      &.active {
        box-shadow: none;
        border: 2px solid #21966a;
        background-color: white;
      }
      &_header {
        border-bottom: 1px solid #d8d8d8;
        padding-bottom: 12px;
      }
      &_body {
        padding-top: 12px;
      }
      .description {
        padding-top: 12px;
      }
    }
  }
}
