@import "../utopia_mixins.scss";

.container {
  width: 100%;
}
h1 {
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

form#scan-qr-form {
  padding: 0 20px;
  text-align: center;
}

#id_code {
  display: none;
}

#info-container {
  text-align: center;
  margin: 0;
  position: absolute;
  bottom: 125px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0.4);
  padding: 8px 40px;
  color: white;
  font-size: px-to-rem(14px);
  width: max-content;

  &.hidden {
    display: none;
  }
}

#info-container.error {
  background-color: #e61a1a;
  color: white;
}

#submit-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 175px;
  border-radius: 8px;
  font-size: px-to-rem(20px);
  left: 50%;
  transform: translateX(-50%);
  width: px-to-rem(336px);
  min-height: px-to-rem(44px);

  &.hidden {
    display: none;
  }
}
#submit-button svg {
  display: none;
}
#submit-button.with-tick svg {
  display: inline;
  margin-right: 0;
}
#submit-button.with-tick span {
  display: none;
}
#qr-scanned-successfully {
  text-align: center;
  font-size: 0.75rem;
  font-weight: 700;
  position: absolute;
  bottom: 135px;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;

  &.hidden {
    display: none;
  }
}
