<article class="lead col-xs-4 col-sm-4 col-md-4{% if pelicula.poster %} has_foto{% endif %}">
  <header class="col-xs-8 col-sm-8 col-md-8">
    <h2><a href="{{ pelicula.get_absolute_url }}">{{ pelicula }}</a></h2>
    <p>{{ pelicula.description }}</p>
  </header>

  <figure class="foto col-xs-4 col-sm-4 col-md-4">
    <a href="{{ pelicula.get_absolute_url }}" class="poster"><img src="/media/{{ pelicula.poster }}" alt="{{ pelicula }}" title="Ver detalles de esta pelicula" /></a>
  </figure>

  <footer class="navbar toolbar col-xs-8 col-sm-8 col-md-8">
    {% with evento=pelicula %}
      {% include "comunidad/evento_toolbar.html" %}
    {% endwith %}
  </footer>
</article>

