{% load bleach_tags core_tags ldml %}

{% if secondary %}
<div class="main-section__secondary-row">
  {% for article in secondary %}
  <article class="article">
    <span class="article__section-label">
      {% autoescape off %}{% render_hierarchy article %}{% endautoescape %}
    </span>
    <h3 class="article__title">
      <a href="{{ article.get_absolute_url }}">{{ article.headline|ldmarkup|bleach }}</a>
    </h3>
    <div class="article__footer">
      {% with authors=article.get_authors %}
        {% if authors %}
          <div class="article__byline">
            Por
            {% for author in authors %}
              <a href="{{ author.get_absolute_url }}">{{ author.name }}</a>{% if not forloop.last %}{% if forloop.revcounter == 2 %} y {% else %}, {% endif %}{% endif %}
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
      <button class="article__bookmark" aria-label="Guardar en favoritos">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 16 16"><path fill="#999" d="M4.13 3c-.616 0-1.125.496-1.125 1.099L3 14l4.5-1.65L12 14V4.1c0-.601-.51-1.1-1.125-1.1zm0 1.1h6.745v8.312L7.5 11.175l-3.374 1.237z"/></svg>
      </button>
    </div>
  </article>
  {% endfor %}
</div>
{% endif %}
