{% load bleach_tags core_tags ldml %}

{% if tertiary %}
<div class="main-section__tertiary-row">
  {% for article in tertiary %}
  <article class="article">
    {% if article.photo %}
      <a href="{{ article.get_absolute_url }}">
        <img
          class="article__image"
          srcset="{{ article.photo.get_small_url }} 350w, {{ article.photo.get_700w_url }} 700w"
          sizes="(min-width: 700px) 284px, 100vw"
          width="700"
          height="{{ article.photo.get_700w_size.1 }}"
          loading="lazy"
          title="{{ article.photo_caption }}"
          alt="{{ article.photo_caption }}"
        >
      </a>
    {% endif %}
    <span class="article__section-label">{% autoescape off %}{% publication_section article %}{% endautoescape %}</span>
    <h3 class="article__title">
      <a href="{{ article.get_absolute_url }}">{{ article.headline|ldmarkup|bleach }}</a>
    </h3>
    <div class="article__footer">
      <button class="article__bookmark" aria-label="Guardar en favoritos">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 16 16"><path fill="#999" d="M4.13 3c-.616 0-1.125.496-1.125 1.099L3 14l4.5-1.65L12 14V4.1c0-.601-.51-1.1-1.125-1.1zm0 1.1h6.745v8.312L7.5 11.175l-3.374 1.237z"/></svg>
      </button>
    </div>
  </article>
  {% endfor %}
</div>
{% endif %}
