{% spaceless %}
{% load static %}
{% load core_tags %}
{% load compress %}
{% endspaceless %}<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="es-UY"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="es-UY"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="es-UY"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="es-UY">
<!--<![endif]-->
  <head>
    {% include '_gtm.html' %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Elegí Informarte</title>
    <meta name="description" content="Quienes votan por primera vez pueden recibir sin costo la suscripción digital de la diaria" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include '_favicon.html' %}

    <meta name="author" content="la diaria" />
    <meta name="robots" content="All" />

    <link rel="icon" href={% static 'elegi-informarte/img/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:600" rel="stylesheet">


    {% compress css %}
      <link href="{% static 'sass/_elegi-informarte.scss' %}" rel="stylesheet" type="text/x-scss" charset="utf-8">
    {% endcompress %}


    <meta property="og:type" content="website" />
    <meta property="og:title" content="Elegí Informarte"/>
    <meta property="og:image" content="{{ SITE_URL }}static/elegi-informarte/img/share.jpg" />
    <meta property="og:description" content="Quienes votan por primera vez pueden recibir sin costo la suscripción digital de la diaria." />
    <meta property="og:site_name" content="la diaria" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@ladiaria" />

    {% block json_ld %}
    <script type='application/ld+json'>
        {
          "@context": "http://www.schema.org",
          "@type": "NewsMediaOrganization",
          "name": "la diaria",
          "url": "{{ SITE_URL }}",
          "logo": "{{ SITE_URL }}static/meta/la-diaria-1000x1000.png",
          "description": "Publicación periodística uruguaya.",
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "Treinta y Tres 1479",
            "addressLocality": "Montevideo",
            "addressRegion": "Montevideo",
            "postalCode": "11000",
            "addressCountry": "Uruguay"
          },
          "email":"contacto@ladiaria.com.uy",
          "telephone":"+598 29000 808",
          "sameAs": [
            "https://www.facebook.com/ladiaria",
            "https://twitter.com/ladiaria",
            "https://www.instagram.com/ladiaria",
            "https://www.youtube.com/channel/UCu0rrtxKLExB_fNSAJ_SU9A",
            "https://www.linkedin.com/company/ladiaria",
            "https://soundcloud.com/ladiaria",
            "https://es.wikipedia.org/wiki/La_Diaria"
          ]
        }
    </script>
    {% endblock %}
    {% if not debug %}
      {% if user.is_authenticated %}
        <script type='text/javascript'>
          LDUser = {};
          LDUser.id = {{ user.id }};
          LDUser.subscriber = {{ is_subscriber|lower }};
          LDUser.firstName = "{{ user.first_name }}";
          LDUser.lastName = "{{ user.last_name }}";
        </script>
      {% endif %}
    {% endif %}

  </head>
  <body class="eli eli-home">
    {% include '_gtm-script.html'  %}
    <header class="eli-header">
      <div class="eli-logo">
        <a href="/elegi-informarte" class="eli-logo-link">
          {% include "logo.html" %}
        </a>
      </div>
      <nav class="eli-nav">
        <a href="/elegi-informarte/" class="active">Proyecto</a>
        <a href="/elegi-informarte/suscripcion">Soy nuevo votante</a>
        <a href="/elegi-informarte/colaborar">Quiero colaborar</a>
      </nav>
    </header>

      <div class="eli-wrap">
        <main class="eli-container eli-container--main eli-container--home">
          <div class="eli-row">
            <div class="eli-col">
              <h1 class="eli-title">
                Quienes votan por primera vez pueden recibir sin costo la suscripción digital de la diaria
              </h1>

              <div class="eli-intro">
                La información de calidad es fundamental al momento de elegir el
                destino de un país. En la diaria haremos una cobertura especial
                de las Elecciones 2019 y queremos compartirla especialmente con
                quienes votan por primera vez. Por eso les brindaremos la suscripción
                digital gratuita durante toda la campaña electoral.
              </div>

              <div class="eli-options">

                <div class="eli-option eli-option--suscriptor">
                  <img src="{% static 'elegi-informarte/img/ilustracion-1.png' %}" alt="Nuevos votantes" class="eli-drawing">
                  <div class="eli-option__title">¿Votás por primera vez?</div>
                  <div class="eli-option__intro">
                    Solicitá la suscripción digital a la diaria, sin costo durante toda la campaña electoral.
                  </div>
                  <div class="eli-option__btn-wrap">
                    <a href="/elegi-informarte/suscripcion" class="eli-btn">Pedir suscripción gratuita</a>
                  </div>
                </div>

                <div class="eli-option eli-option--colaborador">
                  <img src="{% static 'elegi-informarte/img/ilustracion-2.png' %}" alt="Colaborador" class="eli-drawing">
                  <div class="eli-option__title">¿Querés apoyar esta acción?</div>
                  <div class="eli-option__intro">
                    Ayudá a costear las suscripciones de quienes votan por primera vez.
                  </div>
                  <div class="eli-option__btn-wrap">
                    <a href="/elegi-informarte/colaborar" class="eli-btn">Colaborar económicamente</a>
                  </div>
                </div>

              </div>

            </div>

          </div>

          <div clasS="align-center">
            <a href="/elegi-informarte/preguntas" class="eli-faq-link">Preguntas frecuentes</a>
          </div>

        </main>

        {% include '_shares.html' %}

      </div>

      <footer class="eli-footer">
        <p>Elegí informarte es un proyecto de <em>la diaria</em>.</p>
        <a href="{{ SITE_URL }}"><img src="{% static 'img/logo-dark.svg' %}" alt="la diaria"></a>
      </footer>

    <!--[if lt IE 9]>
    <p class="browserupgrade">
      Estás utilizando una versión <strong>desactualizada</strong> de su navegador de internet.
      <a href="https://browsehappy.com/?locale=es">Actualiza tu navegador</a>
      para una mejor experiencia de usuario.
    </p>
    <![endif]-->
  </body>
</html>
