{% spaceless %}
{% load static %}
{% load core_tags %}
{% load compress %}
{% endspaceless %}<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="es-UY"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="es-UY"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="es-UY"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="es-UY">
<!--<![endif]-->
  <head>
    {% include '_gtm.html' %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Elegí Informarte — Preguntas</title>
    <meta name="description" content="Quienes votan por primera vez pueden recibir sin costo la suscripción digital de la diaria" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include '_favicon.html' %}

    <meta name="author" content="la diaria" />
    <meta name="robots" content="All" />

    <link rel="icon" href="{% static 'elegi-informarte/img/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:600" rel="stylesheet">


    {% compress css %}
      <link href="{% static 'sass/_elegi-informarte.scss' %}" rel="stylesheet" type="text/x-scss" charset="utf-8">
    {% endcompress %}

    <meta property="og:type" content="website" />
    <meta property="og:title" content="Elegí Informarte"/>
    <meta property="og:image" content="{{ SITE_URL }}static/elegi-informarte/img/share.jpg" />
    <meta property="og:description" content="Quienes votan por primera vez pueden recibir sin costo la suscripción digital de la diaria." />
    <meta property="og:site_name" content="la diaria" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@ladiaria" />

    {% block json_ld %}
    <script type='application/ld+json'>
        {
          "@context": "http://www.schema.org",
          "@type": "NewsMediaOrganization",
          "name": "la diaria",
          "url": "{{ SITE_URL }}",
          "logo": "{{ SITE_URL }}static/meta/la-diaria-1000x1000.png",
          "description": "Publicación periodística uruguaya.",
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "Treinta y Tres 1479",
            "addressLocality": "Montevideo",
            "addressRegion": "Montevideo",
            "postalCode": "11000",
            "addressCountry": "Uruguay"
          },
          "email":"contacto@ladiaria.com.uy",
          "telephone":"+598 29000 808",
          "sameAs": [
            "https://www.facebook.com/ladiaria",
            "https://twitter.com/ladiaria",
            "https://www.instagram.com/ladiaria",
            "https://www.youtube.com/channel/UCu0rrtxKLExB_fNSAJ_SU9A",
            "https://www.linkedin.com/company/ladiaria",
            "https://soundcloud.com/ladiaria",
            "https://es.wikipedia.org/wiki/La_Diaria"
          ]
        }
    </script>
    {% endblock %}
    {% if not debug %}
      {% if user.is_authenticated %}
        <script type='text/javascript'>
          LDUser = {};
          LDUser.id = {{ user.id }};
          LDUser.subscriber = {{ is_subscriber|lower }};
          LDUser.firstName = "{{ user.first_name }}";
          LDUser.lastName = "{{ user.last_name }}";
        </script>
      {% endif %}
    {% endif %}

  </head>
  <body class="eli preguntas">
    {% include '_gtm-script.html'  %}
    <header class="eli-header">
      <div class="eli-logo">
        <a href="/elegi-informarte" class="eli-logo-link">
          {% include "logo.html" %}
        </a>
      </div>
      <nav class="eli-nav">
        <a href="/elegi-informarte">Proyecto</a>
        <a href="/elegi-informarte/suscripcion">Soy nuevo votante</a>
        <a href="/elegi-informarte/colaborar">Quiero colaborar</a>
      </nav>
    </header>

      <div class="eli-wrap">
        <main class="eli-container eli-container--narrow faq-shadows">
          <div class="eli-row">
            <div class="eli-col">
              <h1 class="eli-title">Preguntas frecuentes</h1>

              <h2 class="eli-subtitle">Nuevos votantes</h2>

              <h3>¿Qué incluye la suscripción a la diaria digital que me van a obsequiar?</h3>
              <div class="eli-answer">
                <p>
                  Acceso ilimitado a todos los contenidos digitales de la diaria.
                  Tendrás acceso a periodismo independiente de calidad para que estés
                  bien informado en el marco de las Elecciones 2019.
                </p>
                <p>
                  Tu suscripción especial “Elegí Informarte” no incluye ciertos beneficios
                  de <a href="https://comunidad.ladiaria.com.uy/">la diaria Comunidad</a>
                  como descuentos de entradas a eventos.
                </p>
              </div>

              <h3>¿Por cuánto tiempo voy acceder a la suscripción gratuita?</h3>
              <div class="eli-answer">
                <p>
                  Desde el momento en el que la solicites hasta el 1 de diciembre de 2019.
                </p>
              </div>

              <h3>¿Me genera algún compromiso posterior acceder a este beneficio?</h3>
              <div class="eli-answer">
                <p>
                  Ninguno. Luego de terminada la campaña electoral te vamos a ofrecer
                  comenzar a pagar tu suscripción. Si no lo aceptás, pasarás a ser
                  usuario registrado de nuestro sitio, lo que te permitirá acceder a
                  20 artículos gratis por mes.
                </p>
              </div>

              <h3>¿Me puedo dar de baja antes que termine la campaña electoral?</h3>
              <div class="eli-answer">
                <p>
                  Claro. Sólo tenés que solicitar la baja escribiendo a
                  <a href="mailto:suscripciones@ladiaria.com.uy">suscripciones@ladiaria.com.uy</a>.
                </p>
              </div>

              <h3>Soy nuevo votante y ya tengo suscripción digital de la diaria, ¿puedo pasar a tener el beneficio gratuito?</h3>
              <div class="eli-answer">
                <p>
                  Sí. Dejás de pagar tu suscripción digital actual y accedés a la
                  de obsequio hasta que esta concluya. Pedí el cambio a plan
                  Elegí Informarte a <a href="mailto:suscripciones@ladiaria.com.uy">suscripciones@ladiaria.com.uy</a>.
                </p>
              </div>

              <h3>¿Cómo saben que soy nuevo votante?</h3>
              <div class="eli-answer">
                <p>
                  Le solicitamos a la Corte Electoral información que nos permite
                  validar si tu credencial está comprendida dentro de las de los nuevos votantes.
                </p>
              </div>

              <h2 class="eli-subtitle">Colaboradores</h2>

              <h3>Al colaborar, ¿podré elegir qué persona recibirá la suscripción gratuita?</h3>
              <div class="eli-answer">
                <p>
                  La colaboración es para la totalidad de los primeros votantes
                  que soliciten la suscripción gratuita. Lo que sí es posible es
                  recomendar jóvenes que personalmente crees que les sería útil tener el beneficio.
                </p>
              </div>

              <h3>¿Mi colaboración es por única vez?</h3>
              <div class="eli-answer">
                <p>
                  Sí, al colaborar se te realizará un único cobro por el monto que hayas elegido.
                </p>
              </div>

              <h3>¿Cuáles son los métodos de pago aceptados para colaborar?</h3>
              <div class="eli-answer">
                <p>
                  <ul>
                    <li>Tarjeta de crédito Visa, Master y Cabal.</li>
                    <li>Red de cobranza RedPagos.</li>
                    <li>E-BROU.</li>
                  </ul>
                </p>
              </div>

              <h3>Prefiero colaborar sin utilizar esta página.</h3>
              <div class="eli-answer">
                <p>
                  <a href="/contacto/">Comunicate</a> con nosotros.
                </p>
              </div>

              <h2 class="eli-subtitle">¿Tenés más preguntas?</h2>
              <div class="eli-answer">
                <p>
                  En nuestra página <a href="/contacto/">Contacto</a> podés ver todas las vías de comunicación con nosotros.
                </p>
                <p>
                  En nuestro <a href="/ayuda/">Centro de ayuda</a> encontrarás información sobre la diaria.
                </p>
              </div>

            </div>

          </div>

        </main>

      </div>

      <footer class="eli-footer">
        <p>Elegí informarte es un proyecto de <em>la diaria</em>.</p>
        <a href="{{ SITE_URL }}"><img src="{% static 'img/logo-dark.svg' %}" alt="la diaria"></a>
      </footer>

    <!--[if lt IE 9]>
    <p class="browserupgrade">
      Estás utilizando una versión <strong>desactualizada</strong> de su navegador de internet.
      <a href="https://browsehappy.com/?locale=es">Actualiza tu navegador</a>
      para una mejor experiencia de usuario.
    </p>
    <![endif]-->
  </body>
</html>
