{% extends "admin/change_form.html" %}
{% load core_tags %}
{% load static %}

{% block after_field_sets %}
  <div id="perplexity-data"
      data-article-id="{{ original.id }}" data-article-is-ai-used="{{ original.ia_used }}">
      {{ adminform.form.input_ia_used }}
  </div>
{% endblock %}



{% block extrahead %}
  {{ block.super }}

  {% if user|in_group:"use_ia" %}
    <link rel="stylesheet" href="{% static 'css/perplexity_admin.css' %}">
    <script src="{% static 'js/perplexity_button.js' %}"></script>
  {% endif %}
{% endblock %}
