body.edition ul.editions {
    background:#FFF url(../../img/dotted.gif) repeat-y center top;
    margin-bottom:12px;
    overflow:auto;
    padding-bottom:2px;
}
body.edition li.edition {
	background:transparent url(../../img/dotted.gif) repeat-x 12px 0;
    float:left;
    margin:0 12px;
    padding:12px 0;
    text-align:center;
    width:360px;
}
body.edition ul.editions li.nobg {
    background:none;
}
body.edition #edition {
    width:552px;
    float:left;
}
