{% extends "base.html" %}
{% load thumbnail %}

{% block page_title %}Suplementos{% endblock %}
{% block body_class %}supplement{% endblock %}

{% block content %}
    <h1>Suplementos</h1>
    <div class="row">
        {% for supplement in supplements.object_list %}
            <div class="col-xs-6 col-sm-4 col-md-3 ">
                <h2>
                    {{ supplement.get_name_display }} ({{ supplement.date_published|date:"j.n.y"|capfirst }})
                </h2>
                <a href="{{ supplement.cover.url }}" class="jbox">
                    {% thumbnail supplement.cover "204x500" as im %}
                        <img src="{{ im.url }}" alt="Tapa del suplemento {{ supplement.name }} publicado el {{ supplement.date_published|date:"l j \de F \de Y" }}">
                    {% endthumbnail %}
                </a>
                {% ifnotequal supplement.name "hp" %}
                    <div>
                        <a href="{{ supplement.get_absolute_url }}">Descargar PDF</a>
                    </div>
                {% endifnotequal %}
            </div>
        {% endfor %}
    </div>
    {% ifnotequal supplements.paginator.num_pages 1 %}
        <div class="pagination">
            <span class="steps">
                {% if supplements.has_previous %}
                    <a href="?pagina={{ supplements.previous_page_number }}">Anterior</a>
                {% endif %}
                {% for page_number in supplements.paginator.page_range %}
                    {% ifequal supplements.number page_number %}
                        <span class="selected">{{ page_number }}</span>
                    {% else %}
                        <a class="page" href="?pagina={{ page_number }}">{{ page_number }}</a>
                    {% endifequal %}
                {% endfor %}
                {% if supplements.has_next %}
                    <a class="next" href="?pagina={{ supplements.next_page_number }}">Siguiente</a>
                {% endif %}
            </span>
        </div>
    {% endifnotequal %}
{% endblock %}
