/* new styles */
.coral-tabBar-tab-active {
    border-top-color: #262626 !important;
    color: #262626 !important;
}
.coral-tabBar-tab-active:before {
    background-color: #262626 !important;
    color: #262626 !important;
}
.coral-viewerBox-logoutButton {
    color: #262626 !important;
    text-decoration: underline !important;
}
.coral-guidelines {
    background-color: #f5f5f5 !important;
    border-color: #9a9da0 !important;
}
.coral-tabBar-tab {
    border-bottom-color: #262626 !important;
}
.coral-createComment-submit {
    background-color: #262626 !important;
}
.coral-createComment-submit:disabled {
    opacity:0.9;
}
.coral-tabBarComments-allComments {
    color: #262626 !important;
    border-bottom-color: #262626 !important;
}
.coral-allComments-viewNewButton {
    border-color: #262626 !important;
    color: #262626 !important;
}

.coral-stream > nav {
    margin-bottom: 0 !important;
}
main {
    padding:24px 16px 16px;
    border: solid 1px #d8d8d8;
    border-top: none;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

#app {
    padding-bottom: 1px;
}

.coral-unauthenticated > .coral-createComment {
  display: none;
}
.coral-commentForm {
    border-radius: 0 !important;
}

.coral-rte-content {
    border-top:1px solid #cbd1d2;
    border-bottom:1px solid #cbd1d2;
}

.coral-tabBarSecondary-tab-active {
    color: #262626 !important;
    border-color: #262626 !important;
}
.coral-myComment-viewConversationButton {
    color: #262626 !important;
}

.coral-emailNotifications-updateButton,
.coral-mediaPreferences-updateButton {
    background-color: #262626 !important;
    border-color:#262626 !important;
}
.coral-preferences input[type="checkbox"]:checked + label::before {
    background-color: #262626 !important;
    border-color: #262626 !important;
}