{% load static core_tags inplace_edit adzone_tags tagging_tags ldml %}

<article data-closeclick="true" class="card art_{{ article.style }} {% if article.photo.extended.is_portrait %}portrait {% endif %}{% if article.photo %} has_foto{% else %} no_foto{% endif %} lead type_{{ article.type }}" data-id="{{ article.id }}">

    {% if article.photo  %}
      <figure class="card-image row">
            <a href="{{ article.get_absolute_url }}" class="article_img_link col-sm-12"><img src="{{ article.photo.get_cover_landscape_url }}" alt="{{ article.photo.caption }}" title="{{ article.photo.caption }}" class="short" /></a>
            <figcaption class="caption col-xs-12">
                <span class="caption">{% inplace_edit 'article.photo.caption' %}</span>
            </figcaption>
      </figure>
    {% endif %}
    <header class="card-content">
      <span class="date">Hace {{ article.date_published|timesince }}</span>
      {% if article.headline %}
        <h1 class="card-title">
            <a href="{{ article.get_absolute_url }}">{% inplace_edit 'article.headline' %}</a>
        </h1>
      {% endif %}
      {% if article.get_keywords %}
      <div class="keywords-style"><h2 class="keywords-style" >{% inplace_edit 'article.keywords' %}</h2></div>
      {% endif %}
    </header>
    <section class="card-content">
          <p class="lead">

          {% if article.home_lead %}
            {% inplace_edit 'article.home_lead' %}
          {% endif %}
        </p>

    </section>

  {% render_toolbar_for article %}
</article>
