{% load activity_tags thedaily_tags %}

{# TODO: change variable name a to article for better understanding #}
{% if article_card_read_later_enabled %}
  {% if user.is_authenticated %}
    {% if prefetched_article_data %}
      {% if a.id in follows %}
      <div class="ld-card__addtrl added" title="Quitar de leer después" data-article-id="{{ a.id }}">
      {% else %}
      <div class="ld-card__addtrl" title="Guardar para leer después" data-article-id="{{ a.id }}">
      {% endif %}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 16 16"><path fill="#999" d="M4.13 3c-.616 0-1.125.496-1.125 1.099L3 14l4.5-1.65L12 14V4.1c0-.601-.51-1.1-1.125-1.1zm0 1.1h6.745v8.312L7.5 11.175l-3.374 1.237z"/></svg>
      </div>{# opened in the "if" #}
    {% elif not a.is_restricted or user|has_restricted_access:a %}
      {% if user|is_following:a %}
      <div class="ld-card__addtrl added" title="Quitar de leer después" data-article-id="{{ a.id }}">
      {% else %}
      <div class="ld-card__addtrl" title="Guardar para leer después" data-article-id="{{ a.id }}">
      {% endif %}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 16 16"><path fill="#999" d="M4.13 3c-.616 0-1.125.496-1.125 1.099L3 14l4.5-1.65L12 14V4.1c0-.601-.51-1.1-1.125-1.1zm0 1.1h6.745v8.312L7.5 11.175l-3.374 1.237z"/></svg>
      </div>{# opened in the "if" #}
    {% endif %}
  {% endif %}
{% endif %}
