{% load bleach_tags core_tags ldml %}

<article class="article{% block article_extra_class %}{% endblock %}" data-id="{{ article.id }}">

  {% block image %}
    {% if not article_card_hide_photo and article.photo and card_type and article.photo_image_file_exists %}
      <a href="{{ article.get_absolute_url }}" class="article__image-link">
        <img
          class="article__image"
          src="{{ article.photo.get_700w_url }}"
          width="700"
          height="{{ article.photo.get_700w_size.1 }}"
          {% if img_load_lazy %}loading="lazy"{% endif %}
          title="{{ article.photo_caption }}"
          alt="{{ article.photo_caption }}"
        >
      </a>
    {% endif %}
  {% endblock %}

  <div class="article__body">

    <div class="article__section-label">
      {% block article_section %}
        {% autoescape off %}{% publication_section article %}{% endautoescape %}
      {% endblock %}
      {% include 'article/article_card_lock_tooltip.html' %}
    </div>

    <h2 class="article__title">
      <a href="{{ article.get_absolute_url }}">{{ article.headline|ldmarkup|bleach }}</a>
    </h2>

    {% block lead %}{% endblock %}

    <div class="article__footer">
      {% with authors=article.get_authors %}
        {% if authors %}
          <div class="article__byline">
            Por
            {% for author in authors %}
              <a href="{{ author.get_absolute_url }}">{{ author.name }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}

      {% if not hide_date_published %}
        {% autoescape off %}{% date_published_verbose article %}{% endautoescape %}
      {% endif %}
      {% include 'article/article_card_read_later.html' with a=article %}
    </div>

  </div>

  {% render_toolbar_for article %}

</article>
