{% load bleach_tags core_tags ldml %}
<div class="ld-card ld-card--reg">
  {% render_toolbar_for a %}
  {% if a.photo %}
    <a href="{{ a.get_absolute_url }}">
      <img class="ld-card__img" src="{{ a.photo.get_700w_url }}" alt="{% if a.photo.caption %}{{ a.photo.caption }}{% if a.photo.extended.photographer %} · {{ a.photo.extended.type_verbose }}: {{ a.photo.extended.photographer.name }}{% endif %}{% else %}Foto principal del artículo '{{ a.headline|remove_markup }}'{% if a.photo.extended.photographer %} · {{ a.photo.extended.type_verbose }}: {{ a.photo.extended.photographer.name }}{% endif %}{% endif %}" title="{% if a.photo.caption %}{{ a.photo.caption }}{% if a.photo.extended.photographer %} · {{ a.photo.extended.type_verbose }}: {{ a.photo.extended.photographer.name }}{% endif %}{% else %}Foto principal del artículo '{{ a.headline|remove_markup }}'{% if a.photo.extended.photographer %} · {{ a.photo.extended.type_verbose }}: {{ a.photo.extended.photographer.name }}{% endif %}{% endif %}"
           width="700"{% if a.photo_image_file_exists %} height="{{ a.photo.get_700w_size.1 }}"{% endif %}
           loading="lazy">
    </a>
  {% endif %}
  <div class="ld-card__body">
    <div class="ld-card__section">{% autoescape off %}{% publication_section a %}{% endautoescape %}</div>
    <h2 class="ld-card__title {% if not a.deck %}ld-card__title--mb{% endif %}">
      <a href="{{ a.get_absolute_url }}">{{ a.headline|ldmarkup:article.id|bleach }}</a>
    </h2>
    {% if a.deck %}
      <div class="ld-card__intro">{{ a.deck|ldmarkup:a.id|bleach }}</div>
    {% endif %}
    <div class="ld-card__byline">
      {% if CORE_ARTICLE_ENABLE_PHOTO_BYLINE and a.photo.extended.photographer %}
        <div class="ld-card__photoauthor">
          {{ a.photo.extended.type_verbose }}: {{ a.photo.extended.photographer.name }}
        </div>
      {% endif %}
      {% if a.has_byline  %}
        <div class="ld-card__author">
          {% for author in a.get_authors %}
            <a href="{{ author.get_absolute_url }}">{{ author.name }}</a>{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </div>
      {% endif %}
      {% if not hide_date_published %}
        {% autoescape off %}{% date_published_verbose a %}{% endautoescape %}
      {% endif %}
      {% include 'article/article_card_read_later.html' %}
    </div>
  </div>
</div>
