{% load bleach_tags core_tags ldml %}

<div class="container">
  <section id="main-articles" class="ld-grid-main">
    <div class="ld-grid-area area-main">
      <div class="ld-card ld-card--big ld-card--{{ article.type }}{% block cover_article_extra_class %}{% endblock %}">
        {% render_toolbar_for article %}
        {% block image %}{# TODO: check if anybody need this block (it seems that nobody needs it) #}
          {% if article.photo_render_allowed %}
            <a href="{{ article.get_absolute_url }}">
              <picture>
                <source srcset="{{ article.photo.get_1200w_url }}" media="(min-width: 700px)">
                <source srcset="{{ article.photo.get_700w_url }}" media="(min-width: 0)">
                <img class="ld-card__img" data-sizes="auto" width="700" height="{{ article.photo.get_700w_size.1 }}"
                     title="{{ article.photo_caption }}" alt="{{ article.photo_caption }}">
              </picture>
            </a>
          {% endif %}
        {% endblock %}
        <div class="ld-card__body">
          <div class="ld-card__section">
            {% block cover_article_section %}
              {% autoescape off %}{% render_hierarchy article %}{% endautoescape %}
            {% endblock %}
            {% include 'article/article_card_lock_tooltip.html' %}
          </div>
          <h{% if publication.is_emergente %}2{% else %}1{% endif %} class="ld-card__title home-title {% if not article.home_lead %}ld-card__title--mb{% endif %}">
            <a href="{{ article.get_absolute_url }}">{{ article.headline|ldmarkup|bleach }}</a>
          </h{% if publication.is_emergente %}2{% else %}1{% endif %}>
          {% if article.home_lead %}
            <div class="ld-card__intro">{{ article.home_lead|ldmarkup|bleach }}</div>
          {% endif %}
          <div class="ld-card__byline">
            {% if CORE_ARTICLE_ENABLE_PHOTO_BYLINE and article.photo_author %}
              <div class="ld-card__photoauthor">{{ article.photo_type }}: {{ article.photo_author }}</div>
            {% endif %}
            {% with authors=article.get_authors %}
              {% if authors %}
                <div class="ld-card__author">
                  {% for author in authors %}
                    <a href="{{ author.get_absolute_url }}">{{ author }}</a>{% if not forloop.last %}, {% endif %}
                  {% endfor %}
                </div>
              {% endif %}
            {% endwith %}
            {% if not hide_date_published %}
              {% autoescape off %}{% date_published_verbose article %}{% endautoescape %}
            {% endif %}
            {% include 'article/article_card_read_later.html' with a=article %}
          </div>
        </div>
      </div>
    </div>

    <div class="ld-grid-area area-second">
      {% for a in destacados|slice:":2" %}
        <div class="ld-card ld-card--reg ld-card--{{ a.type }}{% block destacados_left_extra_class %}{% endblock %}">
          {% render_toolbar_for a %}
          {% if a.photo_render_allowed %}
            <a href="{{ a.get_absolute_url }}">
              <img class="ld-card__img" src="{{ a.photo.get_700w_url }}" loading="lazy" width="700"
                   height="{{ a.photo.get_700w_size.1 }}" title="{{ a.photo_caption }}" alt="{{ a.photo_caption }}">
            </a>
          {% endif %}
          <div class="ld-card__body">
            <div class="ld-card__section">
              {% block destacados_left_section %}
                {% autoescape off %}{% render_hierarchy a %}{% endautoescape %}
              {% endblock %}
              {% with article=a %}{% include 'article/article_card_lock_tooltip.html' %}{% endwith %}
            </div>
            <h{% if publication.is_emergente %}3{% else %}2{% endif %} class="ld-card__title ld-card__title--mb">
              <a href="{{ a.get_absolute_url }}">{{ a.headline|ldmarkup|bleach }}</a>
            </h{% if publication.is_emergente %}3{% else %}2{% endif %}>
            {% if a.deck %}
              <div class="ld-card__intro hide-on-med-and-up">{{ a.deck|ldmarkup|bleach }}</div>
            {% endif %}
            <div class="ld-card__byline">
              {% if CORE_ARTICLE_ENABLE_PHOTO_BYLINE and a.photo_author %}
                <div class="ld-card__photoauthor">{{ a.photo_type }}: {{ a.photo_author }}</div>
              {% endif %}
              {% with authors=a.get_authors %}
                {% if authors %}
                  <div class="ld-card__author">
                    {% for author in authors %}
                      <a href="{{ author.get_absolute_url }}">{{ author }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                  </div>
                {% endif %}
              {% endwith %}
              {% if not hide_date_published %}
                {% autoescape off %}{% date_published_verbose a %}{% endautoescape %}
              {% endif %}
              {% include 'article/article_card_read_later.html' %}
            </div>
          </div>
        </div>
      {% endfor %}

    </div>

    <div class="ld-grid-area area-third">

      {% for a in destacados|slice:"2:6" %}
        <div class="ld-card ld-card--sm{% if a.photo.extended.square_version %} ld-card--has-img{% endif %}
                    ld-card--{{ a.type }}{% block destacados_right_extra_class %}{% endblock %}">
          {% render_toolbar_for a %}

          {% if a.photo_render_allowed %}
            <a href="{{ a.get_absolute_url }}" class="ld-card__img-link">
              <img class="ld-card__img" src="{{ a.photo.get_700w_url }}" loading="lazy" width="700"
                   height="{{ a.photo.get_700w_size.1 }}" title="{{ a.photo_caption }}" alt="{{ a.photo_caption }}">
            </a>
          {% endif %}
          <div class="ld-card__body">
            <div class="ld-card__section">
              {% block destacados_right_section %}
                {% autoescape off %}{% render_hierarchy a %}{% endautoescape %}
              {% endblock %}
              {% with article=a %}{% include 'article/article_card_lock_tooltip.html' %}{% endwith %}
            </div>
            <h{% if publication.is_emergente %}3{% else %}2{% endif %} class="ld-card__title ld-card__title--mb">
              <a href="{{ a.get_absolute_url }}">{{ a.headline|ldmarkup|bleach }}</a>
            </h{% if publication.is_emergente %}3{% else %}2{% endif %}>
            {% if a.home_lead or a.deck %}
              <div class="ld-card__intro hide-on-med-and-up">
                {{ a.home_lead|default:a.deck|ldmarkup|bleach }}
              </div>
            {% endif %}
            <div class="ld-card__byline">
              {% with authors=a.get_authors %}
                {% if authors %}
                  <div class="ld-card__author">
                    {% for author in authors %}
                      <a href="{{ author.get_absolute_url }}">{{ author }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                  </div>
                {% endif %}
              {% endwith %}
              {% if not hide_date_published %}
                {% autoescape off %}{% date_published_verbose a %}{% endautoescape %}
              {% endif %}
              {% include 'article/article_card_read_later.html' %}
            </div>
          </div>
          {% if a.photo.extended.square_version %}
            <a class="ld-card__img-sq" href="{{ a.get_absolute_url }}">
              <img src="{{ MEDIA_URL }}photologue/photos/{{ a.photo.extended.get_square_version_filename }}"
                   title="{{ a.photo_caption }}" alt="{{ a.photo_caption }}"
                   class="ld-card__img" width="700" height="700" loading="lazy">
            </a>
          {% endif %}
        </div>
      {% endfor %}

    </div>

    <div class="ld-grid-clear"></div>

    {% for a in destacados|slice:"6:10" %}
      <div class="ld-grid-area ld-grid-area-col area-col-{% cycle 'a' 'b' 'c' 'd' %}">
        {% include top_article_abcd_template|default:'article/card_top_article_abcd.html' %}
      </div>
    {% endfor %}

    <div class="ld-grid-clear"></div>

  </section>
</div>
