{% load bleach_tags core_tags ldml %}

<div class="ld-card ld-card--reg ld-card--{{ a.type }}{% block destacados_abcd_extra_class %}{% endblock %}">
  {% render_toolbar_for a %}
  {% if a.photo_render_allowed %}
    <a href="{{ a.get_absolute_url }}">
      <img class="ld-card__img" src="{{ a.photo.get_700w_url }}" loading="lazy" title="{{ a.photo_caption }}"
           alt="{{ a.photo_caption }}" width="700" height="{{ a.photo.get_700w_size.1 }}">
    </a>
  {% endif %}
  <div class="ld-card__body">
    <div class="ld-card__section">
      {% block destacados_abcd_section %}{% autoescape off %}{% render_hierarchy a %}{% endautoescape %}{% endblock %}
      {% include 'article/article_card_lock_tooltip.html' with article=a %}
    </div>
    <h2 class="ld-card__title {% if not a.deck %}ld-card__title--mb{% endif %}">
      <a href="{{ a.get_absolute_url }}">{{ a.headline|ldmarkup|bleach }}</a>
    </h2>
    {% if a.deck %}<div class="ld-card__intro">{{ a.deck|ldmarkup|bleach }}</div>{% endif %}
    <div class="ld-card__byline">
      {% if CORE_ARTICLE_ENABLE_PHOTO_BYLINE and a.photo_author %}
        <div class="ld-card__photoauthor">
          {{ a.photo_type }}: {{ a.photo_author }}
        </div>
      {% endif %}
      {% with authors=a.get_authors %}
        {% if authors %}
          <div class="ld-card__author">
            {% for author in authors %}
              <a href="{{ author.get_absolute_url }}">{{ author }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
      {% if not hide_date_published %}{% autoescape off %}{% date_published_verbose a %}{% endautoescape %}{% endif %}
      {% include 'article/article_card_read_later.html' %}
    </div>
  </div>
</div>
