{% extends 'article/article_card.html' %}
{% load core_tags ldml %}

{% block class %}horizontal{% endblock %}

{% block image %}
  {% if article.photo and card_type != 'OP' %}
    <div class="card-image">
      <div>
        <a href="{{ article.get_absolute_url }}">
          {% if flavour == "mobile" %}
            <picture>
              <!--[if IE 9]><video style="display: none;"><![endif]-->
              <source srcset="{{ article.photo.get_450w_url }}" media="(min-width: 380px)">
              <source srcset="{{ article.photo.get_350w_url }}" media="(min-width: 0px)">
              <!--[if IE 9]></video><![endif]-->
              <img alt="{% if article.photo.caption %}{{ article.photo.caption }}{% else %}Foto principal del artículo '{{ article.headline|remove_markup }}'{% endif %}"
                   title="{{ article.photo.caption }}"
                   width="350"{% if article.photo_image_file_exists %} height="{{ article.photo.get_350w_size.1 }}"{% endif %}
                   loading="lazy">
            </picture>
          {% else %}
            <picture>
              <!--[if IE 9]><video style="display: none;"><![endif]-->
              <source srcset="{{ article.photo.get_600w_url }}" media="(min-width: 1200px)">
              <source srcset="{{ article.photo.get_450w_url }}" media="(min-width: 850px)">
              <source srcset="{{ article.photo.get_350w_url }}" media="(min-width: 700px)">
              <source srcset="{{ article.photo.get_250w_url }}" media="(min-width: 600px)">
              <source srcset="{{ article.photo.get_600w_url }}" media="(min-width: 500px)">
              <source srcset="{{ article.photo.get_450w_url }}" media="(min-width: 380px)">
              <source srcset="{{ article.photo.get_350w_url }}" media="(min-width: 280px)">
              <source srcset="{{ article.photo.get_250w_url }}" media="(min-width: 0px)">
              <!--[if IE 9]></video><![endif]-->
              <img alt="{% if article.photo.caption %}{{ article.photo.caption }}{% else %}Foto principal del artículo '{{ article.headline|remove_markup }}'{% endif %}"
                   title="{{ article.photo.caption }}"
                   width="350"{% if article.photo_image_file_exists %} height="{{ article.photo.get_350w_size.1 }}"{% endif %}
                   loading="lazy">
            </picture>
          {% endif %}
        </a>
      </div>
    </div>
  {% endif %}
{% endblock %}
