{% load bleach_tags core_tags ldml %}

<article class="ld-grid-simple__area">

  <div class="ld-card ld-card--reg">

    {% render_toolbar_for article %}
    {% if article.photo %}
      <a href="{{ article.get_absolute_url }}">
        <img class="ld-card__img" src="{{ article.photo.get_700w_url }}"
             width="700"
             {% if article.photo_image_file_exists %}
             height="{{ article.photo.get_700w_size.1 }}"
             {% endif %}
             title="{% if article.photo.caption %}{{ article.photo.caption }}{% if article.photo.extended.photographer %} · {{ article.photo.extended.type_verbose }}: {{ article.photo.extended.photographer.name }}{% endif %}{% else %}Foto principal del artículo '{{ article.headline|remove_markup }}'{% if article.photo.extended.photographer %} · {{ article.photo.extended.type_verbose }}: {{ article.photo.extended.photographer.name }}{% endif %}{% endif %}"
             alt="{% if article.photo.caption %}{{ article.photo.caption }}{% if article.photo.extended.photographer %} · {{ article.photo.extended.type_verbose }}: {{ article.photo.extended.photographer.name }}{% endif %}{% else %}Foto principal del artículo '{{ article.headline|remove_markup }}'{% if article.photo.extended.photographer %} · {{ article.photo.extended.type_verbose }}: {{ article.photo.extended.photographer.name }}{% endif %}{% endif %}"
             {% if img_load_lazy %}loading="lazy"{% endif %}>
      </a>
    {% endif %}

    <div class="ld-card__body">
      <div class="ld-card__section">
        {% autoescape off %}{% publication_section article %}{% endautoescape %}
        {% include 'article/article_card_lock_tooltip.html' %}
      </div>
      <h3 class="ld-card__title {% if not article.home_lead %}ld-card__title--mb{% endif %}">
        <a href="{{ article.get_absolute_url }}">{{ article.headline|ldmarkup:article.id|bleach }}</a>
      </h3>
      {% if article.home_lead %}
        <div class="ld-card__intro">{{ article.home_lead|ldmarkup:article.id|bleach }}</div>
      {% endif %}

      <div class="ld-card__byline-wrap">
        <div class="ld-card__byline">
          {% if CORE_ARTICLE_ENABLE_PHOTO_BYLINE and article.photo.extended.photographer %}
            <div class="ld-card__photoauthor">
              {{ article.photo.extended.type_verbose }}: {{ article.photo.extended.photographer.name }}
            </div>
          {% endif %}
          {% with authors=article.get_authors %}
            {% if authors %}
              <div class="ld-card__author">
                {% for author in authors %}
                  <a href="{{ author.get_absolute_url }}">{{ author.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
              </div>
            {% endif %}
          {% endwith %}
          {% if not hide_date_published %}
            {% autoescape off %}{% date_published_verbose article %}{% endautoescape %}
          {% endif %}
          {% with a=article %}{% include 'article/article_card_read_later.html' %}{% endwith %}
        </div>
      </div>
    </div>

  </div>

</article>
