{# DEPRECATED - 30 marzo 2018 #}
  {% extends 'article/article_card.html' %}
{% load core_tags inplace_edit adzone_tags tagging_tags ldml %}
{% block class %}fiftyfifty{% endblock %}
  {% block image %}
  {% if article.photo %}
  <div class="card-image">
      <a href="{{ article.get_absolute_url }}">
        {% if flavour == "mobile" %}
        <picture>
          <img class="lazyload"
          src="{{ article.photo.get_350w_url }}"
          data-srcset={% spaceless %}
          "
          {{ article.photo.get_900w_url }} 1400w,
          {{ article.photo.get_700w_url }} 1190w,
          {{ article.photo.get_600w_url }} 450w,
          {{ article.photo.get_450w_url }} 350w
          "
          {% endspaceless %}
          alt="Foto del artículo {{ article.headline|remove_markup }}.
         {% if article.photo.caption %} Descripción: {{ article.photo.caption }}.{% endif %}
         {% if article.photo.tags %} Etiquetas: {{ article.photo.tags }}{% endif %}"
         title="{{ article.photo.caption }}" >
        </picture>
        {% else %}
        <img class="lazyload"
        src="{{ article.photo.get_350w_url }}"
        data-srcset={% spaceless %}
        "
        {{ article.photo.get_900w_url }} 1400w,
        {{ article.photo.get_700w_url }} 1190w,
        {{ article.photo.get_600w_url }} 450w,
        {{ article.photo.get_450w_url }} 350w,
        {{ article.photo.get_350w_url }} 0w
        "
        {% endspaceless %}
        alt="Foto del artículo {{ article.headline|remove_markup }}.
       {% if article.photo.caption %} Descripción: {{ article.photo.caption }}.{% endif %}
       {% if article.photo.tags %} Etiquetas: {{ article.photo.tags }}{% endif %}"
       title="{{ article.photo.caption }}" >
        {% endif %}
      </a>
  </div>
  {% endif %}
  {% endblock %}
  {% block headline %}
    <div class="card-title">
        <h1 class="article-title">
          <a href="{{ article.get_absolute_url }}">{{article.headline|ldmarkup:article.id}}</a>
        </h1>
    </div>
{% endblock %}
{% block content %}
      {% if article.home_lead %}
      <p class="home-lead">
        {{article.home_lead|ldmarkup:article.id|removetags:'p'}}
      </p>
      {% endif %}
{% endblock %}
