{% load static ldml thumbnail %}

<script type="application/ld+json">{# TODO: some parts of this code can be made easier with template tags #}
  {
    "@context": "http://schema.org",
    "@type": "{% if section.is_satirical %}SatiricalArticle{% else %}NewsArticle{% endif %}",
    "mainEntityOfPage": "{{ SITE_URL_SD }}{{ article.get_absolute_url }}",
    "headline": "{% firstof article.alt_title_metadata article.headline|remove_markup|truncatewords:25 %}",
    {% spaceless %}{% block json_ld_article_section %}{% endblock %}{% endspaceless %}
    {% if article.date_published %}"datePublished": "{{ article.date_published_isoformat }}",{% endif %}
    "dateModified": "{{ article.last_modified_isoformat }}",
    "description": "{% firstof article.alt_desc_metadata article.deck|remove_markup article.body|remove_markup|truncatewords:25 %}",
    "inLanguage": "{{ local_lang }}-{{ LOCAL_COUNTRY }}",
    "isAccessibleForFree": {{ article.public|lower }},{% if tag_list %}
    {% spaceless %}
      "keywords": [{% for tag in tag_list %}"{{ tag.name|capfirst }}"{% if not forloop.last %},{% endif %}{% endfor %}],
    {% endspaceless %}{% endif %}
    "hasPart": {
      "@type": "WebPageElement",
      "isAccessibleForFree": {{ article.public|lower }},
      "cssSelector" : ".paywalled-content"
    },
    "isPartOf": {
      "@type": ["CreativeWork"],
      "name" : "{{ site.name }}"
    },{% if article.get_authors %}
    "author":{% if article.get_authors|length > 1 %} [{% endif %}{% for author in article.get_authors %}
      {
        "@type": "Person",
        "name": "{{ author.name }}",
        "url": "{{ SITE_URL_SD }}{{ author.get_absolute_url }}"
      }{% if not forloop.last or article.get_authors|length == 1 %},{% endif %}{% endfor %}
    {% if article.get_authors|length > 1 %}],{% endif %}{% else %}
    "author": {
      "@type": "Organization",
      "name": "{{ site.name }}"
    },{% endif %}{% spaceless %}{% block json_ld_publisher %}
    "publisher": {
      "@type": "Organization",
      "name": "{{ site.name }}"{% if publication.publisher_logo or default_pub.publisher_logo %},
      "logo": {
        "@type": "ImageObject",{% if publication.publisher_logo %}
        "url": "{{ SITE_URL_SD }}{% static publication.publisher_logo %}",
        "width": "{{ publication.publisher_logo_width }}",
        "height": "{{ publication.publisher_logo_height }}"{% else %}
        "url": "{{ SITE_URL_SD }}{% static default_pub.publisher_logo %}",
        "width": "{{ default_pub.publisher_logo_width }}",
        "height": "{{ default_pub.publisher_logo_height }}"{% endif %}
      }{% endif %}
    }{% endblock %}{% endspaceless %}{% spaceless %}{% block json_ld_image %}{% if photo_render_allowed %},
    "image": {
      "@type": "ImageObject",
      "url": "{{ SITE_URL_SD }}{{ article.photo.get_1200w_url }}",
      "width": "1200"
    },
    "thumbnailUrl": "{{ SITE_URL_SD }}{{ article.photo.get_1200w_url }}"
    {% elif default_pub.open_graph_image %},
    "image": {
      "@type": "ImageObject",
      "url": "{{ SITE_URL_SD }}{% static default_pub.open_graph_image %}",
      "width": "{{ default_pub.open_graph_image_width }}",
      "height" : "{{ default_pub.open_graph_image_height }}"
    },
    "thumbnailUrl": "{{ SITE_URL_SD }}{% static default_pub.open_graph_image %}"{% endif %}{% endblock %}{% endspaceless %}
  }
</script>
