{% load static ldml %}

<script type="application/ld+json">{# TODO: some parts of this code can be made easier with template tags #}
  {
    "@context": "http://schema.org",
    "@type": "{% if section.is_satirical %}SatiricalArticle{% else %}NewsArticle{% endif %}",
    "mainEntityOfPage": "{{ URL_SCHEME }}://{{ site.domain }}{{ article.get_absolute_url }}",
    "headline": "{% firstof article.alt_title_metadata|remove_markup|truncatewords:25 article.headline|remove_markup|truncatewords:25 %}",
    {% if article.date_published %}"datePublished": "{{ article.date_published_isoformat }}",{% endif %}
    "dateModified": "{{ article.last_modified_isoformat }}",
    "description": "{% firstof article.alt_desc_metadata|remove_markup article.deck|remove_markup article.body|remove_markup|truncatewords:25 %}",
    "isAccessibleForFree": "{{ article.public }}",
    "hasPart": {
      "@type": "WebPageElement",
      "isAccessibleForFree": "{{ article.public }}",
      "cssSelector" : ".paywalled-content"
    },
    "isPartOf": {
      "@type": ["CreativeWork"],
      "name" : "{{ site.name }}"
    },{% if article.get_authors %}
    "author":{% if article.get_authors|length > 1 %} [{% endif %}{% for author in article.get_authors %}
      {
        "@type": "Person",
        "name": "{{ author.name }}"
      }{% if not forloop.last or article.get_authors|length == 1 %},{% endif %}{% endfor %}
    {% if article.get_authors|length > 1 %}],{% endif %}{% else %}
    "author": {
      "@type": "Organization",
      "name": "{{ site.name }}"
    },{% endif %}
    "publisher": {
      "@type": "Organization",
      "name": "{{ site.name }}"{% if publication.publisher_logo or default_pub.publisher_logo %},
      "logo": {
        "@type": "ImageObject",{% if publication.publisher_logo %}
        "url": "{{ URL_SCHEME }}://{{ site.domain }}{% static publication.publisher_logo %}",
        "width": "{{ publication.publisher_logo_width }}",
        "height": "{{ publication.publisher_logo_height }}"{% else %}
        "url": "{{ URL_SCHEME }}://{{ site.domain }}{% static default_pub.publisher_logo %}",
        "width": "{{ default_pub.publisher_logo_width }}",
        "height": "{{ default_pub.publisher_logo_height }}"{% endif %}
      }{% endif %}
    }{% if article.photo %},
    "image": {
      "@type": "ImageObject",
      "url": "{{ URL_SCHEME }}://{{ site.domain }}{{ article.photo.get_1200w_url }}",
      "width": "1200"
    },
    "thumbnailUrl": "{{ URL_SCHEME }}://{{ site.domain }}{{ article.photo.get_1200w_url }}"
    {% elif default_pub.open_graph_image %},
    "image": {
      "@type": "ImageObject",
      "url": "{{ URL_SCHEME }}://{{ site.domain }}{% static default_pub.open_graph_image %}",
      "width": "{{ default_pub.open_graph_image_width }}",
      "height" : "{{ default_pub.open_graph_image_height }}"
    },
    "thumbnailUrl": "{{ URL_SCHEME }}://{{ site.domain }}{% static default_pub.open_graph_image %}"{% endif %}
  }
</script>
