{% load bleach_tags core_tags ldml %}

<!DOCTYPE html>
<html lang="es-uy">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{{ article.headline|remove_markup }}</title>
</head>
<body>

  <div class="article-header">
      {% ifequal section.slug 'humor' %}
        <div class="align-center">
          <a href="{{ section.get_absolute_url }}" class="humor-pill jello-horizontal">{{ section }}</a>
        </div>
      {% endifequal %}
      <h1 class="article-title after_foto">
          {{ article.headline|ldmarkup:article.id|bleach }}
      </h1>

      <div class="article-date-author">
      {% if article.date_published %}
          {% load i18n %}
          {% language 'es' %}
          <span class="date small"><time datetime="{{ article.date_published|date:"c" }}">{{ article.date_published|date:"j \d\e F \d\e Y"|title }}</time> | </span>
          {% endlanguage %}
      {% endif %}
      {% if article.has_byline %}
        Escribe:
        {% for author in article.get_authors %}
          <span class="small"><a href="{{ author.get_absolute_url }}">
            {{ author.name }}</a></span>{% if not forloop.last %}, {% endif %}
        {% endfor %}
        {% if section %} <span class="small">en </span>{% endif %}
      {% endif %}
      {% if section %}
        <span class="small">
          {% if 'elecciones' in article.get_categories_slugs %}
            {% with 'apuntes-de-campana datos-elecciones-2019' as special_sections %}
              {% if section.slug in special_sections.split %}
                <a href="{{ section.get_absolute_url }}">{{ section }}</a>
              {% else %}
                <a href="{% url 'section_detail' section_slug='elecciones-2019' %}">{{ section.category }}</a>
              {% endif %}
            {% endwith %}
          {% else %}
            <a href="{% url 'section_detail' section_slug=section.slug %}">{{ section }}</a>
          {% endif %}
        </span>
      {% endif %}
      {% if article.photo.extended.photographer %}
        <span class="small">| {{ article.photo.extended.type_verbose }}:
        {{ article.photo.extended.photographer.name }}</span>
      {% endif %}

      </div>
    </div>

    <div class="article-body paywalled-content">
      {{ article.body|ldmarkup:article.id }}
    </div>

  </body>
</html>
