<article class="card z-depth-0 card-{{ card_size }}
{% if article.photo.extended.is_portrait %} portrait{% else %} landscape{% endif %}
{% block class %}{% endblock %}{% if article.photo != None and section.slug != 'destacados' %} has_foto{% endif %}
card-media-{{ media }} {{ publication }} {{ publication }}-section {{ card_type }} {{ card_display }} {{ card_size }}" data-id="{{ article.id }}">
  <div class="card-content">
    {% block headline %}
      <h3 class="article-title">
        <a href="{{ article.get_absolute_url }}">
          {{ article.headline }}
        </a>
      </h3>
    {% endblock %}
  </div>
</article>
