{% load bleach_tags core_tags ldml %}

{% if image.is_public %}{# don't indent this block, it get broken and we don't know why #}
<div class="inline-image-wrap article_body_image-{{ display }}">
  <figure class="principal">
    <picture class="materialboxed">
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      {% if display == "FW" %}
        <source srcset="{{ image.get_fullscreen_url }}" media="(min-width: 1200px)">
        <source srcset="{{ image.get_1200w_url }}" media="(min-width: 1000px)">
        <source srcset="{{ image.get_900w_url }}" media="(min-width: 701px)">
        <source srcset="{{ image.get_700w_url }}" media="(min-width: 260px)">
        <source srcset="{{ image.get_250w_url }}" media="(min-width: 0px)">
      {% elif display == "MD" %}
        <source srcset="{{ image.get_1192w_url }}" media="(min-width: 901px)">
        <source srcset="{{ image.get_900w_url }}" media="(min-width: 701px)">
        <source srcset="{{ image.get_700w_url }}" media="(min-width: 260px)">
        <source srcset="{{ image.get_250w_url }}" media="(min-width: 0px)">
      {% elif display == "BG" %}
        <source srcset="{{ image.get_1200w_url }}" media="(min-width: 701px)">
        <source srcset="{{ image.get_700w_url }}" media="(min-width: 260px)">
        <source srcset="{{ image.get_250w_url }}" media="(min-width: 0px)">
      {% endif %}
      <!--[if IE 9]></video><![endif]-->
      <img class="responsive-img {% if image.extended.is_landscape %}landscape{% else %}portrait{% endif %}"
           data-caption="{% if image.caption %}{{ image.caption|remove_markup }}{% else %}Foto del artículo '{{ article.headline|remove_markup }}'{% endif %}"
           alt="{% if image.caption %}{{ image.caption|remove_markup }}{% else %}Foto del artículo '{{ article.headline|remove_markup }}'{% endif %}"
           width="700"{% if image.extended.image_file_exists %} height="{{ image.get_700w_size.1 }}"{% endif %}
           loading="lazy">
    </picture>
    {% if image.caption or image.extended.photographer %}
      <figcaption class="ld-caption">
        {% if image.caption %}<p>{{ image.caption|ldmarkup|bleach }}</p>{% endif %}
        {% if image.extended.photographer %}
          <p>{{ image.extended.get_type_display }}: {{ image.extended.photographer }}</p>
        {% endif %}
      </figcaption>
    {% endif %}
  </figure>
</div>
{% endif %}
