{% extends base_template %}
{% load static core_tags %}

{% block page_title %}Artículos sobre {% tags_joined %}{% title_joinparts '' %}{% endblock %}

{% block page_description %}{% spaceless %}
  Todos los artículos, noticias y entrevistas en relación al tema {% tags_joined %} publicados por {{ site.name }}.
{% endspaceless %}{% endblock %}

{% block meta_og_title %}
  <!-- Open Graph (http://ogp.me) -->
  <meta property="og:title" content="Artículos sobre {% tags_joined %}{% title_joinparts '' %}">
{% endblock %}

{% block meta %}
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="{{ site.name }}">
  <meta property="og:url" content="{{ SITE_URL_SD }}tags/{{ tags.0|slugify }}">
  {% if default_pub.open_graph_image %}
    <meta property="og:image" content="{{ SITE_URL_SD }}{% static default_pub.open_graph_image %}">
  {% endif %}
  <!-- End Open Graph (http://ogp.me) -->
{% endblock %}

{% block json_ld %}
  <script type='application/ld+json'>
    {
      "@context": "https://schema.org",
      "@graph": [
        {
          "@type": "WebSite",
          "@id": "{{ SITE_URL }}",
          "url": "{{ SITE_URL }}",
          "name": "{{ site.name }}",
          "inLanguage": "es"
        },
        {
          "@type": "CollectionPage",
          "@id": "{{ SITE_URL_SD }}tags/{{ tags.0|slugify }}",
          "url": "{{ SITE_URL_SD }}tags/{{ tags.0|slugify }}",
          "name": "Artículos sobre {{ tags.0 }}",
          "isPartOf": {
            "@id": "{{ SITE_URL }}"
          },
          "inLanguage": "es"
        }
      ]
    }
  </script>
{% endblock %}

{% block page_header %}
  <div class="section_background">
    <div class="container container--narrow">
      <div class="section-detail__head">
        <h1 class="section-detail__title">{% tags_joined %}</h1>
        <p class="section-detail__description">Listado cronológico de artículos con el tema "{% tags_joined %}".</p>
      </div>
      </div>
    </div>
    </div>
{% endblock %}

{% block content %}
  <section class="section_module container--narrow">

    {% for article in articles.object_list %}
      {% if forloop.first %}
        {% render_article_card article=article media=article.home_display card_size="FD" img_load_lazy=False %}
      {% else %}
        {% render_article_card article=article media=article.home_display card_size="FD" %}
      {% endif %}
    {% endfor %}

    {% if articles.has_other_pages %}
      {% include "pagination.html" with page_obj=articles %}
    {% endif %}

  </section>
{% endblock %}
