{% load core_tags %}

{% if articles %}
  <section class="ld-block ld-related article-container" data-nosnippet>
    <div class="ld-related-inner-container">
      <h2>{% block more_of_label %}Más de {{ section }}{% endblock %}</h2>
      <div class="ld-grid-3-6">
        {% for article in articles %}
          {% with hide_date_published=True %}
            {% render_card article=article variant="v4_cards/card_tertiary_home" %}
          {% endwith %}
          {% if not forloop.last and forloop.counter|divisibleby:3 %}<hr>{% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}
