{% load core_tags %}

{% if articles %}
  <section class="ld-block ld-related article-container" data-nosnippet>
    <div class="ld-related-inner-container">
      <h2>{% block more_of_label %}Más de {{ section }}{% endblock %}</h2>
      <div class="ld-grid-4-3">
        {% for article in articles %}
          {% with hide_date_published=True %}
            {% render_article_card article=article media=article.home_display card_size="FD"  %}
          {% endwith %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}
