{% load core_tags %}

{% if articles %}
  <section class="ld-block ld-related">
    <div class="container container--wide container--padded">
      <div class="section-detail__head">
        <h2 class="section-detail__title">{% block more_of_label %}Más de {{ section }}{% endblock %}</h2>
      </div>
      <div class="ld-grid-simple">
        {% for article in articles %}
          {% render_article_card article=article media=article.home_display card_size="FD" %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}
