<section class="ld-subscribe-box-wrap">
  <div class="ld-subscribe-box">
    <span class="ld-subscribe-box__title__w-border">
      {% block subscribe_box_question %}{{ publication.subscribe_box_question }}{% endblock %}
    </span>
    <div class="ld-subscribe-box__info ld-caption">
      {% block subscribe_box_info %}
        {% if user.is_authenticated %}
          {{ publication.subscribe_box_nl_subscribe_auth|safe }}
        {% else %}
          {{ publication.subscribe_box_nl_subscribe_anon|safe }}
        {% endif %}
      {% endblock %}
    </div>
    {% block signup_or_receive %}
      {% if user.is_authenticated %}
        <div class="ld-subscribe-box__activate-nl switch-container">
          <label for="id_newsletters_1">
            <svg title="Icono de email blanco" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
              <path d="M22.5 6.5C22.5 5.4 21.6 4.5 20.5 4.5H4.5C3.4 4.5 2.5 5.4 2.5 6.5V18.5C2.5 19.6 3.4 20.5 4.5 20.5H20.5C21.6 20.5 22.5 19.6 22.5 18.5V6.5ZM20.5 6.5L12.5 11.5L4.5 6.5H20.5ZM20.5 18.5H4.5V8.5L12.5 13.5L20.5 8.5V18.5Z" fill="white"/>
            </svg>
            <span class="off">Activar newsletter</span>
            <span class="on">Newsletter activada</span>
          </label>
          <label class="ld-switch">
            <input
              type="checkbox"
              id="id_newsletters_1"
              name="newsletters"
              data-url="{% url 'nl-auth-subscribe' nltype='p' nlslug=publication.slug %}"
              data-key="nl_subscribe"
              data-bouncer="false" {% comment %}TODO: Revisar cuando es false y cuando es true{% endcomment %}
            />
            <span class="slider"></span>
          </label>
        </div>
      {% else %}
        <a href="{% url 'subscribe' planslug='DDIGM' %}" class="ut-btn ut-btn-outline">
          Suscribite
        </a>
      {% endif %}
    {% endblock %}
    {% if not user.is_authenticated %}
      <div class="ld-subscribe-box__login ld-text-secondary">
        <p>¿Ya tenés cuenta?</p>
        <a href="{% url 'account-login' %}?next={% firstof request.path '/' %}" class="ut-btn">Ingresá</a>
      </div>
    {% endif %}
  </div>
</section>
