{% load bleach_tags core_tags ldml %}

<div class="inline-image-wrap article_body_image-{{ display }}">
  <figure class="principal">
    <amp-img
      class="amp-inline-img"
      height="{{ image.image.height }}"
      width="{{ image.image.width }}"
      layout="responsive"
      src="{{ SITE_URL }}{{ image.get_700w_url }}"
      alt="{% if image.caption %}{{ image.caption }}{% else %}Foto del artículo '{{ article.headline|remove_markup }}'{% endif %}">
    </amp-img>
    {% if image.caption or image.extended.photographer %}
      <figcaption class="ld-caption">{% if image.caption %}<p>{{ image.caption|ldmarkup|bleach }}</p>{% endif %} {% if image.extended.photographer %}<p>{{ image.extended.type_verbose }}: {{ image.extended.photographer.name }}</p>{% endif %}</figcaption>
    {% endif %}
  </figure>
</div>
