{% load ldml core_tags thedaily_tags %}

<div class="article-body article-body--faded">{{ article.body|amp_ldmarkup:article.id|truncatehtml:100 }}</div>

<div class="ld-snackbar ld-snackbar--active js-ld-snackbar ld-snackbar--static ld-snackbar--narrow">
  <div class="ld-snackbar__title">Llegaste al límite de artículos gratuitos</div>
  <div class="ld-snackbar__body">
    <div class="ld-snackbar__block">
      <a href="{% url 'subscribe' planslug='DDIGM' %}?utm_source=web&utm_medium=paywall" class="ld-btn-default">
        Suscribite <i>por ${% subscriptionprice 'DDIGM' %}/mes</i>
      </a>
    </div>
    {# If solana is configured, we can add here a link to the caononical version where the user can buy the article #}
    <div class="ld-snackbar__text ld-snackbar__block">Nuestro periodismo depende de vos</div>
  </div>
</div>
