{% load thedaily_tags %}

<div class="ld-snackbar ld-snackbar--active js-ld-snackbar ld-snackbar--static">
  <div class="ld-snackbar__title">Contenido exclusivo para suscripción digital de pago</div>
  <div class="ld-snackbar__body">
    <div class="ld-snackbar__text ld-snackbar__block">Para acceder a todos los contenidos del sitio</div>
    <div class="ld-snackbar__block">
      <a href="{% url 'subscribe' planslug='DDIGM' %}?utm_source=web&utm_medium=paywall" class="ld-btn-default">
        Suscribite <i>por ${% subscriptionprice 'DDIGM' %}/mes</i>
      </a>
    </div>
    <div class="ld-snackbar__text ld-snackbar__block">Si ya tenés una cuenta</div>
    <div class="ld-snackbar__block">
      <a href="{% url 'account-login' %}?next={% firstof request.path '/' %}" class="btn bordered">Ingresá</a>
    </div>
  </div>
</div>
