@charset 'utf-8';
/* Styles for Hagamos lo imposible campaign */

@import '_variables';
@import 'ladiaria_btn';
@import '../materialize/sass/components/variables';
@import '../materialize/sass/components/normalize';
@import 'ladiaria_icons';
@import '../materialize/sass/components/grid';

@font-face {
  font-family: "Roboto";
  src: local(Roboto Regular),
      url("/static/materialize/fonts/roboto/Roboto-Regular.woff2") format("woff2"),
      url("/static/materialize/fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Medium),
      url("/static/materialize/fonts/roboto/Roboto-Medium.woff2") format("woff2"),
      url("/static/materialize/fonts/roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Bold),
      url("/static/materialize/fonts/roboto/Roboto-Bold.woff2") format("woff2"),
      url("/static/materialize/fonts/roboto/Roboto-Bold.woff") format("woff");
  font-weight: 700;
}

$retina_display: "(-webkit-min-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (min--moz-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3)";

@font-face {
  font-family: "AntennaCond";
  src: url('/static/fonts/antenna/AntennaCond-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "AntennaCond";
  src: url('/static/fonts/antenna/AntennaCond-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "AntennaCond";
  src: url('/static/fonts/antenna/AntennaCond-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "MaculaLine";
  src: url('/static/fonts/MaculaLine.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #6d6d6d;
  font-family: "AntennaCond", sans-serif;
  font-size: 20px;
  overflow-x: hidden;
  text-align: center;
  padding: 0;
  margin: 0;

  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  @media (min-width: 769px) {
    font-size: 24px;
  }
}

.align-center {
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
@media #{$large-and-up} {
  .container {
      width: 860px;
  }
}

p {
  line-height: 1.4;
}

/*! Flickity v2.1.2
https://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
    position: relative;
  }

  .flickity-enabled:focus { outline: none; }

  .flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 100%;
  }

  .flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  /* draggable */

  .flickity-enabled.is-draggable {
    -webkit-tap-highlight-color: transparent;
            tap-highlight-color: transparent;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }

  .flickity-enabled.is-draggable .flickity-viewport {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
  }

  .flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }

  /* ---- flickity-button ---- */

  .flickity-button {
    position: absolute;
    background: hsla(0, 0%, 100%, 0.75);
    border: none;
    color: #333;
  }

  .flickity-button:hover {
    background: white;
    cursor: pointer;
  }

  .flickity-button:focus {
    outline: none;
    box-shadow: 0 0 0 5px #19F;
  }

  .flickity-button:active {
    opacity: 0.6;
  }

  .flickity-button:disabled {
    opacity: 0.3;
    cursor: auto;
    /* prevent disabled button from capturing pointer up event. #716 */
    pointer-events: none;
  }

  .flickity-button-icon {
    fill: #333;
  }

  /* ---- previous/next buttons ---- */

  .flickity-prev-next-button {
    top: 50%;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    /* vertically center */
    transform: translateY(-50%);
  }

  .flickity-prev-next-button.previous { left: 10px; }
  .flickity-prev-next-button.next { right: 10px; }
  /* right to left */
  .flickity-rtl .flickity-prev-next-button.previous {
    left: auto;
    right: 10px;
  }
  .flickity-rtl .flickity-prev-next-button.next {
    right: auto;
    left: 10px;
  }

  .flickity-prev-next-button .flickity-button-icon {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
  }

  .flickity-page-dots .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 8px;
    background: #333;
    border-radius: 50%;
    opacity: 0.25;
    cursor: pointer;
  }

  .flickity-page-dots .dot.is-selected {
    opacity: 1;
  }

// End Flickity

.intro {
  margin-bottom: 50px;
  @media (min-width: 769px) {
    text-align: left;
    padding-top: 72px;
    margin-bottom: 0;
  }
}

.mt {
  margin-top: 50px;
  @media (min-width: 769px) {
    margin-top: 100px;
  }
}

.mb {
  margin-bottom: 75px;
  @media (min-width: 769px) {
    margin-bottom: 150px;
  }
}

.browserupgrade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $primary-color;
  color: white;
  padding: 15px;
  margin: 0;
  font-size: 16px;
  text-align: center;
  font-family: sans-serif;
  a {
    color: white;
  }
}

@keyframes float {
	0% {
		transform: translate(-50%, 0px);
	}
	50% {
		transform: translate(-50%, -10px);
	}
	100% {
		transform: translate(-50%, 0px);
	}
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hli-content {
  margin: 0 auto;
  max-width: 760px;
}

.hli-title {
  font-size: 44px;
  color: #484848;
  margin-bottom: 15px;
  text-align: center;
  margin: 0 0 15px;
  @media (min-width: 769px) {
    font-size: 60px;
  }
}

.hli-subtitle {
  font-size: 25px;
  margin: 0 0 18px 0;
  font-weight: normal;
}

.bg-grey {
  background-color: #FAFAFA;
  a {
    color: $link-color;
    text-decoration: none;
    &:hover {
      color: $link-color-hover;
    }
  }
}

.bg-blue {
  background-color: $primary-color;
  color: white;
}

.bg-lento {
  background-color: $lento-primary-color;
  color: white;
}

.section {
  padding: 50px 23px;
  outline: 0;
  @media (min-width: 769px) {
    padding: 60px 23px;
  }
}

.hero {
  color: white;
  position: relative;
  text-transform: uppercase;
  padding: 75px 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
  width: 100%;
  background-image: url(../hagamosloimposible/img/hero.jpg);
  @media #{$retina_display} {
    background-image: url(../hagamosloimposible/img/hero@2x.jpg);
  }

  &__hagamos {
    font-family: "AntennaCond", sans-serif;
    font-size: 28px;
    margin-bottom: 24px;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }

  &__imposible-wrap {
    max-width: 960px;
    margin: 0 auto;
  }

  &__imposible {
    font-family: 'MaculaLine', sans-serif;
    font-size: 54px;
  }

  &__ld {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    width: 109px;
    opacity: .83;
    display: inline-block;
    margin: 0 auto;
    height: 27px;
    background: url(../img/logo-white.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__link {
    width: 43px;
    height: 34px;
    background-image: url(../hagamosloimposible/img/arr-down.svg);
    background-position: center;
    background-size: 23px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translate(-50%, 0);
    animation: float 1s ease-in-out infinite;
  }

  &__caption {
    color: #484848;
    opacity: .72;
    position: absolute;
    right: 12px;
    bottom: -21px;
    font-size: 11px;
    text-transform: none;
  }

}

.col-card {
    width: 100%;
    @media (min-widht: 601px) {
        width: inherit;
    }
}

.card {
  background: white;
  padding: 30px 10px;
  min-height: 355px;
  min-width: 255px;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);

  @media (min-widht: 769px) {
    padding: 30px 50px;
  }

  &__donut {
    width: 110px;
    height: 110px;
    height: 110px;
    margin-bottom: 20px;

  }

  &__title {
    color: #262626;
    margin: 0 0 15px 0;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
  }

  &__legend {
    width: 14px;
    height: 14px;
    margin: 0 auto;
    border-radius: 20px;
    background-color: #4D8AFF;
    margin-bottom: 5px;
    &--red {
      background-color: #FC5461;
    }
  }

  &__legend-text {
    font-size: 12px;
    color: #262626;
  }

  &__legend-amount {
    color: #A4A4A4;
    font-size: 12px;
  }

  .row:last-of-type {
    margin-bottom: 0;
  }
}

.hli-video {
  margin-bottom: 47px;
  box-shadow: 0 19px 31px rgba(0, 0, 0, 0.5);
  transition: 200ms;
  &:hover {
    transition: 200ms;
    box-shadow: 0 5px 31px rgba(0, 0, 0, 0.5);
  }
}

.hli-ld-logo-bottom {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  width: 120px;
  height: 51px;
  border-radius: 5px;
  display: inline-block;
  margin: 0 auto;
  background-color: $primary-color;
  background-image: url(../img/logo-white.svg);
  background-repeat: no-repeat;
  background-size: 85px;
  background-position: center;
  margin-bottom: 5px;
}

.hli-founded {
  font-size: 10px;
  color: #6D6D6D;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  float: left;
  width: 100%;

}

.hli-foto {
  max-width: 100%;
  width: 100%;
  height: auto;
}

figure {
  margin: 0;
  padding: 0;
  margin-bottom: 19px;
}

figcaption {
  font-size: 14px;
  color: #6D6D6D;
  line-height: 1.4;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.bg-blue {
  background-color: $primary-color;
  color: white;
}

.hli-news-item {
  margin-right: 10px;
  padding: 10px;
  width: 280px;
  @media (min-width: 769px) {
    width: 440px;
    margin-right: 40px;
  }
  img {
    width: 100%;
    height: auto;
  }


  &__card {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  }

  img {
    display: block;
    max-width: 360px;
    height: auto;

    @media (min-width: 769px) {
      max-width: 440px;
    }
  }

  a {
    font-size: 18px;
    text-decoration: none;
    color: #6D6D6D;
    padding: 5px 10px;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70px;
    @media (min-width: 769px) {
      width: 420px;
    }
  }
}

.carousel-first {
  margin-bottom: 25px;
}

.carousel-second {
  display: none;
  @media (min-width: 769px) {
    display: block;
  }
  .hli-news-item {
    @media (min-width: 769px) {
      width: 360px;
    }
    img {
      max-width: 360px;
    }
    a{
      @media (min-width: 769px) {
        width: 320px;
      }
    }
  }
}

// mixin
@mixin angle($pseudo, $flip: false, $angle: 2.5deg) {
  // Possible values for $pseudo are: before, after, both
  @if $pseudo == 'before' or $pseudo == 'after' or $pseudo == 'both' {
    position: relative;
    z-index: 1;
    $selector: if($pseudo == 'both', '&:before,&:after', '&:#{$pseudo}');

    #{$selector} {
      background: inherit;
      content: '';
      display: block;
      height: 50%;
      left: 0;
      position: absolute;
      right: 0;
      z-index: -1;
      -webkit-backface-visibility: hidden; // for Chrome Windows
    }

    @if $pseudo == 'before' {
      #{$selector} {
        top: 0;

        @if $flip {
          transform: skewY($angle * -1);
          transform-origin: 0 0;
        } @else {
          transform: skewY($angle);
          transform-origin: 100% 0;
        }
      }
    }

    @if $pseudo == 'after' {
      #{$selector} {
        bottom: 0;

        @if $flip {
          transform: skewY($angle);
          transform-origin: 0 100%;
        } @else {
          transform: skewY($angle * -1);
          transform-origin: 100%;
        }
      }
    }

    @if $pseudo == 'both' {
      &:before {
        top: 0;

        @if $flip {
          transform: skewY($angle * -1);
          transform-origin: 0 0;
        } @else {
          transform: skewY($angle);
          transform-origin: 100% 0;
        }
      }

      &:after {
        bottom: 0;

        @if $flip {
          transform: skewY($angle);
          transform-origin: 0 0;
        } @else {
          transform: skewY($angle * -1);
          transform-origin: 100%;
        }
      }
    }
  }
}

// slanted edges here
.edge--bottom {
  @include angle(after);
}

.edge--bottom--reverse {
  @include angle(after, true);
}

.edge--top {
  @include angle(before);
}

.edge--top--reverse {
  @include angle(before, true);
}

.edge--both {
  @include angle(both);
}

.edge--both--reverse {
  @include angle(both, true);
}

@mixin can-toggle-branding(
  $can-toggle-off-color: #E8E8E8,
  $can-toggle-on-color: #42C9A0,
  $can-toggle-inactive-text: #6D6D6D,
  $can-toggle-transition: cubic-bezier(0,1,0.5,1)
) {

  input[type="checkbox"] {

    &:checked {


    }
  }

  label {

    .can-toggle__label-text { flex: 1; }

    .can-toggle__switch {
      margin: 0 auto;
      background: #E8E8E8;
      &:before { color: $can-toggle-inactive-text; }
      &:after {
        // Autoprefixer choked here, so making the prefixes explicit
        -webkit-transition: -webkit-transform 0.3s $can-toggle-transition;
        transition: transform 0.3s $can-toggle-transition;
        color: $can-toggle-off-color;
      }
    }

  }
}

@mixin can-toggle-appearance
(
  $can-toggle-width: 134px,
  $can-toggle-height: 36px,
  $can-toggle-border-radius: 4px,
  $can-toggle-offset: 2px,
  $can-toggle-label-font-size: 14px,
  $can-toggle-switch-font-size: 12px
){
  $can-toggle-switch-width: $can-toggle-width/2;

  input[type="checkbox"] {

    &:checked {
      ~ label {
        .can-toggle__switch {
          &:after {
            transform: translate3d($can-toggle-width - ($can-toggle-switch-width + $can-toggle-offset),0,0);

          }
          &:before {

          }
        }
      }
    }
  }

  label {

    font-size: $can-toggle-label-font-size;

    .can-toggle__switch {
      font-weight: 500;
      height: $can-toggle-height;
      flex: 0 0 $can-toggle-width;
      border-radius: $can-toggle-border-radius;

      &:before {
        left: $can-toggle-width/2;
        font-size: $can-toggle-switch-font-size;
        line-height: $can-toggle-height;
        width: $can-toggle-width/2;
        padding: 0 12px;
      }

      &:after {
        top: $can-toggle-offset; left: $can-toggle-offset;
        border-radius: $can-toggle-border-radius/2;
        width: $can-toggle-switch-width - $can-toggle-offset;
        line-height: $can-toggle-height - ($can-toggle-offset*2);
        font-size: $can-toggle-switch-font-size;
        background-color: #42C9A0;
        color: white;

      }

    }
  }
}

.can-toggle {
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;

  *, *:before, *:after { box-sizing: border-box; }

  label {
    cursor: pointer;
  }

  input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    top: 0; left: 0;

    &[disabled] ~ label {
      pointer-events: none;
      .can-toggle__switch { opacity: 0.4; }
    }

    &:checked {
      ~ label {
        .can-toggle__switch {

          &:before {
            content: attr(data-unchecked);
            left: 0;
          }

          &:after {
            content: attr(data-checked);
          }
        }
      }
    }
  }

  label {
    user-select: none;
    position: relative;
    display: flex;
    align-items: center;

    .can-toggle__label-text {
      flex: 1;
      padding-left: 32px;
    }

    .can-toggle__switch {
      position: relative;

      &:before {
        content: attr(data-checked);
        position: absolute;
        top: 0;
        text-align: center;
      }

      &:after {
        content: attr(data-unchecked);
        position: absolute;
        z-index: 5;
        text-align: center;
        background: white;
        transform: translate3d(0,0,0);
      }

    }

  }

  // Default values for .can-toggle class
  @include can-toggle-branding;
  @include can-toggle-appearance;

  &.can-toggle--size-large {
    @include can-toggle-appearance
    (
      200px, // Toggle width
      42px,  // Toggle height
      40px,   // Toggle border radius
      2px,   // Offset (distance btw switch and box)
      14px,  // Label font size
      14px  // Switch font size
    );
  }

}

.switch-content {
  display: none;
  &--visible {
    display: block;
  }
}

.ld-digital {
  &__logo {
    width: 188px;
    height: 79px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  &__img {
    max-width: 100%;
  }
}

.ld-papel {
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 50px;
  }

  &__logo {
    width: 188px;
    height: 79px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  &__title {
    font-weight: normal;
    margin: 0 0 50px 0;
    color: white;
    font-weight: normal;
    font-size: 24px;
  }

  .col:first-child {
    margin-bottom: 130px;
    @media (min-width: 769px) {
      margin-bottom: 0;
    }
  }
}

.carousel-lento {
  margin-bottom: 50px;
  img {
    width: 220px;
    height: auto;
    max-height: 400px;
    margin-right: 5px;
    @media (min-width: 769px) {
      width: 280px;
    }
  }
}

.ld-lento {
  &__logo {
    width: 123px;
    height: 121px;
    margin-bottom: 50px;
  }
}

.footer {

  text-align: center;
  @media (min-width: 769px) {
    text-align: left;
  }

  &__logo {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    width: 262px;
    height: 66px;
    display: inline-block;
    margin: 0 auto;
    background-image: url(../img/logo-white.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    display: block;
    margin: 0 auto;
    margin-top: 80px;
  }

  &__col {
    margin-bottom: 100px;
    @media (min-width: 769px) {
      margin-bottom: 0;
    }
    @at-root {
      .row .col.footer__col {
        @media (min-width: 769px) {
          padding-left: 12%;
        }
      }
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__list-item {
    margin-bottom: 6px;
  }

  &__link {
    color: white;
    font-size: 18px;
    opacity: .71;
    text-decoration: none;
    &:hover {
      opacity: 1;
    }
  }

  &__intro {
    margin-bottom: 100px;
  }

  &__share {
    margin-bottom: 100px;
  }

  &__share-list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    li {
      display: inline-block;
    }
    a {
      opacity: .85;
      text-decoration: none;
      color: white;
      padding: 0 9px;
      display: block;
      transition: 200ms;
      &:hover {
        opacity: 1;
        transition: 200ms;
      }
      i, i:before {
        font-size: 32px;
      }
      &.lnk-facebook {
        i, i:before {
          font-size: 28px;
          vertical-align: baseline;
        }
      }
    }
  }

}
