/* Label / input global styles */
.input-field {
  display: flex;
  flex-direction: column;
  position: relative;
  // Adds top padding only to an .input-field that follows another, creating spacing between consecutive fields
  & + & {
    padding-top: 16px;
  }

  label {
    font-size: px-to-rem(14px);
    padding: 4px;
    line-height: normal;

    .marker {
      color: #81898b;
    }
  }

  input {
    width: 100%;
    height: px-to-rem(48px);
    padding: 0 16px;
    background-color: #fff;
    border: 0.5px solid #000;
    border-radius: 5px;
    font-weight: 400;
    line-height: normal;
    outline: none;
  }
  select {
    height: px-to-rem(48px);
    border: 0.5px solid #000;
    padding: 0 16px;
  }
}

/* End label/input global styles */

body.subscribe:not(.signup) form#signup-phone-form,
body.subscribe:not(.signup) form#signup_form,
body.subscribe:not(.signup) form#google_signin,
body.subscribe:not(.signup) form#hardpw-signup,
body.subscribe:not(.signup) form#subscribe {
  div.input-field input {
    box-sizing: border-box;
    width: 100%;
  }
  #div_id_phone {
    label {
      z-index: 1;
    }
    div.iti {
      width: calc(100%);
      button.iti__selected-country:focus {
        background-color: transparent;
      }
    }
    input[type="tel"] {
      box-sizing: border-box;
      width: 100%;
      padding-left: 50px;
    }
    input.iti__search-input {
      padding: 0 8px;
    }
  }
}

body.subscribe:not(.signup) form#google_signin #div_id_phone {
  max-width: 300px;
  margin: 35px auto;
}
