@charset "UTF-8";
.profile-line {
  margin-bottom: 25px;
}

button {
  background-color: transparent;
  padding: 0;
  border: none;

  &:focus {
    background-color: transparent;
  }
}

.btn {
  font-size: 1rem;
  line-height: normal;
  background-color: transparent;
  color: $off-black;
  padding: px-to-rem(10px) px-to-rem(24px);
  border-radius: 5px;
  border: 1px solid $off-black;
  text-align: center;

  &__dark {
    background-color: $off-black;
    color: white;
    border: 1px solid $off-black;
    font-weight: 450;
    border: none;
  }
}

.ld-heading {
  font-family: "Roboto", sans-serif;
  margin: 10px 0 35px 0;
  font-size: 50px;
  color: #262626;
  font-weight: 500;
}

.ld-subheading {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  margin: 0 0 25px;
  color: #262626;
  font-weight: bold;
}

.ld-subheading-light {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  margin: 0 0 24px;
  color: #262626;
  font-weight: 400;
}

.ld-body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #262626;
  margin: 0 0 18px;
}

.ld-caption {
  font-size: px-to-rem(16px);
  font-family: "Dialect Gothic A", sans-serif;
  color: $off-black;
  font-weight: normal;

  p {
    margin-bottom: 16px;
    font-family: "Dialect Gothic A", sans-serif;
    font-size: px-to-rem(14px);
    color: $off-black;
  }
}

.ld-text-secondary {
  color: $grey;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

a.ld-text-secondary,
.ld-text-secondary a:not(.ut-btn) {
  color: $grey;
  text-decoration: underline;
}

.ld-title-big {
  font-family: "Roboto", sans-serif;
  font-size: 38px;
  font-weight: 500;
  margin: 0 0 25px 0;
  color: $off-black;
}

.ld-title {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: bold;
  margin: 0 0 35px 0;
  color: $off-black;

  &--underlined {
    border-bottom: 1px solid #a4a4a4;
    border-bottom: 1px solid rgba(164, 164, 164, 0.2);
  }
}

.ld-title-second {
  font-family: "Roboto", sans-serif;
  color: $off-black;
  font-size: 22px;
  font-weight: bold;
  margin: 0 0 10px;
}

.ld-block {
  margin: 100px 0;

  &--sm {
    margin: 50px 0;
  }
}

// accesibilidad
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

// animación
@include keyframes(slide-down) {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }
}

///////////////////////////////////////////////////////////////////////////
// Estructura
///////////////////////////////////////////////////////////////////////////

.container {
  font-size: px-to-rem(16px);
  transition: 0.2s ease-out;
  margin: 0 auto;
  max-width: $container-width;
  padding: 0 $padding-inline;

  &--mobile-overflow {
    @media #{$medium-and-down} {
      padding: 0;
    }
  }

  &--wide {
    @media #{$medium-and-up} {
      width: 90%;
      max-width: 1170px;
      padding: 0 15px;
    }
  }

  // 570px width
  &--narrow {
    @media #{$medium-and-up} {
      width: 570px;
      max-width: 570px;
      padding: 0;
      margin: 0 auto;
    }
  }

  &--colour,
  &--color {
    background-color: $color-light-blue;
  }
}

body {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  padding-bottom: $line-height;
  padding-top: 0;

  &.hide-mobile-nav {
    #nav-mobile {
      @media only screen and (max-width: 600px) {
        display: none !important;
      }
    }
  }

  @media (min-width: 769px) {
    padding-bottom: 0;
  }
}

.section-title h2 {
  color: white;
  display: inline-block;
}

.modal.full {
  width: 100%;
  height: 100%;
  max-height: 100%;
  top: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  background: $primary-color;
  color: white;
  padding: 5vh;

  a {
    color: white;
    margin: 10px 0;
    font-weight: 800;
    font-size: 20px;
  }
}

.ld-menu-title {
  color: $off-black;
  font-size: 25px;
  margin-top: 0;
}

.alert-box {
  color: white;
  background-color: $error-color;
  border-radius: 5px;
  > .col {
    display: flex;
  }

  svg {
    margin-top: 15px;
    margin-right: 5px;
  }
  .title {
    color: white;
  }
  a {
    color: white;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.errorList {
  color: $error-color;
}

.alert-close {
  cursor: pointer;
}

.ad_banner a img {
  background: url("/static/img/ad-icon.svg") no-repeat center center;
  background-color: #fbfbfb;
}

.ad_banner a img.ad-desktop {
  display: none;
  max-width: 100%;
  @media (min-width: 1078px) {
    max-width: 970px;
  }
  @media (min-width: 1024px) {
    display: block;
  }
}

.ad_banner.desktop-only a img.ad-desktop {
  display: block;
}

.ad_banner a img.ad-mobile {
  width: 300px;
  min-height: 250px;
  display: block;
  @media (min-width: 1024px) {
    display: none;
  }
}

.ad_banner.desktop-only a img.ad-desktop {
  display: block;
}

.ad_banner a img.ad-mobile {
  width: 300px;
  min-height: 250px;
  display: block;
  @media (min-width: 1024px) {
    display: none;
  }
}

.ad_banner a {
  display: inline-block;
  max-width: 100%;
  margin: 0 auto;
  font-size: 0;
  border-radius: 0;
  box-sizing: border-box;

  @media (min-width: 1078px) {
    max-width: 972px;
  }

  img,
  picture {
    display: block;
    margin: 0 auto;
    font-size: 0;
    border-radius: 0;
  }
}

.share {
  li {
    margin: 0 12px;
  }

  .share-print-icon path {
    transition: fill 0.2s ease-in-out;
  }

  .share-print-icon:hover path {
    transition: fill 0.2s ease-in-out;
    fill: $off-black-3;
  }

  a {
    color: $off-black;

    svg path {
      fill: $off-black;
      transition: fill 0.2s ease-in-out;
    }

    &:hover {
      color: $off-black-3;

      svg path {
        fill: $off-black-3;
      }
    }
  }
}

.image-source-link {
  color: #98c3d1;
}

// Toolbars
.recordar {
  color: $grey !important;

  &.selected {
    color: $secondary-color !important;
  }
}

.section-opinion {
  .ld-card {
    margin-bottom: 24px;
  }
}

.journalist {
  text-align: center;

  img.profile {
    width: 150px !important;
    height: 150px !important;
    display: inline-block;
    // margin: 50px 50px 20px 50px;
  }
}

.video-container {
  height: unset;
  overflow: visible;
}

.divider {
  margin: 20px 0;
  background-color: #a4a4a4;
  opacity: 0.2;
}

a.ladiaria {
  color: $off-black;
}

.section-title h2 {
  background: $off-black;
}

.opinion-section,
.destacados-section {
  .btn {
    color: $primary-color;
  }

  .section-title h2 {
    background: $primary-color;
  }
}

.section_module {
  .ld-card {
    margin-bottom: 24px;
  }

  .section__cta {
    margin-bottom: 60px;

    .btn,
    .ut-btn {
      margin-bottom: 15px;
    }
  }
}

.section-detail {
  &__head {
    padding-top: 32px;
    margin-bottom: 32px;
    border-top: 1px solid #000;
    display: flex;
    flex-direction: column;
    gap: 16px;

    a {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    &.white_text {
      > * {
        color: #fff !important;
      }

      .section-detail__toplink {
        svg {
          fill: #fff !important;
        }
      }
    }

    img {
      width: auto;
    }
  }

  &__toplink {
    transition: 0.1s ease-out;
    color: #595959;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    vertical-align: middle;
    display: inline-block;

    svg {
      width: 8px;
    }

    &:hover {
      color: #595959;
      opacity: 0.85;
    }
  }

  &__title {
    font-family: $sans-title;
    font-size: px-to-rem(32px);
    line-height: px-to-rem(27.84px);
    color: #000;
    font-weight: 700;
    margin: 0;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

    .new-pill {
      display: inline-block;
      font-size: 12px;
      line-height: 19px;
      text-transform: uppercase;
      background: #a71000;
      padding: 0 5px;
      border-radius: 3px;
      color: #fff;
      box-shadow: 0px 3px 6px #00000029;
      vertical-align: top;
      position: relative;
      top: 20px;
    }

    @media screen and (max-width: 600px) {
      font-size: 2rem;
    }
  }

  &__subtitle {
    font-size: px-to-rem(18px);
    line-height: normal;
    letter-spacing: px-to-rem(0.18px);
    color: #000;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }

  &__sub-cats {
    line-height: 18px;
    svg {
      height: 34px;
      vertical-align: middle;
      fill: #595959;
    }

    .dropdown-button svg {
      height: auto;
    }

    &:not(.js) .section-detail__sub-cats-list {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }

    &-list {
      display: flex;
      margin: 0;

      li {
        white-space: nowrap;

        &.hidden {
          display: none !important;
        }

        &.more {
          button {
            border: none;
            background: none;
            display: inline-block;
            vertical-align: top;
            position: relative;
            top: -2px;
          }
        }
        svg {
          vertical-align: middle;
        }
      }

      &.full li {
        flex-grow: 1;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
      }
      .dropdown-content {
        border-radius: 0 0 10px 10px;

        li {
          line-height: 1.2;
          a {
            font-size: 14px;
            padding: 10px 16px;
            font-weight: bold;
            text-transform: none;
          }
        }
      }
    }
    .secondary {
      display: none;
      margin: 0;

      > li {
        float: left;
        white-space: nowrap;
        margin-bottom: 10px;
      }

      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }
    &.show-secondary {
      .secondary {
        display: block;
      }
    }
  }
}

// ─── Publicidad ───────────────────────────────────────────────────────────────
#header-pub {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
  padding: 0 $padding-inline 32px;
  background-color: #fff;
  max-width: $container-width;
  width: 100%;
  margin: 0 auto;

  .ad_banner {
    display: flex;
  }

  .ld-caption {
    padding-top: 24px;
    border-top: 1px solid #000;
    color: #81898b;
    text-align: center;
    font-family: $sans;
    font-size: px-to-rem(14px);
    line-height: px-to-rem(16.52px);
    letter-spacing: px-to-rem(0.14px);
  }
}

@media #{$medium-and-down} {
  .section-detail {
    &__head {
      padding-top: 24px;
      margin-bottom: 24px;
      gap: 8px;
    }

    &__title {
      font-size: px-to-rem(28px);
      line-height: px-to-rem(24.36px);
      letter-spacing: px-to-rem(0.28px);
    }
    &__subtitle {
      font-size: px-to-rem(16px);
    }
  }
  #header-pub .ld-caption {
    padding-top: 16px;
  }
}

.ld-messages {
  text-align: center;
  margin: 0;
  color: white;
}

.ld-message {
  color: white;
  position: relative;
  padding: 14px;
  border-bottom: 1px solid #32b569;
  background: #2ecc71;
  font-weight: normal;

  &.alert-warning,
  &.alert-social-auth {
    border-bottom: 1px solid #b73d31;
    background: #e74c3c;

    .ld-message__close {
      background: #b73d31;
    }
  }

  &__close {
    border-radius: 100px;
    width: 29px;
    height: 29px;
    border: none;
    position: absolute;
    right: 23px;
    top: 9px;
    background: #31b569;
    transition: 0.1s ease-out;

    &:hover {
      transition: 0.1s ease-out;
      transform: scale(1.1);
    }
  }
}

// TODO: poner los media queries donde van las reglas
@media #{$small-and-down} {
  main#main-content {
    padding-top: 16px;
  }

  #main-header {
    .nav-wrapper {
      display: flex;
      height: 60px;
    }

    #nav-principal {
      position: absolute;
      top: 0;
      right: 15px;
    }

    .header-pill {
      background: none;
      top: 11px;
      line-height: 35px;
      font-size: 35px;
      height: 35px;

      svg {
        height: 36px;
        line-height: 36px;
        width: auto;
        vertical-align: middle;
      }
    }

    .header-logo.emergentes {
      img {
        height: 35px !important;
        line-height: 35px;
        width: auto;
        display: block;
        margin-top: 12px;
      }
    }

    &.logged-in {
      .nav-wrapper {
        justify-content: center;
      }
      .header-logo.emergentes {
        img {
          margin-left: 0;
        }
      }
      .header-pill {
        margin-left: 4px;
      }
    }
    &:not(.logged-in) {
      .btn.ingresar {
        margin-top: 7px !important;
      }
      .header-logo.ladiaria-white {
        img {
          height: 25px !important;
          line-height: 25px;
          width: auto;
          margin-top: 12px;
        }
      }
      .header-pill {
        margin-left: 3px;
      }
    }

    .header-logo.ladiaria-white {
      display: inline-block;
      position: relative;

      img {
        margin-right: 5px;
      }
    }
  }

  .navbar-fixed nav {
    position: relative;
  }

  #nav-mobile {
    display: block;
    visibility: visible;
  }
  .login #main-header:not(.logged-in) .nav-wrapper {
    justify-content: center;
  }
}

@media (max-width: 359px) {
  #main-header:not(.logged-in) {
    .header-logo.emergentes {
      img {
        height: 29px !important;
        line-height: 29px;
        width: auto;
      }
    }
    .header-pill {
      line-height: 29px;

      svg {
        height: 29px;
        line-height: 29px;
        width: auto;
      }
    }
  }
}

@media #{$medium-and-up} {
  body {
    &.frontpage {
      .container {
        @include utopia-container;
      }
      .footer-portada {
        .container {
          padding-top: 70px;
        }
      }
    }

    &.interior {
      .container {
        width: 700px;
        max-width: 100%;
      }
      .footer-portada {
        .container {
          width: 90%;
          max-width: 1170px;
          padding-top: 70px;
        }
      }
    }
  }
}
//

.ld-divider {
  width: 100%;
  display: block;
  background: #707070;
  height: 1px;
  opacity: 0.15;
  margin: 50px 0;
}

.form-submit-login {
  margin-top: 50px;
}

.btn-register {
  margin-top: 50px;

  &:hover {
    border-color: $primary-color;
    text-decoration: none;
  }
}

.ld-btn-google {
  color: #262626;
  border: 2px solid $off-black;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase !important;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  line-height: 1;
  height: auto;
  margin: 0;
  padding: 14px 23px 14px 52px;
  border-radius: 100px;
  display: inline-block;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 26px auto;
  background-position: center left 16px;
  background-image: url("/static/img/icon-google.svg");
  transition:
    background-color 0.35s ease,
    color 0.35s ease,
    box-shadow 0.35s ease;

  &:hover {
    background-color: $off-black;
    color: white;
    border: none;
    padding: 16px 25px 16px 54px;
    background-position: center left 18px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  }
  &:active {
    background-color: #4d4f4f;
    border-color: #4d4f4f;
    border: none;
    padding: 16px 25px 16px 54px;
    background-position: center left 18px;
    transform: translateY(1px);
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.3);
  }
  &:focus {
    background-color: $off-black;
    color: white;
  }
}

.ld-subscription-step {
  margin-top: 5px;
}

.extension__body {
  font-size: 18px;
}

.extension .twitter-tweet {
  margin: 0 auto;
}
.cur-p {
  cursor: pointer;
}

.ld-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  @include hide-text;

  &--print {
    background-image: url(../img/icon-print.svg);
    vertical-align: bottom;
  }
  &--print-dark {
    background-image: url(../img/icon-print-dark.svg);
    vertical-align: bottom;
  }
}

fieldset legend.ld-legend {
  display: block;
  font-weight: 500;
  font-size: 24px;
}

a.ld-link-low {
  color: $off-black;
  font-weight: normal;
  text-decoration: underline;
}

.section-comments-title {
  margin: 100px 0 20px;
}

#talk-embed-stream-container {
  margin-bottom: -100px;
}

.newsletter-subscribe {
  background: $color-light-blue;
  padding: 50px 0;
  text-align: center;
  margin-bottom: 120px;

  .desc {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    max-width: 625px;
    margin: 10px auto 20px;
  }
  .tagline {
    margin-bottom: 40px;
  }
}

.sections-grid {
  @media (max-width: 768px) {
    > .container > .row {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.login-notice {
  background-color: #e2e2e2;
  border-radius: 10px;
  padding: 20px 15px;
  a {
    color: $off-black;
    text-decoration: underline;
  }
}

.breaking-notice {
  background: #d8d8d8;
  color: $off-black;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  padding: 14px 20px 14px 3px;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 60px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #b4b4b4;

  @media #{$small-and-down} {
    top: auto;
    bottom: 65px;

    .msg-title {
      display: block;
    }
  }

  .container {
    font-size: 14px;
  }
  .msg-link {
    color: $off-black;
    text-decoration: underline;
    font-weight: bold;

    &:hover {
      opacity: 0.8;
    }
  }
  .btn-close {
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
    background-color: #e7e6e6;
    display: block;
    padding: 5px;
    border-radius: 4px;

    svg {
      display: block;
    }
  }
  .live {
    display: inline-block;
    position: relative;

    &:before {
      content: "";
      width: 6px;
      height: 6px;
      display: block;
      background: #ee0000;
      margin-right: 5px;
      position: absolute;
      top: 5px;
      left: -10px;
      animation-iteration-count: infinite;
      animation-name: twinkle-1;
      animation-duration: 2s;
      border-radius: 50%;
    }

    svg {
      margin: 0 10px;
    }
  }
}

/* section customizable header */
.section_background {
  &.styled {
    margin-bottom: 30px;
    padding-bottom: 1px;

    .section-detail {
      &__head {
        padding-bottom: 25px;
        margin-bottom: 0;
      }
      &__title {
        margin-bottom: 0;
        hyphens: none;
      }
      &__description {
        margin-top: 15px;
      }
    }
  }
}

/* estilo para select default browser */
select.browser-default {
  margin-top: 10px;
}

#div_id_province {
  margin: 40px 0 20px;
}

/* rebranding pagination */
.pagination {
  margin: 50px 0;
  text-align: center;

  li {
    &.active {
      background-color: $off-black;
    }

    &.disabled {
      color: $lightGrey-2;

      svg {
        fill: $lightGrey-2;
      }
    }
  }
  &.light {
    li a:not(.disabled) {
      color: #fff;
      font-weight: bold;
    }
    li.active {
      background: #fff;

      a {
        color: $off-black;
        font-weight: bold;
      }
    }
    li > a[aria-label="Siguiente"],
    li > a[aria-label="Anterior"] {
      svg path + path {
        fill: #fff;
      }
    }
    li.disabled > a[aria-label="Siguiente"],
    li.disabled > a[aria-label="Anterior"] {
      svg path + path {
        fill: #a4a4a4;
      }
    }
  }
}

/* rebranding forms */
input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="url"]:not(.browser-default):focus:not([readonly]),
input[type="time"]:not(.browser-default):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input[type="datetime"]:not(.browser-default):focus:not([readonly]),
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
input[type="tel"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="search"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid $grey;
  box-shadow: 0 1px 0 0 $grey;
}
[type="radio"] + label::after {
  width: 8px;
  height: 8px;
  border-color: white;
  left: 4px;
  top: 4px;
}
[type="radio"]:checked + label::before {
  border-color: $grey;
}
[type="radio"]:checked + label::after,
[type="radio"].with-gap:checked + label::after {
  background-color: $grey;
  border-color: $grey;
}
.input-field label {
  color: $grey !important;
}
.dropdown-content li > a,
.dropdown-content li > span {
  color: $grey !important;
}

#contact_form {
  .btn {
    color: $off-black !important;
    box-shadow: rgba(0, 0, 0, 0.29) 0 4px 12px;

    &:hover {
      background: $primary-color;
      border-color: $primary-color;
      text-decoration: none;
      box-shadow: rgba(0, 0, 0, 0.29) 0 4px 6px;
    }
  }
}

#subscribe {
  .btn {
    color: $off-black !important;
    box-shadow: rgba(0, 0, 0, 0.29) 0 4px 12px;

    &:hover {
      background: $primary-color;
      border-color: $primary-color;
      text-decoration: none;
      box-shadow: rgba(0, 0, 0, 0.29) 0 4px 6px;
    }
  }
}

nav.subscription_black {
  background-color: $off-black;
}
/* fix for forms */
.form-group {
  .btn {
    color: $off-black !important;
    box-shadow: rgba(0, 0, 0, 0.29) 0 4px 12px;

    &:hover {
      text-decoration: none;
      background-color: $primary-color !important;
      border-color: $primary-color;
      box-shadow: rgba(0, 0, 0, 0.29) 0 4px 6px;
    }
  }
  .btn-dark {
    color: #fff !important;
    box-shadow: none;
    background-color: $off-black;
    border-color: $off-black;

    &:hover {
      background-color: $off-black !important;
      border-color: $off-black;
      box-shadow: rgba(0, 0, 0, 0.29) 0 4px 6px;
    }
  }
}

#div_id_time {
  input[type="radio"] {
    position: relative;
    left: 0;
    opacity: 1;

    + label {
      font-size: 14px;
      color: $off-black;
      padding-left: 10px;

      &:before {
        display: none;
      }
      &:after {
        display: none;
      }
    }
  }
}

// captcha
#div_id_captcha {
  margin: 15px 0 25px;
  padding: 0;
}
#error_1_id_captcha {
  display: block;
  top: 5px;
}
#coral_talk_stream {
  .title {
    display: block;
    margin-bottom: 10px;
  }
}

.browserupgrade {
  left: 0;
  right: 0;
  width: 100%;
  background: #e67e22;
  color: white;
  padding: 15px;
  margin: 0;
  font-size: 14px;
  text-align: center;
  font-family: sans-serif;
  z-index: 1;

  a {
    color: white;
  }
}
// reset styles for tiktok embeds
blockquote.tiktok-embed {
  margin: 0;
  padding: 0;
  border: none;
}
// edition header
#edition-header {
  background: #dbdbdb;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #a4a4a4;
  font-family: "Roboto", sans-serif;

  .main-title {
    display: block;
    font-size: 42px;
    line-height: 49px;
    font-weight: 700;

    @media (min-width: 700px) {
      font-size: 48px;
      line-height: 56px;
    }
  }

  .subtitle {
    display: block;
    font-size: 18px;
    line-height: 21px;

    @media (min-width: 700px) {
      font-size: 20px;
      line-height: 24px;
    }
  }
}
