
// @import "../materialize/sass/components/prefixer";
// @import "../materialize/sass/components/mixins";
@import "../materialize/sass/components/color";

// ladiaria mixins
@import "utopia_mixins";

///////////////////////////////////////////////////////////////////////////
// Variables Materialize
///////////////////////////////////////////////////////////////////////////

$primary-color: #6EF9FF !default;
$primary-color-accent: #fe5b4c !default;
$secondary-color: #C2FCFF !default;
$color-light-blue: #EDF6F5;
$link-color: #262626 !default;
$link-color-hover: #595959 !default;
$off-black: #262626 !default;
$off-black-1: #111111 !default;
$off-black-2: #222222 !default;
$off-black-3: #434343 !default;
$lightGrey: #a4a4a4;
$lightGrey-2: #979797;
$grey: #595959;
$grey-1: #d8d8d8;
$grey-2: #fbfbfb;
$grey-3: #e0e0e0;
$error-color: #e74c3c;
$button-radius: 100px !default;

// typography
$sans: Arial, Arial, Helvetica, sans-serif;
$serif-body: 'Roboto', sans-serif;
$serif-title: 'Meta Serif', serif;
$line-height: 60px;
$font-size-sm: 20px;
$font-size-lg: 22px;

$breakpoints: (
  small: 400px,
  medium: 600px,
  large: 1200px,
);

// Publicaciones / Emergentes
$rio-abierto-primary-color: #009DE0;
$chile-primary-color: #E74C3C;
$garra-primary-color: #a8e3e9;
$ahora-primary-color: #ff5252;
$lento-primary-color: #e5007d;
$lento-secondary-color: #e91e63;
$humor-primary-color: #F1A9A0;

// Ajustes de alto y ancho de visual
$view-full-height: calc(100vh - #{$line-height} * 2); // altura de visual menos ancho de una barra
$view-full-width: 100vw;
$view-image-title: calc(100vh - #{$line-height} * 4); // menos altura de barra menos alt titulo
$gridMinWidth: 1000px;
