@import "utopia_mixins";

///////////////////////////////////////////////////////////////////////////
// Variables Materialize
///////////////////////////////////////////////////////////////////////////

$primary-color: #b3efff !default;
$primary-color-accent: #fe5b4c !default;
$secondary-color: $primary-color !default;
$color-light-blue: #edf6f5;
$link-color: #000000 !default;
$link-color-hover: #595959 !default;
$off-black: #000000 !default;
$off-black-1: #111111 !default;
$off-black-2: #222222 !default;
$off-black-3: #434343 !default;
$lightGrey: #a4a4a4;
$lightGrey-2: #979797;
$grey: #595959;
$grey-1: #d8d8d8;
$grey-2: #fbfbfb;
$grey-3: #e0e0e0;
$error-color: #e74c3c;
$button-radius: 100px !default;

$padding-inline: 20px;
$container-width: 1280px + $padding-inline * 2 !default;

$headerMinHeight: px-to-rem(60px);
$navbar-height-mobile: 56px !default;
$navbar-height: 64px !default;

// typography
$sans: "Dialect Gothic A", Arial, Helvetica, sans-serif;
$sans-title: "Review Condensed", Arial, Helvetica, sans-serif;
$serif: "Society FullTrial", serif;
$line-height: 60px;
$font-size-sm: 20px;
$font-size-lg: 22px;

// ─── Redesign v4 ────────────────────────────────────────────────────────────────
$col-gap: 48px;
$col-gap-mobile: 24px;
$col-width: 284px; // (1280 - 48 * 3) / 4
$sidebar-width: 284px;
$breakpoint-mobile: 767px;

$color-divider: #ababab;
$border-divider: 0.5px solid $color-divider;

//  sizing variables
$gap-2: 8px;
$gap-3: 12px;
$gap-4: 16px;
$gap-6: 24px;
$-gap-6: -24px;
$gap-8: 32px;

$breakpoints: (
  small: 400px,
  medium: 600px,
  large: 1200px
);

// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

// Visual height and width adjustments
$view-full-height: calc(100vh - #{$line-height} * 2); // visual height minus the width of a bar
$view-full-width: 100vw;
$view-image-title: calc(100vh - #{$line-height} * 4); // minus bar height minus title height
$gridMinWidth: 1000px;
