@import "variables";
@import "utopia_materialize/variables";

body.hard-paywall {
  background-color: #edf6f5;
  h1,
  p {
    line-height: normal;
    font-family: $sans;
    margin: 0;
  }

  #main-header {
    .subscription_black {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
    }
  }

  .container {
    --container-padding-top: 44px;
    width: 100%;
    display: flex;
    gap: 48px;
    justify-content: center;
    padding: var(--container-padding-top) 0;
    max-width: 900px;

    @media #{$medium-and-down} {
      padding: 20px 14px 140px;
    }

    .article-container {
      width: 100%;
      display: flex;
      flex-direction: column;

      @media #{$medium-and-down} {
        display: none;
      }

      &__title {
        text-align: center;
        font-size: px-to-rem(24px);
        font-weight: 700;
        padding-bottom: 16px;
      }
      &__chevron-down-icon {
        align-self: center;
      }

      &__article-card {
        background-color: white;
        border-radius: 5px;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 12px;
        border: 1px solid #e0e0e0;

        img {
          border-radius: 6px 6px 0 0;
        }

        &__section {
          padding-top: 12px;
          font-size: px-to-rem(14px);
          text-transform: uppercase;
        }

        &__title {
          font-family: $serif;
          font-size: px-to-rem(20px);
          font-weight: 450;
          padding: 0 32px;
        }

        &__author {
          font-size: px-to-rem(14px);
        }

        &__ladiaria-logo {
          position: relative;
          padding: 16px 0;
          display: flex;
          justify-content: center;
          &::after {
            content: "";
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
            width: 329px;
            height: 0.5px;
            background-color: #ababab;
          }
        }
      }
    }
    .payment-column {
      width: 100%;
      max-width: px-to-rem(378px);

      @media #{$medium-and-down} {
        margin: 0 auto;
      }

      &__phone-subscription {
        max-width: 380px;
      }

      &.anonymous {
        display: flex;
        flex-direction: column;

        @media #{$medium-and-down} {
          margin-bottom: auto;
        }

        p.create-account-desc {
          color: #000;
          text-align: center;
          font-family: $sans;
          padding-bottom: 48px;
        }
        p {
          font-family: $sans;
        }
        .create-account-chevron-down-icon {
          margin-bottom: 8px;
          align-self: center;
        }

        form#hardpw-login,
        form#hardpw-signup {
          margin-top: 12px;
          padding: 0;

          @media #{$medium-and-down} {
            padding: 0 16px;
          }

          #div_id_terms_and_conds_accepted {
            margin: 16px 0;
          }

          .forgot-password-container {
            padding-top: 8px;
            padding-bottom: 24px;
          }
          .sign-in-btn-container {
            @media #{$medium-and-down} {
              padding-bottom: 0;
            }
          }

          .topspaced {
            margin-top: 25px;
          }
        }

        p.alert-box {
          background-color: #ea4444;
          border: 1px solid #d50000;
          border-radius: 5px;
          padding: 16px;
          color: #fff;
          font-size: px-to-rem(16px);
          margin: 16px 0 0;
        }

        form#hardpw-login:not(.password-login) {
          border-bottom: 0.5px solid #ababab;
          padding-bottom: 24px;
        }

        form#hardpw-signup {
          padding-bottom: 40px;
        }
      }

      &__close-btn {
        position: absolute;
        right: 44px;
        border-radius: 5px;
        background: #e3e8ea;
        display: inline-flex;
        padding: 10px 16px;
        justify-content: center;
        align-items: center;
        gap: 10px;

        @media #{$medium-and-down} {
          display: none;
        }
      }

      .payment-container {
        border: 0.5px solid #828282;
        position: relative;
        border-radius: 5px;
        background-color: white;
        text-align: center;
        padding: 32px;

        #box-tel-div {
          text-align: initial;
        }

        &__title {
          font-family: $sans-title;
          font-size: px-to-rem(24px);
          padding-bottom: 16px;
        }

        &.anonymous {
          @media #{$medium-and-down} {
            padding: 0;
          }

          h2.sign-in-title,
          h2.sign-up-title {
            font-size: px-to-rem(24px);
            font-family: $sans-title;
            margin: 0;
          }

          .sign-up-title,
          .advice-text {
            margin-bottom: 16px;
          }

          .google-auth {
            width: 100%;
          }
        }

        @media #{$medium-and-down} {
          padding-top: 0;
        }

        &__chip-subscription {
          border-radius: 18px;
          padding: 8px 16px;
          background: #878787;
          color: #fff;
          text-align: center;
          font-family: Roboto;
          font-size: px-to-rem(15px);
          font-weight: 700;
          text-transform: uppercase;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: -18px;

          @media #{$medium-and-down} {
            display: none;
          }
        }

        &__mobile-header {
          display: none;

          @media #{$medium-and-down} {
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid #e0e0e0;
            background: #f3f3f3;
            text-align: center;
            font-size: px-to-rem(18px);
            font-weight: 700;
            padding: 16px 0;
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;
            margin-bottom: 16px;
            position: relative;
            min-height: 68px;

            p {
              max-width: 200px;
              margin: 0 auto;
            }
          }
        }

        &__close-btn {
          display: none;
          @media #{$medium-and-down} {
            position: absolute;
            top: 16px;
            right: 16px;
            width: 48px;
            height: 48px;
            display: flex;
            padding: 12px;
            justify-content: center;
            align-items: center;
            border-radius: 35px;
            border: 1px solid #dfdfdf;
            background: #eee;
          }
        }

        &__price {
          color: #eb5757;
          font-size: px-to-rem(25.73px);
          font-weight: 700;
        }

        &__full-price {
          padding-bottom: 4px;
        }

        &__cancel-advice {
          font-size: px-to-rem(12px);
          color: #fa4f4f;
          padding-bottom: 24px;
        }

        &__form-container {
          img {
            padding-bottom: 20px;
            max-height: 400px;
          }
          button [type="submit"] {
            border-radius: 65px;
            background: $off-black;
            padding: 10px 21px;
            color: #fff;
            text-align: center;
            font-family: Roboto;
            font-size: px-to-rem(15px);
            font-weight: 700;
            text-transform: uppercase;
            border: none;
          }
        }

        &__anonymous {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 26px;
          &__see-benefits {
            border-radius: 17px;
            background: #f3f3f3;
            padding: 8px 21px;
            font-family: Roboto;
            font-size: px-to-rem(15px);
            font-weight: 700;
            text-transform: uppercase;
          }

          .plan-collapsible-container {
            background-color: white;
            border-radius: 8px;
            z-index: 1;
            max-width: 303px;

            &__header {
              background-color: #f3f3f3;
              font-family: AntennaCond, sans-serif;
              text-align: center;
              padding: 14px;
              position: relative;
              border-radius: 8px;
              border-bottom-left-radius: 0;
              border-bottom-right-radius: 0;
              border-bottom: 1px solid #d8d8d8;

              h4 {
                margin: 0;
                font-size: 1.5rem;
              }

              button {
                position: absolute;
                right: 14px;
                top: 9px;
                background-color: #f3f3f3;
                padding: 13px;
                border: none;
                width: 40px;
                height: 40px;
              }
            }

            .plan-collapsible {
              padding: 16px;
              margin: 0 14.5px;

              li {
                border-bottom: 1px solid #d8d8d8;

                &:last-child {
                  border-bottom: none;
                }

                &__body {
                  font-size: 0.875rem;
                }
              }
            }
          }
          &__log-in {
            border-top: 1px solid #e0e0e0;
            background: #f3f3f3;
            align-self: stretch;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            padding: 16px 0 24px;

            p {
              font-size: px-to-rem(15px);
              font-weight: 700;
              font-family: Roboto;
            }
            a {
              font-family: Roboto;
              font-size: px-to-rem(15px);
              text-decoration-line: underline;
            }
          }
        }
      }
    }
    .register-container {
      text-align: center;
      font-size: px-to-rem(15px);
      padding-top: 39px;
      a {
        font-family: Roboto;
        text-decoration: underline;
      }
      p {
        font-family: Roboto;
      }
    }
  }
}
