body.subscriptions-home {
  header, footer{
    background: $primary-color;
    width: 100%;
    text-align: center;
    .logo_ladiaria{
      margin: 2em 0 0 0;
      height: 60px;
    }
    h1{
      color: white;
      margin: 0px 0 1em 0;
      padding: 0;
      font-size: 2em;
    }
  }
  .container {
    width: 755px;
  }
}
.subscribe, .subscriptions-home {

  padding-bottom: 0;

  @media #{$small-and-down} {
    #nav-mobile {
      display: none;
    }
  }

  #main-header > nav.subscription_black{
    background: $off-black;
    text-align: center;
    height: 60px;
    padding: 14px 0 0;

    .logo_ladiaria{
      margin: 0 auto;
      display: block;
      height: 40px;
      margin-bottom: 6px;
    }
  }
  small.exp {
      font-size: 14px;
      color: $off-black-3;
      margin-bottom: 20px;
  }
}

.subscription_black__title {
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: top;
}

.subscription-plans{
  width: 100% !important;
  padding: 2em 0;
  background: $grey-2;
  margin-bottom: 20px;
  font-family: AntennaCond, sans-serif;
  @media (min-width: 1390px) {
    padding: 2em 10%;
  }

  .row {
    max-width: 990px;
    margin: 0 auto;

    .col {
      padding: 0 15px;
    }
  }

  .title {
    font-family: AntennaCond, sans-serif;
    font-size: 35px;
    line-height: 45px;
    color: $off-black-3;

    @media #{$medium-and-up} {
      font-size: 38px;
    }

  }
  .bottomline {
    font-family: AntennaCond, sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: $off-black-3;
  }
  .narrow {
    max-width: 700px;
    margin:15px auto;
    padding: 0 10px;
    color: $off-black-3;
  }

  &.text-block {
    padding-top:45px;
    padding-bottom: 50px;
    margin-bottom: 10px;

    &.faq {
      margin-bottom: 100px;
    }

    .title {
      margin-top: 0;
    }
    .narrow {
      font-size: 24px;
    }
  }
}
.subscribing-plans {
  max-width: 1200px;
  .box {
    padding: 2em;
    height: 100%;
    position: relative;
    @media only screen and (max-width: 850px) and (min-width: 600px) {
        padding: 50px 20px 20px 20px;
    }

    .operationsign{
      position: absolute;
      top: 40%;
      right: -.98em;
      font-size: 3em;
      color: $off-black;
      @media #{$medium-and-up} {
        &.equal {
          display: block !important;
          visibility: visible !important;
        }
      }
    }
    .paperdigital.box-image{
         background-image: url("../img/forms/paper_digital_subscription_grey.png");
    }
  }
}
.subscription-bottomline {
  font-family: AntennaCond, sans-serif;
  color: $off-black-3;
  margin: 0 15px 100px;

  .title {
    font-size: 18px;
    line-height: 21px;
    margin:0 0 5px;
  }
  p {
    font-size: 16px;
    line-height: 21px;
    margin:0 0 5px;

    a {
      color: $off-black-3;

      &:hover {
        color: $grey;
      }
    }
  }
}
.subscription-box {
  background: white;
  color: $off-black-3;
  padding: 40px 20px;
  border-radius: 5px;
  margin: 20px 0;
  border: none;
  display: block;
  box-shadow: rgba(0,0,0,0.16) 0 0 13px 2px;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.2s ease-in-out;
  font-family: AntennaCond, sans-serif;
  max-width: 310px;

  @media #{$small-and-down} {
    padding: 40px 30px;
    margin:20px auto;
  }

  @media #{$large-and-up} {
    min-height: 661px;
    padding: 40px 30px;
  }


  .box-header {
    min-height: 160px;
    color: $off-black-3;


    h2 {
      font-size: 28px;
      line-height: 34px;
      font-weight: 700;
      margin:0;
    }
    p {
      font-size: 18px;
      line-height: 21px;
      margin:15px 0;
      font-weight: bold;
    }
    .price {
      font-size: 28px;
      line-height: 34px;
      font-weight: 700;
      color: $primary-color-accent;
    }
    .suggested {
      display: inline-block;
      background:$primary-color-accent;
      color:white;
      font-size: 15px;
      line-height: 24px;
      padding:0 5px;
      border-radius: 6px;
      position: absolute;
      top:-12px;
      left: 50%;
      margin-left: -32px;
    }
    .exp {
        display: block;
        font-size: 18px;
    }
  }


  &:hover {
    box-shadow: rgba(0,0,0,0.26) 0 0 15px 2px;
  }

  .logo_ladiaria{
    color: $primary-color;
    max-height: 24px;
  }


  .box-footer {
    padding-top: 30px;
    margin-top:auto;
  }


  &.hover {
    border:2px solid $off-black-3;
    transition: 300ms;
    padding: 38px 18px;

    @media #{$small-and-down} {
      padding: 38px 28px;
    }

    @media #{$large-and-up} {
      padding: 38px 28px;
    }


    .plan-collapsible__btn {
      @include ld-btn($bg-color: $primary-color, $bg-color-hover: $primary-color, $color: $off-black, $color-hover: $off-black, $icon: false);
    }

  }

  &.secondary {
    min-height: auto;
    margin:30px auto;
    padding: 30px;
    max-width: 500px;

    @media (max-width:540px) {
      margin:30px auto;
      max-width: 90%;
    }

    @media #{$medium-and-up} {
      width: 50%;
    }


    .box-header {
      min-height: auto;
      margin-bottom: 20px;
      font-weight: bold;


    }
    .price {
      color: $primary-color-accent;
      margin-left: 10px;
    }

    .plan-collapsible__header {
      font-size: 24px;
      font-weight: bold;
    }
  }
  .plan-collapsible__body {
    padding-left: 0;
    padding-right: 0;


    ul {
      padding-left: 20px;

      li {
        margin-bottom: 10px;

        strong {
          margin-left: -20px;
        }
      }

    }

    .actions {
      text-align: center;
      margin-top: 20px;

      .plan-collapsible__btn {
        margin: 0 auto;
        text-decoration: none;
        background-color: $primary-color;

        &:hover {
          box-shadow:rgba(0, 0, 0, 0.29) 0 4px 6px;
          color: $off-black;
          background-color:$primary-color
        }
      }
    }



  }

  &.actual {
    background-color: $grey-2;

    .box-footer {
      &::before{
        content: "";
        display: block;
        position: absolute;
        left: -30px;
        top: -10px;
        right: -30px;
        bottom: -40px;
        background:$grey-3;
        border-radius: 0 0 5px 5px;
      }

      .text {
        position: relative;
        text-transform: uppercase;
        color: $lightGrey-2;
      }
    }

  }

}

.price-sm {
  font-size: 12px;
  font-weight: 400;
  margin-left: 1px;
}


.box-footer{
  position: relative;

  svg {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
    .a {
      fill: #d1d1d1;
    }
  }
}

#total-products{
  .btn{
    padding: 0 15px;
  }
}

.subscribe #main-header{
  z-index: 10;
}

.subscribe{
  .ld-title-big{
    margin-bottom: 5px;
  }
  .plan-detail{
    font-size: initial;
    font-weight: 400;
    margin: 0;
    line-height: 1.4;
  }
}

.collapsible {
  border: none;
  box-shadow: none;
}

.plan-collapsible {
  margin: 0;
  padding-left: 0;

  &__toggle {
    transition: 200ms;
    position: absolute;
    right: 0;
    width: 12px;
  }

  &__header {
    position: relative;
    user-select: none;
    text-align: left;
    font-size: 18px;
    line-height: 21px;
    font-weight: normal;
    display: flex;
    align-items: center;
    font-weight: 400;
    min-height: 0 !important;
    padding:10px 20px 10px 0;
    border:none;
    background: none;

    &.active {
      .plan-collapsible__toggle {
        transform: rotate(180deg);
        transition: 200ms;
      }
    }

    .check,
    .cross {
      margin-right: 10px;
    }
  }


  &__body {
    border: none;
    box-sizing: border-box;
    color: #484848;
    font-size: 18px;
    line-height: 1.3;
    padding:5px 20px 40px;
    text-align: left;

    a {
      color: #484848;
      text-decoration: underline;
      &:hover {
        opacity: .85;
      }
    }

    p {
      font-size: 18px;
      margin-top: 0;
    }

    ul {
      padding: 0;
      li {
        list-style-type: none;
      }
    }
  }

  &__btn {
    @include ld-btn($bg-color: white, $bg-color-hover: white, $color: $off-black, $color-hover: $off-black, $icon: false);
  }
}

.crossed {
  .plan-collapsible__header {
    color: $lightGrey-2;
  }
}
.help-plans-list li {
  margin-bottom: 10px;

  a {
    text-decoration: underline;
    &:hover {
      color:$link-color-hover;
    }
  }
}

.subscription-header {
  margin-top: 25px;
  margin-bottom: 35px;


  .ld-title {
    font-size: 30px;
    font-family: AntennaCond, sans-serif;
    color: $off-black-3;
    margin-bottom: 0;
    padding: 0 10px;

    @media #{$medium-and-up} {
      font-size: 38px;
    }

  }

  .subtitle {
    font-size: 22px;
    font-family: AntennaCond, sans-serif;
    color: $off-black-3;
    line-height: 30px;
    margin-left:15px;
    margin-right:15px;

    @media #{$medium-and-up} {
      font-size: 24px;
    }
  }
}

.subscribe-header {
  position:relative;
  padding: 0 10px 20px;
  margin-top: -25px;

  @media (min-width: 769px) {
    padding: 0 0 20px;
  }

  .ld-title-big {
    margin-bottom: 10px;
    font-family: AntennaCond, sans-serif;
    font-weight: bold;
  }

  .price {
    font-size: 28px;
    font-weight: bold;
    font-family: AntennaCond, sans-serif;
    color: $primary-color-accent;
  }
  small.exp {
      display: block;
      font-size: 18px;
      line-height: 21px;
      font-family: AntennaCond, sans-serif;
      color: $off-black-3;
      margin-bottom: 5px;
  }
  &:after {
    content:"";
    display: block;
    position: absolute;
    left: -5000px;
    right: -5000px;
    bottom: 0;
    top:0;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    z-index: -1;
  }
}
