.subscription-header {
  margin-top: 25px;
  margin-bottom: 35px;
  text-align: center;

  .ld-title {
    font-size: 30px;
    font-family: AntennaCond, sans-serif;
    color: $off-black-3;
    margin-bottom: 0;
    padding: 0 10px;

    @media #{$medium-and-up} {
      font-size: 38px;
    }
  }

  .subtitle {
    font-size: 22px;
    font-family: AntennaCond, sans-serif;
    color: $off-black-3;
    line-height: 30px;
    margin-left: 15px;
    margin-right: 15px;

    @media #{$medium-and-up} {
      font-size: 24px;
    }
  }
}

.subscribe-header {
  position: relative;
  padding: 0 10px 20px;

  @media (min-width: 769px) {
    padding: 0 0 20px;
    margin-top: -25px;
  }

  .ld-title-big {
    margin-bottom: 10px;
    font-family: AntennaCond, sans-serif;
    font-weight: bold;
    font-size: 24px;
  }

  .price {
    font-size: 26px;
    font-weight: bold;
    font-family: AntennaCond, sans-serif;
    color: $primary-color-accent;
  }
  small.exp {
    display: block;
    font-size: 16px;
    line-height: 22px;
    font-family: AntennaCond, sans-serif;
    color: $off-black;
    margin-bottom: 5px;
    font-weight: 400;
  }
  .ld-text-secondary {
    font-size: 15px;
    color: $off-black;
    display: block;
    border-top: 2px solid #c3c3c3;
    padding-top: 10px;
    max-width: 483px;
    margin: 0 auto;
  }
  .cancel {
    display: block;
    font-size: 16px;
    line-height: 19px;
    color: $primary-color-accent;
    margin-top: 15px;
  }
}

.subscribe-body .close-window-container {
  text-align: right;
  button {
    padding: 16px 16px 0 0;
    background-color: transparent;
    border: none;
  }
}

body.subscribe.activation {
  background-color: white !important;

  .ld-content {
    margin: 0 auto;

    @media #{$medium-and-down} {
      padding: 32px 16px;
    }
  }
}
