
.subscription-header {
    margin-top: 25px;
    margin-bottom: 35px;
    text-align: center;


    .ld-title {
      font-size: 30px;
      font-family: AntennaCond, sans-serif;
      color: $off-black-3;
      margin-bottom: 0;
      padding: 0 10px;

      @media #{$medium-and-up} {
        font-size: 38px;
      }

    }

    .subtitle {
      font-size: 22px;
      font-family: AntennaCond, sans-serif;
      color: $off-black-3;
      line-height: 30px;
      margin-left:15px;
      margin-right:15px;

      @media #{$medium-and-up} {
        font-size: 24px;
      }
    }
}

.subscribe-header {
    position:relative;
    padding: 0 10px 20px;
    margin-top: -25px;

    @media (min-width: 769px) {
      padding: 0 0 20px;
    }

    .ld-title-big {
      margin-bottom: 10px;
      font-family: AntennaCond, sans-serif;
      font-weight: bold;
      font-size: 24px;
    }

    .price {
      font-size: 26px;
      font-weight: bold;
      font-family: AntennaCond, sans-serif;
      color: $primary-color-accent;
    }
    small.exp {
        display: block;
        font-size: 16px;
        line-height: 22px;
        font-family: AntennaCond, sans-serif;
        color: $off-black;
        margin-bottom: 5px;
        font-weight: 400;
    }
    &:after {
      content:"";
      display: block;
      position: absolute;
      left: -5000px;
      right: -5000px;
      bottom: 0;
      top:0;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
      z-index: -1;
    }
    .ld-text-secondary {
      font-size: 15px;
      color: $off-black;
      display: block;
      border-top: 2px solid #C3C3C3;
      padding-top: 10px;
      max-width: 483px;
      margin: 0 auto;
    }
    .cancel {
      display: block;
      font-size: 16px;
      line-height: 19px;
      color: $primary-color-accent;
      margin-top: 15px;
    }
}

