/* AntennaCond */
@font-face {
  font-family: "AntennaCond";
  font-weight: 400;
  font-style: normal;
  src: url("/static/fonts/antenna/AntennaCond-Regular.eot");
  src:
    url("/static/fonts/antenna/AntennaCond-Regular.woff2") format("woff2"),
    url("/static/fonts/antenna/AntennaCond-Regular.woff") format("woff"),
    url("/static/fonts/antenna/AntennaCond-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "AntennaCond";
  src: url("/static/fonts/antenna/AntennaCond-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "AntennaCond";
  src: url("/static/fonts/antenna/AntennaCond-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Review Condensed";
  src: url("/static/fonts/ReviewCondensed/ReviewCondensed-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Review Condensed";
  src: url("/static/fonts/ReviewCondensed/ReviewCondensed-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Review Condensed";
  src: url("/static/fonts/ReviewCondensed/ReviewCondensed-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Society */
@font-face {
  font-family: "Society FullTrial";
  src: url("/static/fonts/Society/SocietyFullTrial-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Society FullTrial";
  src: url("/static/fonts/Society/SocietyFullTrial-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Society FullTrial";
  src: url("/static/fonts/Society/SocietyFullTrial-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Society FullTrial";
  src: url("/static/fonts/Society/SocietyFullTrial-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Society FullTrial";
  src: url("/static/fonts/Society/SocietyFullTrial-Book.otf") format("opentype");
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Society FullTrial";
  src: url("/static/fonts/Society/SocietyFullTrial-BookItalic.otf") format("opentype");
  font-weight: 450;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Society FullTrial";
  src: url("/static/fonts/Society/SocietyFullTrial-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Society FullTrial";
  src: url("/static/fonts/Society/SocietyFullTrial-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Society FullTrial";
  src: url("/static/fonts/Society/SocietyFullTrial-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Society FullTrial";
  src: url("/static/fonts/Society/SocietyFullTrial-SemiBoldItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Society FullTrial";
  src: url("/static/fonts/Society/SocietyFullTrial-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Society FullTrial";
  src: url("/static/fonts/Society/SocietyFullTrial-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
