/* Dialect Gothic A */
@font-face {
  font-family: "Dialect Gothic A";
  src: url("/static/fonts/dialect/DialectGothicA-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dialect Gothic A";
  src: url("/static/fonts/dialect/DialectGothicA-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Dialect Gothic A";
  src: url("/static/fonts/dialect/DialectGothicA-SemiItalic.otf") format("opentype");
  font-weight: 400;
  font-style: oblique;
  font-display: swap;
}
@font-face {
  font-family: "Dialect Gothic A";
  src: url("/static/fonts/dialect/DialectGothicA-Book.otf") format("opentype");
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dialect Gothic A";
  src: url("/static/fonts/dialect/DialectGothicA-Booktalic.otf") format("opentype");
  font-weight: 450;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Dialect Gothic A";
  src: url("/static/fonts/dialect/DialectGothicA-BookSemiItalic.otf") format("opentype");
  font-weight: 450;
  font-style: oblique;
  font-display: swap;
}
@font-face {
  font-family: "Dialect Gothic A";
  src: url("/static/fonts/dialect/DialectGothicA-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dialect Gothic A";
  src: url("/static/fonts/dialect/DialectGothicA-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Dialect Gothic A";
  src: url("/static/fonts/dialect/DialectGothicA-MediumSemiItalic.otf") format("opentype");
  font-weight: 500;
  font-style: oblique;
  font-display: swap;
}
@font-face {
  font-family: "Dialect Gothic A";
  src: url("/static/fonts/dialect/DialectGothicA-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dialect Gothic A";
  src: url("/static/fonts/dialect/DialectGothicA-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Dialect Gothic A";
  src: url("/static/fonts/dialect/DialectGothicA-BoldSemiItalic.otf") format("opentype");
  font-weight: 700;
  font-style: oblique;
  font-display: swap;
}
@font-face {
  font-family: "Dialect Gothic A";
  src: url("/static/fonts/dialect/DialectGothicA-Heavy.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dialect Gothic A";
  src: url("/static/fonts/dialect/DialectGothicA-HeavyItalic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Dialect Gothic A";
  src: url("/static/fonts/dialect/DialectGothicA-HeavySemiItalic.otf") format("opentype");
  font-weight: 800;
  font-style: oblique;
  font-display: swap;
}

/* Review Condensed */
@font-face {
  font-family: "Review Condensed";
  src: url("/static/fonts/ReviewCondensed/ReviewCondensed-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Review Condensed";
  src: url("/static/fonts/ReviewCondensed/ReviewCondensed-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Review Condensed";
  src: url("/static/fonts/ReviewCondensed/ReviewCondensed-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Society FullTrial */
@font-face {
  font-family: "Society FullTrial";
  src: url("/static/fonts/Society/SocietyFullTrial-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Society FullTrial";
  src: url("/static/fonts/Society/SocietyFullTrial-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Society FullTrial";
  src: url("/static/fonts/Society/SocietyFullTrial-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Society FullTrial";
  src: url("/static/fonts/Society/SocietyFullTrial-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Society FullTrial";
  src: url("/static/fonts/Society/SocietyFullTrial-Book.otf") format("opentype");
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Society FullTrial";
  src: url("/static/fonts/Society/SocietyFullTrial-BookItalic.otf") format("opentype");
  font-weight: 450;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Society FullTrial";
  src: url("/static/fonts/Society/SocietyFullTrial-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Society FullTrial";
  src: url("/static/fonts/Society/SocietyFullTrial-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Society FullTrial";
  src: url("/static/fonts/Society/SocietyFullTrial-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Society FullTrial";
  src: url("/static/fonts/Society/SocietyFullTrial-SemiBoldItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Society FullTrial";
  src: url("/static/fonts/Society/SocietyFullTrial-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Society FullTrial";
  src: url("/static/fonts/Society/SocietyFullTrial-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
