/* Dialect Gothic A */
@font-face {
  font-family: "Dialect Gothic A";
  src: url("/static/fonts/dialect/DialectGothicA-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dialect Gothic A";
  src: url("/static/fonts/dialect/DialectGothicA-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Dialect Gothic A";
  src: url("/static/fonts/dialect/DialectGothicA-SemiItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: oblique;
  font-display: swap;
}
@font-face {
  font-family: "Dialect Gothic A";
  src: url("/static/fonts/dialect/DialectGothicA-Book.woff2") format("woff2");
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dialect Gothic A";
  src: url("/static/fonts/dialect/DialectGothicA-Booktalic.woff2") format("woff2");
  font-weight: 450;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Dialect Gothic A";
  src: url("/static/fonts/dialect/DialectGothicA-BookSemiItalic.woff2") format("woff2");
  font-weight: 450;
  font-style: oblique;
  font-display: swap;
}
@font-face {
  font-family: "Dialect Gothic A";
  src: url("/static/fonts/dialect/DialectGothicA-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dialect Gothic A";
  src: url("/static/fonts/dialect/DialectGothicA-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Dialect Gothic A";
  src: url("/static/fonts/dialect/DialectGothicA-MediumSemiItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: oblique;
  font-display: swap;
}
@font-face {
  font-family: "Dialect Gothic A";
  src: url("/static/fonts/dialect/DialectGothicA-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dialect Gothic A";
  src: url("/static/fonts/dialect/DialectGothicA-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Dialect Gothic A";
  src: url("/static/fonts/dialect/DialectGothicA-BoldSemiItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: oblique;
  font-display: swap;
}
@font-face {
  font-family: "Dialect Gothic A";
  src: url("/static/fonts/dialect/DialectGothicA-Heavy.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dialect Gothic A";
  src: url("/static/fonts/dialect/DialectGothicA-HeavyItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Dialect Gothic A";
  src: url("/static/fonts/dialect/DialectGothicA-HeavySemiItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: oblique;
  font-display: swap;
}

/* Review Condensed */
@font-face {
  font-family: "Review Condensed";
  src: url("/static/fonts/ReviewCondensed/ReviewCondensed-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Review Condensed";
  src: url("/static/fonts/ReviewCondensed/ReviewCondensed-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Review Condensed";
  src: url("/static/fonts/ReviewCondensed/ReviewCondensed-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Society */
@font-face {
  font-family: "Society";
  src: url("/static/fonts/Society/Society-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Society";
  src: url("/static/fonts/Society/Society-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Society";
  src: url("/static/fonts/Society/Society-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Society";
  src: url("/static/fonts/Society/Society-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Society";
  src: url("/static/fonts/Society/Society-Book.woff2") format("woff2");
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Society";
  src: url("/static/fonts/Society/Society-BookItalic.woff2") format("woff2");
  font-weight: 450;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Society";
  src: url("/static/fonts/Society/Society-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Society";
  src: url("/static/fonts/Society/Society-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Society";
  src: url("/static/fonts/Society/Society-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Society";
  src: url("/static/fonts/Society/Society-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Society";
  src: url("/static/fonts/Society/Society-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Society";
  src: url("/static/fonts/Society/Society-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
