/* Simplified buttons new styles: 4 styles, 5 sizes and icon option */
.ut-btn {
  // default regular dark button
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: white;
  padding: 10px 20px;
  background: $off-black;
  border-radius: 100px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none !important;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  border: none;
  transition: background 0.35s ease, color 0.35s ease, box-shadow 0.35s ease;

  svg {
    display: inline-block;
    vertical-align: text-top;
    margin-right: 6px;
    position: relative;
    top: 1px;

    path:not([fill="none"]) {
      transition: fill 0.35s ease;
    }
  }
  i {
    font-style: normal;
    font-weight: normal;
  }

  &:focus {
    background-color: $off-black;
  }

  &:hover {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    color: white;
    background-color: #3a3a3a;
  }
  &:active {
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.3);
    color: white;
    background: #4d4f4f;
    transform: translateY(1px);
  }
  &-light {
    // regular light button
    background: $primary-color;
    color: $off-black;

    &:focus {
      background-color: $secondary-color;
    }

    &:hover {
      color: $off-black;
      background: $color-light-blue;
    }
    &:active {
      background: $color-light-blue;
      color: $off-black;
    }
  }
  &-outline {
    // outlined button
    background: transparent;
    border: 2px solid $off-black;
    padding: 8px 18px;
    color: $off-black;

    &:focus {
      background-color: transparent;
    }

    &:hover {
      background: $off-black;
      color: white;
      border: none;
      padding: 10px 20px;

      svg path:not([fill="none"]) {
        fill: white;
      }
    }
    &:active {
      background: #4d4f4f;
      border-color: #4d4f4f;
      border: none;
      padding: 10px 20px;

      svg path:not([fill="none"]) {
        fill: white;
      }
    }

    &.ut-btn-light {
      // outlined light button
      border-color: white;
      color: white;

      &:hover {
        background: white;
        color: $off-black;

        svg path:not([fill="none"]) {
          fill: $off-black;
        }
      }
      &:active {
        background: white;
        color: $off-black;

        svg path:not([fill="none"]) {
          fill: $off-black;
        }
      }
    }
    &.disabled {
      cursor: default;
      color: #a4a4a4;
      border-color: #a4a4a4;

      &:hover,
      &:active {
        background: transparent;
        color: #a4a4a4;
        border: 2px solid #a4a4a4;
        box-shadow: none;
        padding: 8px 18px;
      }
    }
  }
  // extra small size
  &-xs {
    font-size: 11px;
    line-height: 12px;
    padding: 4px 10px;

    &.ut-btn-outline {
      padding: 2px 8px;

      &:hover,
      &:active {
        padding: 4px 10px;
      }
    }
  }
  // small size
  &-s {
    font-size: 13px;
    line-height: 14px;
    padding: 8px 15px;

    &.ut-btn-outline {
      padding: 6px 13px;

      &:hover,
      &:active {
        padding: 8px 15px;
      }
    }
  }
  // large size
  &-l {
    font-size: 17px;
    line-height: 20px;
    padding: 15px 25px;

    &.ut-btn-outline {
      padding: 13px 23px;

      &:hover,
      &:active {
        padding: 15px 25px;
      }
    }
  }
  // extra large size
  &-xl {
    font-size: 19px;
    line-height: 22px;
    padding: 19px 25px;

    &.ut-btn-outline {
      padding: 17px 23px;

      &:hover,
      &:active {
        padding: 19px 25px;
      }
    }
  }
  &.disabled {
    cursor: auto;
  }
}
