// Meta Serif Pro

@font-face {
  font-family: 'Meta Serif';
  src: url('/static/fonts/meta/MetaSerifPro-Book.eot');
  src: url('/static/fonts/meta/MetaSerifPro-Book.woff2') format('woff2'),
    url('/static/fonts/meta/MetaSerifPro-Book.woff') format('woff'),
    url('/static/fonts/meta/MetaSerifPro-Book.ttf') format('truetype'),
    url('/static/fonts/meta/MetaSerifPro-Book.svg#MetaSerifPro-Book') format('svg'),
    url('/static/fonts/meta/MetaSerifPro-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Meta Serif';
  src: url('/static/fonts/meta/MetaSerifPro-BookItalic.eot');
  src: url('/static/fonts/meta/MetaSerifPro-BookItalic.woff2') format('woff2'),
    url('/static/fonts/meta/MetaSerifPro-BookItalic.woff') format('woff'),
    url('/static/fonts/meta/MetaSerifPro-BookItalic.ttf') format('truetype'),
    url('/static/fonts/meta/MetaSerifPro-BookItalic.svg#MetaSerifPro-BookItalic') format('svg'),
    url('/static/fonts/meta/MetaSerifPro-BookItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Meta Serif';
  src: url('/static/fonts/meta/MetaSerifPro-Medium.eot');
  src: url('/static/fonts/meta/MetaSerifPro-Medium.woff2') format('woff2'),
    url('/static/fonts/meta/MetaSerifPro-Medium.woff') format('woff'),
    url('/static/fonts/meta/MetaSerifPro-Medium.ttf') format('truetype'),
    url('/static/fonts/meta/MetaSerifPro-Medium.svg#MetaSerifPro-Medium') format('svg'),
    url('/static/fonts/meta/MetaSerifPro-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Meta Serif';
  src: url('/static/fonts/meta/MetaSerifPro-MediumItalic.eot');
  src: url('/static/fonts/meta/MetaSerifPro-MediumItalic.woff2') format('woff2'),
    url('/static/fonts/meta/MetaSerifPro-MediumItalic.woff') format('woff'),
    url('/static/fonts/meta/MetaSerifPro-MediumItalic.ttf') format('truetype'),
    url('/static/fonts/meta/MetaSerifPro-MediumItalic.svg#MetaSerifPro-MediumItalic') format('svg'),
    url('/static/fonts/meta/MetaSerifPro-MediumItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Meta Serif';
  src: url('/static/fonts/meta/MetaSerifPro-Bold.eot');
  src: url('/static/fonts/meta/MetaSerifPro-Bold.woff2') format('woff2'),
    url('/static/fonts/meta/MetaSerifPro-Bold.woff') format('woff'),
    url('/static/fonts/meta/MetaSerifPro-Bold.ttf') format('truetype'),
    url('/static/fonts/meta/MetaSerifPro-Bold.svg#MetaSerifPro-Bold') format('svg'),
    url('/static/fonts/meta/MetaSerifPro-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Meta Serif';
  src: url('/static/fonts/meta/MetaSerifPro-BoldItalic.eot');
  src: url('/static/fonts/meta/MetaSerifPro-BoldItalic.woff2') format('woff2'),
    url('/static/fonts/meta/MetaSerifPro-BoldItalic.woff') format('woff'),
    url('/static/fonts/meta/MetaSerifPro-BoldItalic.ttf') format('truetype'),
    url('/static/fonts/meta/MetaSerifPro-BoldItalic.svg#MetaSerifPro-BoldItalic') format('svg'),
    url('/static/fonts/meta/MetaSerifPro-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/static/fonts/roboto/roboto-v18-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
       url('/static/fonts/roboto/roboto-v18-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/fonts/roboto/roboto-v18-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/fonts/roboto/roboto-v18-latin-300.woff') format('woff'), /* Modern Browsers */
       url('/static/fonts/roboto/roboto-v18-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/fonts/roboto/roboto-v18-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-300italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('/static/fonts/roboto/roboto-v18-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
       url('/static/fonts/roboto/roboto-v18-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/fonts/roboto/roboto-v18-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/fonts/roboto/roboto-v18-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('/static/fonts/roboto/roboto-v18-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/fonts/roboto/roboto-v18-latin-300italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/static/fonts/roboto/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('/static/fonts/roboto/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/fonts/roboto/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/fonts/roboto/roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/static/fonts/roboto/roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/fonts/roboto/roboto-v18-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/static/fonts/roboto/roboto-v18-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Italic'), local('Roboto-Italic'),
       url('/static/fonts/roboto/roboto-v18-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/fonts/roboto/roboto-v18-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/fonts/roboto/roboto-v18-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('/static/fonts/roboto/roboto-v18-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/fonts/roboto/roboto-v18-latin-italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/static/fonts/roboto/roboto-v18-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('/static/fonts/roboto/roboto-v18-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/fonts/roboto/roboto-v18-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/fonts/roboto/roboto-v18-latin-500.woff') format('woff'), /* Modern Browsers */
       url('/static/fonts/roboto/roboto-v18-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/fonts/roboto/roboto-v18-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('/static/fonts/roboto/roboto-v18-latin-500italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
       url('/static/fonts/roboto/roboto-v18-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/fonts/roboto/roboto-v18-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/fonts/roboto/roboto-v18-latin-500italic.woff') format('woff'), /* Modern Browsers */
       url('/static/fonts/roboto/roboto-v18-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/fonts/roboto/roboto-v18-latin-500italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/static/fonts/roboto/roboto-v18-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('/static/fonts/roboto/roboto-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/fonts/roboto/roboto-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/fonts/roboto/roboto-v18-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/static/fonts/roboto/roboto-v18-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/fonts/roboto/roboto-v18-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/static/fonts/roboto/roboto-v18-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
       url('/static/fonts/roboto/roboto-v18-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/fonts/roboto/roboto-v18-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/fonts/roboto/roboto-v18-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('/static/fonts/roboto/roboto-v18-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/fonts/roboto/roboto-v18-latin-700italic.svg#Roboto') format('svg'); /* Legacy iOS */
}


/* AntennaCond */
@font-face {
  font-family: "AntennaCond";
  src: url('/static/fonts/antenna/AntennaCond-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AntennaCond";
  src: url('/static/fonts/antenna/AntennaCond-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "AntennaCond";
  src: url('/static/fonts/antenna/AntennaCond-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}