{% load thedaily_tags %}

<div class="ld-snackbar ld-snackbar--active ld-snackbar--narrow js-ld-snackbar softwall">
  <div class="ld-snackbar__title">
    {% include 'article/paywall/pw_auth_with_credits_title.html' %}
    <button class="js-close-ld-snackbar ld-snackbar__close ld-snackbar__close-top" type="button" aria-pressed="false" aria-label="Cerrar">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 16 16"><path stroke="#ababab" stroke-linecap="round" stroke-width="1.5" d="m.75.75 14 14m0-14-14 14"/></svg>
    </button>
  </div>
  <div class="ld-snackbar__body">
    <div class="ld-snackbar__text ld-snackbar__block">Para acceder a todos los contenidos sin límite</div>
    {% include "article/paywall/pw_subscribe_block.html" %}
  </div>
</div>
