{% load thedaily_tags %}

<div class="ld-snackbar ld-snackbar--active js-ld-snackbar ld-snackbar--static ld-snackbar--narrow">
  <div class="ld-snackbar__title">Llegaste al límite de artículos gratuitos</div>
  <div class="ld-snackbar__body">
    <div class="ld-snackbar__block">
      {# TODO: conditional subscribe url if category_signup #}
      <a href="{% url 'subscribe' planslug='DDIGM' %}?utm_source=web&utm_medium=paywall" class="ut-btn ut-btn-l">
        Suscribite <i>por ${% subscriptionprice 'DDIGM' %}/mes</i>
      </a>
    </div>
    <div class="ld-snackbar__text ld-snackbar__block">Nuestro periodismo depende de vos</div>
  </div>
</div>
