<ul class="pagination">
    {% if pager.has_previous %}
        <li><a href="?{% if token %}q={{ token }}&{% endif %}pagina={{ pager.previous_page_number }}" title="Más recientes" aria-label="Más recientes"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M14.71 6.71c-.39-.39-1.02-.39-1.41 0L8.71 11.3c-.39.39-.39 1.02 0 1.41l4.59 4.59c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L10.83 12l3.88-3.88c.39-.39.38-1.03 0-1.41z"/><title>Más recientes</title></svg></a></li>
    {% else %}
        <li class="disabled"><a href="#!"  title="Más recientes" aria-label="Más recientes"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M14.71 6.71c-.39-.39-1.02-.39-1.41 0L8.71 11.3c-.39.39-.39 1.02 0 1.41l4.59 4.59c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L10.83 12l3.88-3.88c.39-.39.38-1.03 0-1.41z"/><title>Más recientes</title></svg></a></li>
    {% endif %}

    {% for i in pager.paginator.page_range %}
        {% if pager.number|add:'-3' == i %}
            {% if pager.number == 1 %}
                {# Check if we are on page 1 to set it as activated #}
                <li class="active">
            {% else %}
                <li>
            {% endif %}
            {# First page #}
            <a href="?{% if token %}q={{ token }}&{% endif %}pagina=1" title="Página 1" aria-label="Página 1">1</a></li>
            {% if i != 1 %}
                {# add ... if out of range #}
                <li class="disabled"><a>&#8943;</a></li>
            {% endif %}

        {% elif pager.number == i %}
            {# Current page #}
            <li class="active"><a href="#!" title="Página {{i}}" aria-label="Página {{i}}">{{ i }}</a></li>

        {% elif pager.number|add:'-3' < i and i < pager.number|add:'3' %}
                {# Pages around current page #}
                <li><a href="?{% if token %}q={{ token }}&{% endif %}pagina={{ i }}" title="Página {{i}}"  aria-label="Página {{i}}">{{ i }}</a></li>

        {% elif pager.number|add:'3' == i %}
            {# Last page #}
            {% if i != num_pages %}
                {# add ... if out of range #}
                <li class="disabled" aria-hidden="true"><span>&#8943;</span></li>
            {% endif %}
            {% if pager.number == pager.paginator.num_pages %}
                {# Check if we are on last page to set it as activated #}
                <li class="active">
            {% else %}
                <li>
            {% endif %}
            <a href="?{% if token %}q={{ token }}&{% endif %}pagina={{ pager.paginator.num_pages }}" title="Página {{ pager.paginator.num_pages }}" aria-label="Página {{ pager.paginator.num_pages }}">{{ pager.paginator.num_pages }}</a></li>
        {% endif %}
    {% endfor %}

    {% if pager.has_next %}
        <li><a href="?{% if token %}q={{ token }}&{% endif %}pagina={{ pager.next_page_number }}" aria-label="Más antiguos"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M9.29 6.71c-.39.39-.39 1.02 0 1.41L13.17 12l-3.88 3.88c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0l4.59-4.59c.39-.39.39-1.02 0-1.41L10.7 6.7c-.38-.38-1.02-.38-1.41.01z"/><title>Más antiguos</title></svg></a></li>
    {% else %}
        <li class="disabled"><a href="#!" aria-label="Más antiguos"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M9.29 6.71c-.39.39-.39 1.02 0 1.41L13.17 12l-3.88 3.88c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0l4.59-4.59c.39-.39.39-1.02 0-1.41L10.7 6.7c-.38-.38-1.02-.38-1.41.01z"/><title>Más antiguos</title></svg></a></li>
    {% endif %}
</ul>
