{% extends base_template %}
{% load static core_tags i18n %}

{% block page_title %}{% title_joinparts 'Página no encontrada' %}{% endblock %}
{% block body_class %}error{% endblock %}

{% block css %}
  {{ block.super }}
  <link href="{% static 'sass/not_found.scss' %}" media="screen" rel="stylesheet" type="text/x-scss" charset="utf-8">
{% endblock %}

{% block content %}

  <div class="not-found">
    <div class="not-found__main">
      <div class="not-found__text">
        <h1 class="not-found__title">Página no encontrada</h1>
        <p class="not-found__subtitle">Tal vez puedas encontrar lo que buscabas</p>
      </div>
      <form action="{% url 'search' %}" method="get" class="not-found__search">
        <div class="not-found__search-input-wrap">
          <input type="text" name="q" id="id_q" value="{{ token }}" placeholder="Escribir">
        </div>
        <button type="submit" class="not-found__search-btn">Buscar</button>
      </form>
    </div>

  </div>

{% endblock %}

{% block footer_block %}{% include 'footer_simple.html' %}{% endblock footer_block %}
