{% spaceless %}
{% load static core_tags homev3_tags thedaily_tags compress %}
{% endspaceless %}<!doctype html>
{% block html %}
<!-- Legacy browsers support  -->
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="es-UY"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="es-UY"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="es-UY"> <![endif]-->
<!-- End legacy browsers support  -->
<html class="no-js" lang="es-UY">
{% endblock %}
  <head>
    {% block head_first_content %}{% endblock %}
    <!-- Progressive Web App (PWA) -->
    <link rel="manifest" href="{% static PWA_MANIFEST_STATIC_PATH|default:'manifest.json' %}">
    <!-- End Progressive Web App (PWA) -->
    {% if not debug %}
      {# The preferred way to load GA is using GTM #}
      {% if GTM_CONTAINER_ID %}
        <!-- Google Tag Manager -->
        <script>
          (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer','{{ GTM_CONTAINER_ID }}');
        </script>
        <!-- End Google Tag Manager -->
      {% else %}
        {# If GTM is not used, GA will be loaded here in both versions, V4 and Universal #}
        {% if GA_MEASUREMENT_ID %}
          <!-- Global site tag (gtag.js) - Google Analytics -->
          <script async src="https://www.googletagmanager.com/gtag/js?id={{ GA_MEASUREMENT_ID }}"></script>
          <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('set', {cookie_domain: '.{{ site.domain }}', cookie_flags: 'SameSite=None;Secure'});
            gtag('config', '{{ GA_MEASUREMENT_ID }}');
          </script>
        {% endif %}
        {% if GA_PROPERTY_ID %}
          <!-- Global site tag (gtag.js) - Google Analytics -->
          <script async src="https://www.googletagmanager.com/gtag/js?id={{ GA_PROPERTY_ID }}"></script>
          <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('set', {cookieDomain: '.{{ site.domain }}', cookieFlags: 'SameSite=None;Secure'});
            gtag('config', '{{ GA_PROPERTY_ID }}');
          </script>
        {% endif %}
      {% endif %}
    {% endif %}

    <!-- Title and description -->
    <title>{% block page_title %}{% endblock %}</title>
    <meta name="description" content="{% block page_description %}{{ site_description }}{% endblock %}">
    <!-- End Title and description -->

    <!-- Meta tags base -->
    <meta charset="utf-8">
    {% block meta_viewport %}
      <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
    <!-- End Meta tags base -->

    <!-- RSS feed -->
    <link rel="alternate" type="application/rss+xml" href="{{ URL_SCHEME }}://{{ site.domain }}{% url 'ultimos-articulos-rss' %}" />
    <!-- End RSS feed -->

    <!-- Robots -->
    <meta name="robots" content="{% block robots %}{{ meta_robots_content }}{% endblock %}">
    <!-- End Robots -->

    <!-- Icons -->
    {% if publication.slug in custom_icons_publications %}
      {% if publication.icon %}<link rel="icon" href="{% static publication.icon %}">{% endif %}
      {% if publication.icon_png %}
        <link rel="icon" type="image/png" href="{% static publication.icon_png %}">
      {% endif %}
      {% if publication.apple_touch_icon_180 %}
        <link rel="apple-touch-icon" sizes="180x180" href="{% static publication.apple_touch_icon_180 %}">
      {% endif %}
    {% else %}
      {% if default_pub.icon %}<link rel="icon" href="{% static default_pub.icon %}">{% endif %}
      {% if default_pub.apple_touch_icon_512 %}
        <link rel="apple-touch-icon" sizes="512x512" href="{% static default_pub.apple_touch_icon_512 %}">
      {% endif %}
      {% if default_pub.apple_touch_icon_192 %}
        <link rel="apple-touch-icon" sizes="192x192" href="{% static default_pub.apple_touch_icon_192 %}">
      {% endif %}
      {% if default_pub.apple_touch_icon_180 %}
        <link rel="apple-touch-icon" sizes="180x180" href="{% static default_pub.apple_touch_icon_180 %}">
      {% endif %}
      {% if default_pub.icon_png_32 %}
        <link rel="icon" type="image/png" sizes="32x32" href="{% static default_pub.icon_png_32 %}">
      {% endif %}
      {% if default_pub.icon_png_16 %}
        <link rel="icon" type="image/png" sizes="16x16" href="{% static default_pub.icon_png_16 %}">
      {% endif %}
    {% endif %}
    <meta name="theme-color" content="#F2F2F2">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="{{ site.name }}">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <!-- End Icons -->

    <!-- CSS -->
    {% compress css %}
      <link href="{% static 'sass/base.scss' %}" media="screen" rel="stylesheet" type="text/x-scss" charset="utf-8">
      {% if HOMEV3_CUSTOM_CSS %}
        <link href="{% static HOMEV3_CUSTOM_CSS %}" media="screen" rel="stylesheet" type="text/x-scss" charset="utf-8">
      {% endif %}
    {% endcompress %}

    {% compress css %}
      <link href="{% static 'sass/print.scss' %}" rel="stylesheet" type="text/x-scss" media="print" charset="utf-8">
      {% if HOMEV3_CUSTOM_PRINT_CSS %}
        <link href="{% static HOMEV3_CUSTOM_PRINT_CSS %}" rel="stylesheet" type="text/x-scss" media="print" charset="utf-8">
      {% endif %}
    {% endcompress %}

    {% if user.is_staff %}
      {% compress css %}
        <link href="{% static 'sass/admin.scss' %}" media="screen" rel="stylesheet" type="text/x-scss" charset="utf-8">
      {% endcompress %}
    {% endif %}
    <!-- End CSS -->

    {% block meta_og_title %}
      <!-- Open Graph (http://ogp.me) -->
      <meta property="og:title" content="{{ site.name }}">
    {% endblock %}

    {% block meta %}
      <meta property="og:type" content="website">
      <meta property="og:description" content="{{ site_description }}">
      <meta property="og:locale" content="es_UY">
      <meta property="og:site_name" content="{{ site.name }}">
      <meta property="og:url" content="{{ URL_SCHEME }}://{{ site.domain }}{{ request.get_full_path }}">
      {% if publication.slug in custom_icons_publications %}
        <meta property="og:image" content="{{ URL_SCHEME }}://{{ site.domain }}{% static publication.open_graph_image %}">
      {% elif default_pub.open_graph_image %}
        <meta property="og:image" content="{{ URL_SCHEME }}://{{ site.domain }}{% static default_pub.open_graph_image %}">
      {% endif %}
      <!-- End Open Graph (http://ogp.me) -->

      <!-- Meta tags Twitter -->
      <meta name="twitter:card" content="summary">
      {% if HOMEV3_TWITTER_SITE_META %}
        <meta name="twitter:site" content="@{{ HOMEV3_TWITTER_SITE_META }}">
      {% endif %}
      <!-- End Meta tags Twitter -->
    {% endblock %}

    <!-- Schema (https://schema.org) -->
    {% block json_ld %}
      <script type='application/ld+json'>
        {
          "@context": "http://www.schema.org",
          {% if journalist %}
            "@type": "Person",
            "name": "{{ journalist.name }}",
            "worksFor": "{{ SITE_URL }}",
            "jobTitle": "{{ journalist.get_job_display }}"
          {% else %}
            "@type": "Organization",
            "name": "{{ site.name }}",
            "url": "{{ SITE_URL }}",
            {% block json_ld_extra %}{% endblock %}
            {% if publication.slug in custom_icons_publications %}
              "logo": "{{ URL_SCHEME }}://{{ site.domain }}{% static publication.open_graph_image %}",
            {% elif default_pub.open_graph_image %}
              "logo": "{{ URL_SCHEME }}://{{ site.domain }}{% static default_pub.open_graph_image %}",
            {% endif %}
            "description": "{{ site_description }}"{% if HOMEV3_EXTRA_META %},
            {% autoescape off %}{{ HOMEV3_EXTRA_META }}{% endautoescape %}{% endif %}
          {% endif %}
        }
      </script>
    {% endblock %}
    <!-- End Schema (https://schema.org) -->

    <!-- Legacy browsers support  -->
    <!--[if lt IE 9]>
      <script src="{% static 'js/vendor/html5shiv.min.js' %}"></script>
    <![endif]-->
    <!-- End legacy browsers support  -->

    {% if not debug %}
      <!-- User data -->
      <script>
        LDUser = {};
        {% if user.is_authenticated %}
          LDUser.is_authenticated = true;
          LDUser.id = {{ user.id }};
          LDUser.subscriber = {{ is_subscriber|lower }};
          LDUser.firstName = "{{ user.first_name }}";
          LDUser.lastName = "{{ user.last_name }}";
        {% else %}
          LDUser.is_authenticated = false;
        {% endif %}
      </script>
      <!-- End user data -->
    {% endif %}

    {% compress css %}
      {% block css %}{% endblock %}
    {% endcompress %}
    {% block extra_css %}{% endblock %}

    <!-- JavaScript -->
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'admin/js/jquery.min.js' %}"></script>
    {% if user.is_authenticated and CORE_PUSH_NOTIFICATIONS_OFFER and push_notifications_keys_set %}
      <script src="{% static 'js/push_notifications.js' %}"></script>
      <script type="text/javascript">

        function confirmFunction () {
          rp();
          $('.pwa-prompt').hide();
        }

        function cancelFunction () {
          $('.pwa-prompt').hide();
          setCookie('notifyme', "false", 1);
          deleteCookie('home_arriving', 1);
        }

        $(function(){
          navigator.permissions.query({name: 'notifications'}).then(function(result) {

            if (result.state == 'granted' || result.state == 'prompt') {

              if (getCookie('notifyme', 1) == null) {

                let now = new Date();
                const datesAreOnSameDay = (first, second) =>
                  first.getFullYear() === second.getFullYear() &&
                  first.getMonth() === second.getMonth() &&
                  first.getDate() === second.getDate();

                if (window.location.pathname == '/') {
                  if (!getCookie('home_arriving', 1)) {
                    // This is the first time in the home page, then set the moment variable to 1 and the time
                    // variable to current time.
                    setCookie('home_arriving', JSON.stringify({'moment': 1, 'time': now}), 1);
                  } else {
                    // 2nd time or more.
                    let home_arriving_value = JSON.parse(getCookie('home_arriving', 1));
                    if (
                      home_arriving_value.moment == 1 && datesAreOnSameDay(new Date(home_arriving_value.time), now)
                    ) {
                      // 2nd time in the same day, offer to allow notifications.
                      $('.pwa-prompt').show();
                      setCookie('home_arriving', JSON.stringify({'moment': 2, 'time': now}), 1);
                    } else {
                      // Neither first nor 2nd in the same day, so, check if last arrived date is +24h ago;
                      // to only offer allow notifications once per day.
                      if (new Date(home_arriving_value.time).getDate() + (24 * 60 * 60 * 1000) < now.getTime()) {
                        setCookie('home_arriving', JSON.stringify({'moment': 1, 'time': now}), 1);
                      }
                    }
                  }
                }

                if (
                  getCookie(userName) == 'null'
                  || getCookie('home_arriving', 1) && JSON.parse(getCookie('home_arriving', 1)).moment == 1
                ) {
                  // TODO: check this condition with UX
                  // If current location contains 'utm_source=newsletter' I got here from NL, so I will show the push
                  // notification offer only if also the homepage was visited once.
                  if (window.location.href.search('utm_source=newsletter') > 0) {
                    let targetDiv = $('.pwa-prompt')
                    if (targetDiv.length) {
                      targetDiv.show();
                      // set home arrived to moment 2 to wait at least 24hs to offer again
                      setCookie('home_arriving', JSON.stringify({'moment': 2, 'time': now}), 1);
                    }
                  }
                }

              }

            } else {
              deleteCookie('notifyme', 1);
              deleteCookie('home_arriving', 1);
            }

          });
        });
      </script>
    {% endif %}
    <script type="text/javascript">

      {% if user.is_authenticated and CORE_PUSH_NOTIFICATIONS_OFFER and push_notifications_keys_set %}
        var userName = '{{ user.id|user_hashid }}';
        let userNameFromCookie = getCookie(userName);
        if(userNameFromCookie == null)
          setCookie(userName, null);
        if(getCookie('notifyme', 1) != "false") {
          var applicationServerPublicKey = "{{ CORE_PUSH_NOTIFICATIONS_VAPID_PUBKEY }}";
          var subscription_to_delete = null;
        }
      {% endif %}

      $(function(){
        $('.btn-close').click(function(){
          var notification = $(this).parent().parent();
          $.get('/' + $(this).attr('data-object') + '/' + $(this).attr('data-id') + '/closed/', function(data){
            notification.toggle();
          });
        });
        var subscribe_notice = $('.subscribe-notice');
        $('.btn-close-notice', subscribe_notice).click(function(){
          subscribe_notice.hide();
        });
        {% if user.is_authenticated %}read_later_events({{ article_ct_id }});{% endif %}
      });

    </script>
    {% block header_scripts %}{% endblock %}
    <!-- End JavaScript -->

  </head>
  <body class="{% if user.is_authenticated %}logged-in{% endif %} {% if is_portada %}frontpage {% else %}interior {% endif %}{% block body_class %}{% endblock %} {{ publication.slug|default:DEFAULT_PUB }}-pub">
    <a class="skip-main" href="#main-content">Saltar a contenido</a>
    {% if not debug and GTM_CONTAINER_ID %}
      <!-- Google Tag Manager (noscript) -->
      <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id={{ GTM_CONTAINER_ID }}"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
      </noscript>
      <!-- End Google Tag Manager (noscript) -->
    {% endif %}
    <!-- Legacy browser alert -->
    <!--[if lte IE 11]>
      <p class="browserupgrade">El sitio web de {{ site.name }} no funciona apropiadamente en Internet Explorer. Para una experiencia óptima te recomendamos instalar un navegador moderno como <a href="https://www.mozilla.org/firefox">Firefox</a>, <a href="https://www.google.com/chrome">Chrome</a> o <a href="https://microsoft.com/edge">Edge</a>.</p>
    <![endif]-->
    <!-- End legacy browser alert -->

    <!-- cabezal -->
    {% block navbar %}
      <header>
        {% render_header %}
      </header>
      <div class="pwa-prompt" style="display:none;">
        <span class="title">
          <svg width="45" height="54" viewBox="0 0 45 54" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M38.75 37.291L44.209 42.75V45.416H0.791016V42.75L6.25 37.291V23.834C6.25 19.6022 7.30794 15.9206 9.42383 12.7891C11.6243 9.65755 14.6289 7.6263 18.4375 6.69531V4.79102C18.4375 3.69076 18.8184 2.75977 19.5801 1.99805C20.3418 1.15169 21.3151 0.728516 22.5 0.728516C23.6849 0.728516 24.6582 1.15169 25.4199 1.99805C26.1816 2.75977 26.5625 3.69076 26.5625 4.79102V6.69531C30.3711 7.6263 33.3333 9.65755 35.4492 12.7891C37.6497 15.9206 38.75 19.6022 38.75 23.834V37.291ZM22.5 53.541C20.9766 53.541 19.6647 53.0332 18.5645 52.0176C17.5488 51.002 17.041 49.7324 17.041 48.209H27.959C27.959 49.6478 27.4089 50.9173 26.3086 52.0176C25.2083 53.0332 23.9388 53.541 22.5 53.541Z" fill="#262626"/>
          </svg>
          Activá nuestras notificaciones y
        </span>
        <span class="subtitle">enterate antes</span>
        <div class="actions">
          <span class="ut-btn" onclick="return confirmFunction();">Activar</span>
          <span class="dismiss" style="cursor:pointer;" onclick="return cancelFunction();">No, gracias</span>
        </div>
        {# TODO: validate this message with UX because this div can appear again "tomorrow". #}
        {# <span class="notice">Ésta es la única vez que vas a ver este mensaje</span> #}
      </div>
    {% endblock %}

    <!-- Mobile Subscribe notice for logged-in non-subscribers -->
    {% if not is_subscriber_any %}
      {% if is_portada and publication == default_pub or is_detail %}
        <div class="subscribe-notice hide-on-med-and-up">
          <a href="{% url 'subscribe' planslug='DDIGM' %}?utm_source=web&utm_medium=mobile-banner">Suscribite <i>por ${% subscriptionprice 'DDIGM' %}/mes</i></a>
          <span class="btn-close-notice" data-id="subscribe-notice">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z" fill="#262626"/>
            </svg>
          </span>
        </div>
      {% endif %}
    {% endif %}

    <!-- Main -->
    {% block main_open %}<main class="main" id="main-content">{% endblock %}
    {% if messages %}
      <ul class="messages unstyled ld-messages">
        {% for message in messages %}
          <li{% if message.tags %} class="alert alert-{{ message.tags }} ld-message"{% endif %}>
            {{ message }}
            <button type="button" class="close ld-message__close js-dismiss-message">&times;</button>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    <!-- /container -->
    {% block page_header %}{% endblock %}
    {% if user_form %}
      <div class="profile-container">
    {% elif not is_portada and not is_detail %}
      <div class="container {% block container_class %}{% endblock %}">
    {% endif %}
    {% block content_pre %}{% endblock %}
    {% block content %}{% endblock %}
    {% block content_pos %}{% endblock %}
    {% if not is_portada and not is_detail %}
      </div>
    {% endif %}

    {% block footer_block %}
      <footer class="footer-portada{% if category %} footer-{{ category.slug }}{% endif %}">
        {% include footer_template %}
      </footer>
    {% endblock footer_block %}

    <!-- Modal Structure -->
    <div id="nav-mobile" class="nav-mobile navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <ul class="center row">
            {% if is_detail %}
              {% with mobile_nav_ths=mobile_nav_ths|add:mobile_nav_detail_more %}
                {% include 'mobile_nav_items.html' %}
              {% endwith %}
            {% else %}
              {% include 'mobile_nav_items.html' %}
            {% endif %}
          </ul>
        </div>
      </nav>
    </div>

    <div id="alert_placeholder"></div>

    {# js needed for the "dropdown" and "modal" menu items #}
    <script defer src="{% static 'materialize/js/jquery.easing.1.4.js' %}"></script>
    <script defer src="{% static 'materialize/js/global.js' %}"></script>
    <script defer src="{% static 'materialize/js/dropdown.js' %}"></script>
    <script defer src="{% static 'materialize/js/modal.js' %}"></script>
    <script defer src="{% static 'materialize/js/forms.js' %}"></script>

    {% if user.is_authenticated %}
      {# used only in pages that show article cards #}
      <script defer src="{% static 'js/read_later_events.js' %}"></script>
    {% endif %}

    {# TODO: check usage of all the following scripts loaded (from ld.js to picturefill.js) #}
    <script defer src="{% static 'js/ld.js' %}"></script>
    <script defer src="{% static 'js/resizeSubnav.js' %}" ></script>

    {# Modernizr - Detect CSS Grid #}
    <script src="{% static 'js/vendor/modernizr-custom.js' %}"></script>

    {# js.cookie #}
    <script src="{% static 'js/vendor/js.cookie.js' %}"></script>

    {# picturefill #}
    <script>
      // Picture element HTML5 shiv
      document.createElement("picture");
    </script>
    <script src="{% static 'js/vendor/picturefill.js' %}" async></script>

    {# TODO: probably there is no reason to have 2 scripts blocks like this, investigate and eliminate one #}
    {#       update: footer_scripts is less used, try to eliminate it #}
    {% block javascript %}{% endblock %}
    {% block footer_scripts %}{% endblock %}
    {% block main_close %}</main>{% endblock %}
  </body>
</html>
