{% load static %}

{% if minimal_footer %}
  <div class="footer-portada__container">
{% else %}
  <div class="footer-portada__container">
    {% block resume %}
      {% include 'core/templates/edition/resume.html' %}
    {% endblock %}
  </div>
{% endif %}

  <div class="">
    <div class="center">
      <a href="{% url 'home' %}" title="Ir a portada" class="header-logo">
        {% block logo_footer %}
          <img src="{% static HOMEV3_LOGO_FOOTER %}" alt="{{ HOMEV3_LOGO_ALT_TEXT }}" width="{{ HOMEV3_LOGO_FOOTER_WIDTH }}" height="40">
        {% endblock %}
      </a>
    </div>
  </div>

{% if minimal_footer %}
  </div>
{% endif %}

{% block page_footer %}{% endblock %}

{% block footer_scripts %}{% endblock %}
