<footer class="ld-footer-simple">
  {% if not user.is_authenticated and not disable_first_row %}
    <div>
      {% if not disable_signup %}
        <p><span class="font-bold">¿No tenés cuenta?</span></p>
        <p><a href="{% url 'subscribe_landing' %}">Suscribite</a> o <a href="{% url 'account-signup' %}">registrate</a>.</p>
      {% else %}
        <p><span class="font-bold">¿Ya tenés una cuenta?</span></p>
        <p><a href="{% url 'account-login' %}">Ingresá</a></p>
      {% endif %}
    </div>
  {% endif %}
  <div>
    <p><span class="font-bold">¿Tenés consultas?</span></p>
    <p>Visitá nuestro <a href="/ayuda/">centro de ayuda</a> o <a href="{% url 'contact-form' %}">contactanos</a>.</p>
  </div>
</footer>
