{% extends "base.html" %}

{% block page_title %}Usuario inhabilitado{% endblock %}
{% block body_class %}thedaily{% endblock %}

{% block content %}
    <div class="titlebar">
        <h2>
             Asistencia a usuarios
        </h2>
    </div>
    <h1>
        Usuario inhabilitado
    </h1>
    <p>
        Tu usuario se encuentra inhabilitado para ser utilizado. Para saber
        porqué, o si te parece que es un error, comunicate con la diaria al
        2900 08 08. También podés hacerlo via mail utilizando nuestro
        <a href="{% url 'contact-form' %}?mailto=suscriptores">formulario de contacto</a>.
    </p>
    <p>
        Gracias.
    </p>
{% endblock %}
