{% extends base_template %}
{% load static crispy_forms_tags core_tags compress %}

{% block page_title %}{% title_joinparts 'Panel de opciones' %}{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ intl_tel_input_cdn }}css/intlTelInput.css">
{% endblock %}

{% block css %}
  <link href="{% static 'sass/pages/_edit-profile.scss' %}" media="screen" rel="stylesheet" type="text/x-scss" charset="utf-8">
  <link href="{% static 'sass/components/nl_switch.scss' %}" media="screen" rel="stylesheet" type="text/x-scss" charset="utf-8">
{% endblock %}

{% block body_class %}thedaily ld-profile-edit{% endblock %}

{% block page_header %}{% endblock %}

{% block content %}

  <ul class="section table-of-contents">
    <li><span class="table-title">Perfil</span></li>
    <li><a href="#datos">Tus datos</a></li>
    <li><a href="#suscripciones">Suscripciones</a></li>
    {% if push_notifications_keys_set %}
      <li><a href="#notificaciones">Notificaciones Push</a></li>
    {% endif %}
    <li><a href="#newsletters">Newsletters</a></li>
    <li><a href="#ld-comunicaciones">Comunicaciones</a></li>
    <li><a href="#lista-lectura">Lista de lectura</a></li>
    <li><a href="#ayuda">Ayuda</a></li>
  </ul>
  {% include 'profile/notification_box.html' %}
  <!-- Edit profile modal -->
  <div id="edit_profile_modal" class="edit_profile_modal__background" style="display: none;">
    <div class="edit_profile_modal__container">
      <div class="edit_profile_modal__container__header">
        <h2>Editá tu información</h2>
        <button id="edit_profile_modal__close_btn" aria-label="Close button" type="button">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 20 20"><path fill="#262626" d="m19.333 2.547-1.88-1.88L9.999 8.12 2.546.667l-1.88 1.88L8.119 10 .666 17.453l1.88 1.88 7.453-7.453 7.454 7.453 1.88-1.88L11.879 10z"/></svg>
        </button>
      </div>
      <form action="{% url 'edit-profile' %}" method="post" id="user_form">
        <div class="edit_profile_modal__container__body">
          {% csrf_token %}
          {% crispy user_form %}
          {% crispy profile_form %}
        </div>
        <div class="edit_profile_modal__container__footer">
          <div class="edit_profile_modal__container__footer-btn_container">
            <input class="btn btn__dark" type="submit" id="submit-id-save_changes" value="Guardar cambios" name="save_changes"/>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- End of edit profile modal -->
  <div class="profile-sections-container">

    <section id="datos" class="scrollspy edit_profile_card">
      <div class="edit_profile_card__header">
        <h2 class="title">Tus datos</h2>
        {% if incomplete_field_count %}
          <span class="title-notification warning">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 20 20"><path fill="#000" d="M4.167 2.5h11.666A1.666 1.666 0 0 1 17.5 4.167v11.666a1.666 1.666 0 0 1-1.667 1.667H4.167A1.667 1.667 0 0 1 2.5 15.833V4.167A1.667 1.667 0 0 1 4.167 2.5m6.666 8.333v-5H9.167v5zm0 3.334V12.5H9.167v1.667z"/></svg>
            {{ incomplete_field_count }} dato{{ incomplete_field_count|pluralize:"s" }} incompleto{{ incomplete_field_count|pluralize:"s" }}
          </span>
        {% endif %}
      </div>
      {% with subscriber=user.subscriber %}
        <div class="edit_profile_card__subtitle">
          <p class="edit_profile_card__subtitle_name">{{ subscriber.get_full_name }}</p>
          {% if subscriber.contact_id %}
            <p class="edit_profile_card__subtitle_identification">
              <strong>Identificador Digital (ID):</strong> {{ subscriber.contact_id }}
            </p>
          {% endif %}
        </div>
        <div class="edit_profile_card__body profile-data">
          <p class="edit_profile_card__body_line">
            <strong>Documento de identidad: </strong>
            <span class="value">
              {% if subscriber.document %}
                {{ subscriber.document }}
              {% else %}
                sin asignar <span class="needs-attention-icon"></span>
              {% endif %}
            </span>
          </p>
          <p class="edit_profile_card__body_line">
            <strong>Email: </strong>
            <span class="value">
              {% if user.email %}
                {{ user.email }}
                {% if email_is_bouncer %}
                  <p class="error red-text">
                    Exceso de rebotes, te sugerimos que ingreses a tu email para revisar si hay algún problema y
                    chequear que te quede espacio suficiente para recibir emails.
                  </p>
                {% endif %}
              {% else %}
                sin asignar <span class="needs-attention-icon"></span>
              {% endif %}
            </span>
          </p>
          <p class="edit_profile_card__body_line">
            <strong>Teléfono: </strong>
            <span class="value">
              {% if subscriber.phone %}
                {{ subscriber.phone }}
              {% else %}
                sin asignar <span class="needs-attention-icon"></span>
              {% endif %}
            </span>
          </p>
          <p class="edit_profile_card__body_line">
            <strong>Dirección: </strong>
            <span class="value">
              {% if subscriber.address %}
                {{ subscriber.address }}
              {% else %}
                sin asignar <span class="needs-attention-icon"></span>
              {% endif %}
            </span>
          </p>
        {% endwith %}
        {% if google_oauth2_assoc %}
          {% if google_oauth2_allow_disconnect %}
            <form class="edit_profile_card__body_line google-disconnect" action="{% url 'social:disconnect_individual' 'google-oauth2' google_oauth2_assoc.id %}" method="post">
              {% csrf_token %}
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill="#262626" d="M21 7 9 19l-5.5-5.5 1.41-1.41L9 16.17 19.59 5.59z"/></svg>
              <span>Ingreso con Google asociado</span>
              <input type="submit" id="desconectar" value="desconectar" name="desconectar"/>
            </form>
          {% else %}
            <p class="edit_profile_card__body_line">
              <strong>Tu cuenta de usuario está asociada a tu cuenta de Google</strong>
            </p>
          {% endif %}
        {% elif not google_oauth2_multiple %}
          <p class="edit_profile_card__body_line google-disconnect">
            <a href="{% url 'social:begin' 'google-oauth2' %}" title="Configurar tu ingreso con Google">Configurar tu ingreso con Google</a>
          </p>
        {% endif %}

      </div>
      <div class="edit_profile_card__footer">
        <a href="{% url 'account-password_change' %}">Cambiar contraseña</a>
        <button id="edit_profile_btn" class="btn">
          <span>Editar</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="none" viewBox="0 0 13 13"><path fill="#262626" d="M11.807 3.693a.664.664 0 0 0 0-.94l-1.56-1.56a.664.664 0 0 0-.94 0L8.08 2.413l2.5 2.5M0 10.5V13h2.5l7.373-7.38-2.5-2.5z"/></svg>
        </button>
      </div>
    </section>

    {% crispy profile_data_form %}

    <section id="lista-lectura" class="scrollspy edit_profile_card">
      <div class="edit_profile_card__header">
        <h2 class="title">Lista de lectura</h2>
      </div>
      <p>Accedé a todos los artículos que guardaste para leer después, tus favoritos e historial de visitados.</p>
      <div class="edit_profile_card__footer">
        <a class="btn btn--medium" href="{% url 'lista-lectura-leer-despues' %}">
          <span>Ir a lista de lectura</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" fill="none" viewBox="0 0 12 12"><path fill="#262626" d="M7.333 0v1.333h2.394L3.173 7.887l.94.94 6.554-6.554v2.394H12V0m-1.333 10.667H1.333V1.333H6V0H1.333C.593 0 0 .6 0 1.333v9.334A1.333 1.333 0 0 0 1.333 12h9.334A1.334 1.334 0 0 0 12 10.667V6h-1.333z"/></svg>
        </a>
      </div>
    </section>

    <section id="ayuda" class="scrollspy edit_profile_card">
      <div class="edit_profile_card__header">
        <h2 class="title">Ayuda</h2>
      </div>
      <div class="edit_profile_card__inner-section">
        <div class="edit_profile_card__inner-section_header">
          <h2 class="title">Centro de ayuda</h2>
        </div>
        {% block help_body %}{% endblock %}
        <div class="edit_profile_card__inner-section_footer">
          <a class="link" href="/ayuda/">Ir al centro de ayuda</a>
        </div>
      </div>
      <div class="edit_profile_card__inner-section">
        <div class="edit_profile_card__inner-section_header">
          <h2 class="title">Contacto</h2>
        </div>
        <p><a href="{% url 'contact-form' %}">Formulario de contacto</a></p>
        {% block contact_extra %}{% endblock %}
      </div>

      {% if poll_url %}
      <div class="edit_profile_card__inner-section">
        <div class="edit_profile_card__inner-section_header">
          <h2 class="title">Danos tu opinión</h2>
        </div>
        <p>Queremos obtener información sobre tu experiencia con la suscripción.</p>
        <p>Esta pequeña encuesta nos va a servir para evaluar y aplicar cambios en base a tus opiniones y necesidades.</p>
        <div class="edit_profile_card__inner-section_footer">
          <a class="link" href="{{ poll_url }}" rel="noreferrer noopener">Completar encuesta</a>
        </div>
      </div>
      {% endif %}

      <div class="edit_profile_card__inner-section">
        <div class="edit_profile_card__inner-section_header">
          <h2 class="title">Accesibilidad</h2>
        </div>
        <div class="edit_profile_card__inner-section_body">
          <p>Queremos tener un sitio web accesible para todas las personas. Si encontrás alguna dificultad para utilizar el sitio web podés reportar el problema y obtener ayuda en nuestra página de contacto.</p>
        </div>
        <div class="edit_profile_card__inner-section_footer">
          <a class="link" href="/accesibilidad/">Más información</a>
        </div>
      </div>
    </section>
    <section id="logout" class="edit_profile_card">
      <a href="{% url "account-logout" %}" class="">Cerrar sesión</a>
    </section>
  </div>

{% endblock %}

{% block javascript %}
  <script defer src="{% static 'materialize/js/scrollspy.js' %}"></script>
  <script defer src="{% static 'materialize/js/pushpin.js' %}"></script>
  {% if push_notifications_keys_set %}
    {% if not CORE_PUSH_NOTIFICATIONS_OFFER %}
      <script src="{% static 'js/push_notifications.js' %}"></script>
    {% endif %}
    <script src="{% static 'js/push_notifications_editprofile.js' %}"></script>
  {% endif %}
  <script src="{{ intl_tel_input_cdn }}js/intlTelInput.min.js"></script>
  {% compress js %}
    <script src="{% static 'js/switch_change_events.js' %}"></script>
    <script src="{% static 'js/edit_profile.js' %}"></script>
    <script src="{% static 'js/phone_widget.js' %}"></script>
  {% endcompress %}
  <script>

    {% if push_notifications_keys_set %}
      {% if not CORE_PUSH_NOTIFICATIONS_OFFER %}
        var applicationServerPublicKey = "{{ CORE_PUSH_NOTIFICATIONS_VAPID_PUBKEY }}";
        var subscription_to_delete = null;
      {% else %}
        if(getCookie('notifyme', 1) == "false") {
          {# otherwise this vars have already been set in base template #}
          var applicationServerPublicKey = "{{ CORE_PUSH_NOTIFICATIONS_VAPID_PUBKEY }}";
          var subscription_to_delete = null;
        }
      {% endif %}
    {% endif %}

    $(function() {

      {% if push_notifications_keys_set %}
        setNotificationCheckStatus();
        switch_change_events($('#notificaciones .switch-container'), true);
      {% endif %}

      phone_widget("{{ phonenumber_default_region }}", "{{ intl_tel_input_cdn }}", "{{ local_lang }}");

      {% if mailtrain_lists %} // mailtrain "nl" switches events
        const target = $('#mailtrain-lists');
        const observer = new IntersectionObserver((entries, observer) => {
          entries.forEach(entry => {
            if (entry.target === target[0] && entry.isIntersecting) {
              // Unobserve the target element to run this only once
              observer.unobserve(entry.target);
              $.get("{% url 'mailtrain-lists' %}", function(response){
                $("#mailtrain-lists input").each(function(){
                  if (response.lists.includes($(this).attr('id'))) {
                    $(this).attr("checked", "checked");
                  }
                });
                switch_change_events($('.switch-container', target));
              });
            }
          });
        });
        // Observe the target element
        observer.observe(target[0]);
      {% endif %}

      {% if user_form.errors or profile_form.phone.errors %} // open modal on errors
        edit_profile_open_modal();
      {% endif %}

    });
  </script>
{% endblock %}
