{% if not is_subscriber %}
  {# footer subscribe #}
  <div id="subscribe-footer" class="fullwidth-container z-depth-4 {{ publication.slug }}-pub">
    <div class="row">

      <div class="col s12 m12 l9 left-align text-column">
        <span class="text large">Para que el
          periodismo que hacemos exista,
          tiene que haber gente como
          vos que lo haga posible.</span>
      </div>
      <div class="col s12 m12 l3 center-align subscribe-col">
        {% ifequal publication.slug 'lento' %}
          <a href="{{ SITE_URL }}usuarios/suscribite/lento/" class="btn bordered white white-text">Suscribite</a>          
        {% else %}
          <a href="{% url 'subscribe_landing' %}" class="ld-btn-default">Suscribite</a>
        {% endifequal %}
      </div>
      <button class="close js-close-subscribe-footer" aria-label="Cerrar">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M18.3 5.71c-.39-.39-1.02-.39-1.41 0L12 10.59 7.11 5.7c-.39-.39-1.02-.39-1.41 0-.39.39-.39 1.02 0 1.41L10.59 12 5.7 16.89c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0L12 13.41l4.89 4.89c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L13.41 12l4.89-4.89c.38-.38.38-1.02 0-1.4z"/></svg>
      </button>

    </div>
  </div>
{% endif %}
