{% extends "base.html" %}
{% load static thedaily_tags crispy_forms_tags %}

{% block page_title %}Registrate con tu cuenta de Google{% endblock %}

{% block css %}
  <style>
    legend{font-weight: bold;}
  </style>
{% endblock %}

{% block body_class %}subscribe hide-mobile-nav{% endblock %}

{% block navbar %}
  <div id="main-header">
    <nav class="subscription_black">
      <a href="{% url 'subscribe_landing' %}">
        <img src="{% static HOMEV3_LOGO %}" alt="{{ HOMEV3_LOGO_ALT_TEXT }}" width="{{ HOMEV3_LOGO_WIDTH }}" height="42">
      </a>
    </nav>
  </div>
{% endblock %}

{% block content_pre %}
  <div class="modal" id="terms-conditions-modal">
    <div class="content">
      {% autoescape off %}{% terms_and_conditions %}{% endautoescape %}
      <div class="align-center"><a class="ut-btn" onclick="accept_terms_and_conds();">aceptar</a></div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <main class="ld-content">
    <div class="row">

      <div class="subscribe-header center-align">
        <h1 class="ld-title-big">Cuenta gratuita</h1>
        <span class="ld-text-secondary">Accedé a 10 artículos gratis por mes con la cuenta gratuita.</span>
      </div>

      <div class="row">
        <div class="col s12 m8 offset-m2">
          <p class="ld-text-secondary align-center u-mt-50">Por último, ingresá tu teléfono</p>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m8 offset-m2"><div class="align-center">{% crispy google_signin_form %}</div></div>
      </div>

    </div>
  </main>
{% endblock %}

{% block footer_block %}
  {% include 'footer_simple.html' %}
{% endblock footer_block %}

{% block javascript %}
  <script defer src="{% static 'materialize/js/velocity.min.js' %}"></script>
  <script>
    $(function(){
      $('label[for="id_terms_and_conditions"] a').click(function(event){
        event.preventDefault();
        $('.modal').modal('open');
      });
    });
    function accept_terms_and_conds(){
      $('.modal').modal('close');
      $('#id_terms_and_conditions').prop('checked', true);
    }
  </script>
{% endblock %}
