{% extends "base.html" %}

{% block page_title %}Login error{% endblock %}
{% block body_class %}thedaily{% endblock %}

{% block content %}
    <div class="titlebar">
        <h2>
             Asistencia a usuarios
        </h2>
    </div>
    <h1>
        Error al ingresar
    </h1>
    <p>
        Error al ingresar al sitio web.
        Para obtener ayuda visitá nuestro <a href="{{ SITE_URL }}ayuda/">centro de ayuda</a> o <a href="{% url 'contact-form' %}">contactanos</a>.
    </p>
    <p>
        Gracias.
    </p>
{% endblock %}

