{% extends base_template %}
{% load static core_tags crispy_forms_tags %}

{% block page_title %}{% title_joinparts 'Ingreso de usuarios' %}{% endblock %}

{% block materialize_forms_css %}{% endblock %}

{% block css %}
  <link href="{% static 'sass/authorization_pages.scss' %}" media="screen" rel="stylesheet" type="text/x-scss" charset="utf-8">
{% endblock %}

{% block body_class %}login no-footer{% endblock %}

{% block content %}
  <main class="ld-content">
    <h1 class="ld-title-huge align-center">Ingresá</h1>

    <div class="google-auth">
      <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ next }}" class="ld-btn-google">
        <img src="{% static "img/icon-google.svg" %}" alt="Logo Google">
        <span>Ingresá con Google</span>
      </a>
    </div>

    <p class="align-center">O ingresá con tu email</p>

    <form class="row" method="post" action="{% url 'account-login' %}?next={{ next }}">
      {% crispy login_form %}
      <div class="forgot-password">
        <a href="{% url 'account-password_reset' %}" class="underlined">¿Olvidaste tu contraseña?</a>
      </div>
      <div class="">
        <button class="form-submit-login submit btn btn__dark" type="submit">Ingresar</button>
      </div>
    </form>
  </main>
{% endblock %}

{% block footer_block %}
  {% include 'footer_simple.html' %}
{% endblock footer_block %}

{% block materialize_scripts %}{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $(function(){
      // TODO: test this 3 lines with only one using jquery
      var text_input = document.getElementById('id_name_or_mail');
      text_input.focus();
      text_input.select();
    });
  </script>
{% endblock %}
