{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}Ingreso de usuarios | {{ site.name }} | {{ country_name }}{% endblock %}

{% block body_class %}login no-footer{% endblock %}

{% block content %}
  <main class="ld-content">
    <div class="row">
      <div class="col s12 m8 offset-m2">
        <h1 class="ld-title-huge align-center u-mb-60">Ingresá</h1>

        <div class="google-auth align-center u-mb-60">
          <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ next }}" class="ld-btn-google">Ingresá con Google</a>
        </div>

        <div class="align-center ld-text-secondary">O ingresá con tu email</div>

        <form class="row" method="post" action="{% url 'account-login' %}?next={{ next }}">
          {% crispy login_form %}
          <div class="col s12 align-right">
            <a href="{% url 'account-password_reset' %}" class="underlined">¿Olvidaste tu contraseña?</a>
          </div>
          <div class="row">
            <div class="col align-center s12">
              <button class="form-submit-login submit ut-btn ut-btn-light ut-btn-l" type="submit">Ingresar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>
{% endblock %}

{% block footer_block %}
  {% include 'footer_simple.html' %}
{% endblock footer_block %}

{% block javascript %}
  <script type="text/javascript">
    $(function(){
      // TODO: test this 3 lines with only one using jquery
      var text_input = document.getElementById('id_name_or_mail');
      text_input.focus();
      text_input.select();
    });
  </script>
{% endblock %}
