{% extends "base.html" %}

{% block page_title %}Login error{% endblock %}
{% block body_class %}thedaily{% endblock %}

{% block content %}
    <div class="titlebar">
        <h2>
             Asistencia a usuarios
        </h2>
    </div>
    <h1>
        Error al ingresar
    </h1>
    <p>
        Error al ingresar al sitio web, comunicate con <em>la diaria</em> al
        2900 08 08. También podés hacerlo via mail utilizando nuestro
        <a href="{% url 'contact-form' %}?mailto=suscriptores">formulario de contacto</a>.
    </p>
    <p>
        Gracias.
    </p>
{% endblock %}
