{% load core_tags %}

<ul class="main-menu center hide-on-small-and-down{% ifnotequal publication default_pub %} {{ publication.slug }}{% endifnotequal %}">
  <li class="nav-menu__portada">
    <a href="{% url 'home' %}"><span class="inner">Portada</span></a>
  </li>
  {% for category in MENU_CATEGORIES %}
    {% if not category.exclude_from_top_menu %}
      <li class="nav-menu__{{ category.slug }}">
        <a href="{% url 'home' domain_slug=category.slug %}"><span class="inner">{{ category|capfirst }}</span></a>
      </li>
    {% endif %}
  {% endfor %}
  {% if MENU_PUBLICATIONS %}
    <li>
      <a class="dropdown-button" data-beloworigin="true" href="#!" data-activates="emergentes-dropdown">
        <span class="inner">Emergentes
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24,24H0V0H24Z" fill="none" opacity="0.87"/><path d="M15.88,9.29,12,13.17,8.12,9.29A1,1,0,0,0,6.71,10.7l4.59,4.59a1,1,0,0,0,1.41,0L17.3,10.7a1,1,0,0,0,0-1.41,1.017,1.017,0,0,0-1.42,0Z" class="nav-fill" fill="#a4a4a4"/></svg>
        </span>
      </a>
    </li>
  {% endif %}
  {% block extra_dropdowns %}{% endblock %}
  {% if MENU_LATEST_ARTICLE_LINKS_DROPDOWN %}
    <li class="nav-menu__apuntes">
      <a class="dropdown-button" data-beloworigin="true" href="#!" data-activates="{{ MENU_LATEST_ARTICLE_LINKS_DROPDOWN }}-dropdown">
        <span class="inner">{{ MENU_LATEST_ARTICLE_LINKS_DROPDOWN }}
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24,24H0V0H24Z" fill="none" opacity="0.87"/><path d="M15.88,9.29,12,13.17,8.12,9.29A1,1,0,0,0,6.71,10.7l4.59,4.59a1,1,0,0,0,1.41,0L17.3,10.7a1,1,0,0,0,0-1.41,1.017,1.017,0,0,0-1.42,0Z" class="nav-fill" fill="#a4a4a4"/></svg>
        </span>
      </a>
    </li>
  {% elif MENU_LATEST_ARTICLE_LINKS %}
    <li class="nav-menu__apuntes">
      <a href="{% url 'section-latest-article' section_slug=MENU_LATEST_ARTICLE_LINKS.0.0 %}">
        <span class="inner">{{ MENU_LATEST_ARTICLE_LINKS.0.1 }}</span>
      </a>
    </li>
  {% endif %}
  {% block extra_items %}{% endblock %}
  <li class="nav-menu__more">
    <button class="more-button js-ld-main-menu-toggle">
      <span class="inner">Más</span>
    </button>
  </li>
</ul>

{% with emergentes='ciencia economia educacion feminismos justicia salud trabajo' %}
  {% if publication != default_pub and publication not in emergentes.split %}
    <ul id="secciones-dropdown" class="dropdown-content hide-on-small-and-down">
      {% for section in publication.primary_sections %}
        <li>
          <a href="{% url 'section_detail' section_slug=section.slug %}" class="{{ section.slug }}">{{ section }}</a>
        </li>
      {% endfor %}
    </ul>
    <ul id="secciones-dropdown2" class="dropdown-content hide-on-small-and-down">
      {% for section in publication.secondary_sections %}
        <li>
          <a href="{% url 'section_detail' section_slug=section.slug %}" class="{{ section.slug }}">{{ section }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% if MENU_PUBLICATIONS %}
  <ul id="emergentes-dropdown" class="dropdown-content hide-on-small-and-down">
    {% for pub in MENU_PUBLICATIONS %}<li><a href="{{ pub.get_absolute_url }}">{{ pub }}</a></li>{% endfor %}
  </ul>
{% endif %}

{% if MENU_LATEST_ARTICLE_LINKS_DROPDOWN %}
  <ul id="{{ MENU_LATEST_ARTICLE_LINKS_DROPDOWN }}-dropdown" class="dropdown-content hide-on-small-and-down">
    {% for s_slug, desktop_short, mobile_short, text_long in MENU_LATEST_ARTICLE_LINKS %}
      <li><a href="{% url 'section-latest-article' section_slug=s_slug %}">{{ desktop_short }}</a></li>
    {% endfor %}
  </ul>
{% endif %}

{% block extra_dropdowns_contents %}{% endblock %}
