{% load core_tags %}

{# TODO: Check whether this file needs to be renamed to navbar.html #}

{% if publication == default_pub and request.path == '/' %}
  <nav id="home-navbar" class="navbar">
    <div class="scrollable-navbar__scrollable">
      <ul>
        {% if HOME_NAV_ITEMS %}
          {% for item in HOME_NAV_ITEMS %}
          {% if item.children %}
          <li{% if item.classes %} class="{{ item.classes }}"{% endif %}>
            <span class="dropdown-button" data-beloworigin="true" data-activates="nav-dropdown-{{ forloop.counter }}">
              {{ item.label }}
              <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="none" viewBox="0 0 13 13"><path stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.6" d="m2 4 4.382 4.382L10.765 4"/></svg>
            </span>
            <ul id="nav-dropdown-{{ forloop.counter }}" class="dropdown-content">
              {% for child in item.children %}
              <li><a href="{{ child.url }}">{{ child.label }}</a></li>
              {% endfor %}
            </ul>
          </li>
          {% else %}
          <li{% if item.classes %} class="{{ item.classes }}"{% endif %}><a href="{{ item.url }}">{{ item.label }}</a></li>
          {% endif %}
          {% endfor %}
        {% else %}
          {% for category, sections in MENU_CATEGORIES.items %}
          <li><a href="{% url 'home' domain_slug=category.slug %}">{{ category|capfirst }}</a></li>
          {% endfor %}
        {% endif %}
      </ul>
      <button class="scrollable-navbar__arrow scrollable-navbar__arrow--left" type="button" aria-label="Desplazar a la izquierda">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="26" fill="none" viewBox="0 0 40 26"><path fill="url(#paint0_linear_5211_20062)" d="M0 0h40v26H0z" transform="matrix(-1 0 0 1 40 0)"/><path stroke="#44494b" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 18.782 2.61 12.39 9 6"/><defs><linearGradient id="paint0_linear_5211_20062" x1="40" x2="0" y1="13" y2="13" gradientUnits="userSpaceOnUse"><stop offset=".461" stop-color="#fff"/><stop offset=".966" stop-color="#fff" stop-opacity="0"/></linearGradient></defs></svg>
      </button>
      <button class="scrollable-navbar__arrow scrollable-navbar__arrow--right" type="button" aria-label="Desplazar a la derecha">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="26" fill="none" viewBox="0 0 40 26"><path fill="url(#paint0_linear_5196_18321)" d="M0 0h40v26H0z"/><path stroke="#44494b" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m31 18.782 6.39-6.391L31 6"/><defs><linearGradient id="paint0_linear_5196_18321" x1="40" x2="0" y1="13" y2="13" gradientUnits="userSpaceOnUse"><stop offset=".461" stop-color="#fff"/><stop offset=".966" stop-color="#fff" stop-opacity="0"/></linearGradient></defs></svg>
      </button>
    </div>
  </nav>
{% elif not article and category or publication and not section %}
  <nav class="navbar category-navbar">
    <a class="home-link" href="{% url "home" %}">Portada</a>
    <div class="scrollable-navbar__scrollable center">
      <ul>
        {% if category %}
          {% include 'core/templates/category/detail_header_sections.html' %}
        {% elif publication %}
          {% for section in publication.primary_sections %}
            <li>
              <a class="section-detail__header-sub-cat" href="{% url 'section_detail' section_slug=section.slug %}">
                {% section_name_in_publication_menu publication section %}
              </a>
            </li>
          {% endfor %}
        {% endif %}
      </ul>
      <button class="scrollable-navbar__arrow scrollable-navbar__arrow--left" type="button" aria-label="Desplazar a la izquierda">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="26" fill="none" viewBox="0 0 40 26"><path fill="url(#paint0_linear_5211_20062)" d="M0 0h40v26H0z" transform="matrix(-1 0 0 1 40 0)"/><path stroke="#44494b" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 18.782 2.61 12.39 9 6"/><defs><linearGradient id="paint0_linear_5211_20062" x1="40" x2="0" y1="13" y2="13" gradientUnits="userSpaceOnUse"><stop offset=".461" stop-color="#fff"/><stop offset=".966" stop-color="#fff" stop-opacity="0"/></linearGradient></defs></svg>
      </button>
      <button class="scrollable-navbar__arrow scrollable-navbar__arrow--right" type="button" aria-label="Desplazar a la derecha">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="26" fill="none" viewBox="0 0 40 26"><path fill="url(#paint0_linear_5196_18321)" d="M0 0h40v26H0z"/><path stroke="#44494b" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m31 18.782 6.39-6.391L31 6"/><defs><linearGradient id="paint0_linear_5196_18321" x1="40" x2="0" y1="13" y2="13" gradientUnits="userSpaceOnUse"><stop offset=".461" stop-color="#fff"/><stop offset=".966" stop-color="#fff" stop-opacity="0"/></linearGradient></defs></svg>
      </button>
    </div>
  </nav>
{% endif %}
