{% extends base_template %}
{% load static %}

{% block page_title %}Configurá tus Newsletters{% endblock %}

{% block body_class %}user-newsletters{% endblock %}

{% block css %}
  <link href="{% static 'sass/pages/_user_newsletters.scss' %}" media="screen" rel="stylesheet" type="text/x-scss" charset="utf-8">
{% endblock %}

{% block content %}
  {% include 'profile/notification_box.html' %}

  <h1>Recibí por mail el contenido que te interesa</h1>
  <p class="deck">Acá encontrarás las newsletters de <em>la diaria</em> que aún no tenés activadas. Si querés desactivar alguna, podrás hacerlo ingresando a tu perfil.</p>

  <div class="grid-nl-cards">
    {% for nl_item in unsubscribed_newsletters %}
      <div class="edit_profile_card__inner-section">
        <div class="edit_profile_card__inner-section_header">
          <label class="title" for="id_newsletters_1">{{ nl_item.profile_newsletter_name|default:nl_item.name }}</label>
          <div class="switch-container">
            <span class="label-text on" style="display: none;">Activada</span>
            <span class="label-text off" style="display: inline-block;">Activar</span>
            <label class="ld-switch">
              <input type="checkbox" id="id_{{ nl_item.slug }}"
                name="{{ nl_item.slug }}"
                value="ladiaria"
                data-url="{% url 'nl-auth-subscribe' nltype=nl_item.nltype nlslug=nl_item.slug %}"
                data-key="com_subscribe"
                data-bouncer="false"
              >
              <span class="slider"></span>
            </label>
          </div>
        </div>
        <div class="edit_profile_card__inner-section_body">
          {% if nl_item.newsletter_periodicity %}
            <p class="periodicity">{{ nl_item.newsletter_periodicity }}.</p>
          {% endif %}
          <p class="description">{{ nl_item.newsletter_tagline|safe }}.</p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/switch_change_events.js' %}"></script>

  <script type="text/javascript">
    function changeHandler(input) {
      input.closest('.edit_profile_card__inner-section').classList.toggle('active');
    }
    $(function() {
      switch_change_events($('.grid-nl-cards .switch-container'), null, changeHandler);
    });

  </script>
{% endblock %}
