{% load static compress %}<!doctype html>
{% block html %}
  <html lang="es-UY">
{% endblock %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Suscripción a newsletter</title>
  <meta name="description" content="Suscripción.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% compress css %}
    <link href="{% static 'sass/main.scss' %}" media="screen" rel="stylesheet" type="text/x-scss" charset="utf-8">
  {% endcompress %}
</head>
<body class="nlunsubscribe ld-notice">
  <div id="main-header">
    <nav class="subscription_black">
      <a href="{% url 'home' %}">
        <img class="logo_ladiaria" src="{% static logo %}" alt="Logo de {{ site.name }}">
      </a>
    </nav>
  </div>
  <div class="ld-subscribe-box">
    <h4 class="ld-subscribe-box__title">
      {% if error %}
        {{ error }}.
      {% else %}
        Optaste por recibir el newsletter de {{ publication.headline|default:category }} con éxito.
      {% endif %}
    </h4>
    <div class="ld-subscribe-box__info ld-caption">
      <p>
        <a href="{% url 'edit-profile' %}#ld-newsletters">Configurar todos tus newsletters</a>
      </p>
      <p>
        <a href="/">Ir a la portada</a>
      </p>
    </div>
  </div>
</body>
