{% load static compress %}<!doctype html>
{% block html %}
  <html lang="es-UY">
{% endblock %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}Desuscripción a newsletter{% endblock %}</title>
  <meta name="description" content="{% block description %}Desuscripción{% endblock %}.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% compress css %}
    <link href="{% static 'sass/base.scss' %}" media="screen" rel="stylesheet" type="text/x-scss" charset="utf-8">
  {% endcompress %}
</head>
<body class="nlunsubscribe ld-notice">
  <div id="main-header">
    <nav class="subscription_black">
      <a href="{% url 'home' %}">
        <img class="logo_ladiaria" src="{% static logo %}" alt="Logo de {{ site.name }}" width="{{ logo_width }}" height="42">
      </a>
    </nav>
  </div>
  <div class="ld-subscribe-box">
    <span class="ld-subscribe-box__title">
      {% if error %}
        {{ error }}.
      {% else %}
        {% block success %}Ya no recibirás el newsletter de {{ publication.newsletter_name|default:publication.name }}{% endblock %}.
      {% endif %}
    </span>
    <div class="ld-subscribe-box__info ld-caption">
      <p>
        {% block configure %}<a href="{% url 'edit-profile' %}#ld-newsletters">Configurar todos tus newsletters</a>{% endblock %}
      </p>
      <p><a href="/">Ir a la portada</a></p>
    </div>
  </div>
  <div class="ld-text-secondary nlunsubscribe__info">
    <div class="container">
      Esta acción no cancela tu suscripción a <i>{{ site.name }}</i>,
      para cancelar tu suscripción <a href="{% url 'contact-form' %}">comunicate con atención al cliente</a>.
    </div>
  </div>
</body>
