{% extends "base.html" %}
{% load core_tags crispy_forms_tags %}

{% block page_title %}{% title_joinparts 'Elegí contraseña' %}{% endblock %}
{% block body_class %}thedaily{% endblock %}

{% block content %}
  <main class="ld-content">
    <div class="row">
      <div class="col s12 m8 offset-m2">
        <h1 class="ld-title-huge">Elegí contraseña</h1>
	<div class="nav-extended__tagline">Elegí la contraseña para ingresar al sitio web de la diaria.</div>
        {% crispy form %}
      </div>
    </div>
  </main>
{% endblock %}
{% block footer_block %}
  {% include 'footer_simple.html' %}
{% endblock footer_block %}

