{% extends base_template %}
{% load core_tags crispy_forms_tags static %}

{% block page_title %}{% title_joinparts 'Elegí contraseña' %}{% endblock %}

{% block css %}
  {{ block.super }}
  <link href="{% static 'sass/access_pages.scss' %}" media="screen" rel="stylesheet" type="text/x-scss" charset="utf-8">
{% endblock %}

{% block body_class %}thedaily change-password{% endblock %}

{% block content %}
  <main class="ld-content">
    <h1 class="ld-title-huge">Elegí contraseña</h1>
    <div class="nav-extended__tagline">Elegí la contraseña para ingresar al sitio web de la diaria.</div>
    {% crispy form %}
  </main>
{% endblock %}
{% block footer_block %}
  {% include 'footer_simple.html' %}
{% endblock footer_block %}

