{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}Elegí contraseña{% endblock %}
{% block body_class %}thedaily{% endblock %}

{% block content %}
  <main class="ld-content">
    <div class="row">
      <div class="col s12 m8 offset-m2">
        <h1 class="ld-title-huge">Elegí contraseña</h1>
	<div class="nav-extended__tagline">Elegí la contraseña para ingresar al sitio web de la diaria.</div>
        {% crispy form %}
      </div>
    </div>
  </main>
{% endblock %}
{% block footer_block %}
  <footer class="ld-footer-simple">
    <div class="row ld-text-secondary align-center">
      <div class="col s12">
        <div>
        {% if not user.is_authenticated %}
          ¿No tenés suscripción? <a href="{% url 'subscribe_landing' %}">Suscribite</a>.
          <br />
        {% endif %}
          ¿Tenés consultas? Visitá nuestro <a href="/ayuda/">centro de ayuda</a> o <a href="{% url 'contact-form' %}">contactanos</a>.
        </div>
      </div>
    </div>
  </footer>
{% endblock footer_block %}

