{% extends base_template %}
{% load core_tags %}

{% block page_title %}{% title_joinparts 'Contraseña elegida con éxito' %}{% endblock %}
{% block body_class %}thedaily{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12 m8 offset-m2">
      <h1>
        Contraseña elegida con éxito
      </h1>
      {% if user.is_authenticated %}
        <p>
          Tu sesión ya fue iniciada.<br>
          La próxima vez que necesites ingresar al sitio web de la diaria utilizá la contraseña que acabás de elegir.
        </p>
        <div class="align-center form-group">
          <a href="{% url 'home' %}" class="ut-btn">ir a la portada</a>
        </div>
      {% else %}
        <p>
          Ahora podés ingresar al sitio de la diaria utilizando la contraseña que acabás de elegir.
        </p>
        <div class="align-center form-group">
          <a href="{% url 'account-login' %}" class="ut-btn">ir a la página de ingreso</a>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
{% block footer_block %}
  {% include 'footer_simple.html' %}
{% endblock footer_block %}
