{% extends "base.html" %}
{% load core_tags %}

{% block page_title %}{% title_joinparts 'Restablecer contraseña' %}{% endblock %}
{% block body_class %}thedaily{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <h1>Revisá tu email</h1>
            <p>Revisá tu bandeja de entrada y seguí las instrucciones de cómo restablecer tu contraseña que te acabamos de enviar.</p>
            <p>Si nuestro mensaje no está en tu bandeja de entrada revisá la carpeta Spam u otras pestañas. <a href="https://ayuda.ladiaria.com.uy/como-encontrar-mensajes-de-la-diaria-que-deberian-haber-llegado-a-tu-email/">Leer más</a>.</p>
        </div>
    </div>
{% endblock %}
{% block footer_block %}
  {% include 'footer_simple.html' %}
{% endblock footer_block %}
