{% extends "base.html" %}
{% load core_tags %}

{% block page_title %}Restablecer contraseña | {{ site.name }} | {{ country_name }}{% endblock %}
{% block body_class %}thedaily{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <h1>Revisá tu email</h1>
            <p>Revisá tu bandeja de entrada y seguí las instrucciones de cómo restablecer tu contraseña que te acabamos de enviar.</p>
            <p>Si nuestro mensaje no está en tu bandeja de entrada revisá la carpeta Spam u otras pestañas. <a href="https://ayuda.ladiaria.com.uy/como-encontrar-mensajes-de-la-diaria-que-deberian-haber-llegado-a-tu-email/">Leer más</a>.</p>
        </div>
    </div>
{% endblock %}
{% block footer_block %}
  <footer class="ld-footer-simple">
    <div class="row ld-text-secondary align-center">
      <div class="col s12">
        <div>
        {% if not user.is_authenticated %}
          ¿No tenés suscripción? <a href="{% url 'subscribe_landing' %}">Suscribite</a>.
          <br>
        {% endif %}
          ¿Tenés consultas? Visitá nuestro <a href="/ayuda/">centro de ayuda</a> o <a href="{% url 'contact-form' %}">contactanos</a>.
        </div>
      </div>
    </div>
  </footer>
{% endblock footer_block %}
