{% extends "base.html" %}
{% load core_tags static crispy_forms_tags %}

{% block page_title %}{% title_joinparts 'Suscribite por teléfono' %}{% endblock %}

{% block meta %}
  <meta name="robots" content="noindex">
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ intl_tel_input_cdn }}css/intlTelInput.css">
{% endblock %}

{% block header_scripts %}
  <script src="{{ intl_tel_input_cdn }}js/intlTelInput.min.js"></script>
  <script src="{% static 'js/phone_widget.js' %}"></script>
  <script>
    $(function(){
      phone_widget("{{ phonenumber_default_region }}", "{{ intl_tel_input_cdn }}js/utils.js", true);{# init phone widget #}
    });
  </script>
{% endblock %}

{% block body_class %}thedaily subscribe hide-mobile-nav{% endblock %}

{% block navbar %}
  <div id="main-header">
    <nav class="subscription_black">
      <a class="header-logo emergentes" href="{% url 'home' %}">
        <img src="{% static HOMEV3_LOGO %}" alt="{{ HOMEV3_LOGO_ALT_TEXT }}" width="{{ HOMEV3_LOGO_WIDTH }}" height="42">
      </a>
    </nav>
  </div>
{% endblock %}

{% block content %}
  {% if is_subscriber %}
    <div class="subscription-header center-align">
      <p>El usuario con el que estas navegando actualmente ya es suscriptor.</p>
    </div>
  {% else %}
    <main class="ld-content">
      <div class="row">
        {% include 'phone_subscription_form_anon_inner_content.html' %}
      </div>
    </main>
  {% endif %}
{% endblock %}

{% block footer_block %}
  {% include 'footer_simple.html' %}
{% endblock footer_block %}
