{% extends "base.html" %}
{% load static core_tags crispy_forms_tags %}

{% block page_title %}Inscribirse{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static "js/thedaily.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="clearfix"><br /></div>

    {% if success %}
        <p>
            Gracias por tu participación.
        </p>
        <p>
            Por cualqui&eacute;r duda pod&eacute;s <a href="{% url 'contact-form' %}">contactarte con nosotros</a>.
        </p>
    {% endif %}

    <p>
        <strong>Más que una comunidad de lectores, una comunidad de aprendizaje</strong><br/>
        Convocamos a nuestros suscriptores con interés en trabajar junto con la redacción y referentes en el tema en el diseño de la agenda periodísitca del agua.
    </p>
    <p><strong>Jueves 5 de abril, de 18 a 20.30 horas.</strong></p>
    <p><strong>la diaria - Treinta y Tres 1479</strong></p>
    <p>Inscribite:</p>

    {% crispy form %}

{% endblock %}