{% extends base_template %}
{% load static crispy_forms_tags core_tags thedaily_tags %}

{% block page_title %}{% title_joinparts 'Cuenta gratuita' %}{% endblock %}

{% block page_description %}{% spaceless %}
{% with credits_pl=signupwall_max_credits|pluralize %}
{{ signupwall_max_credits }} artículo{{ credits_pl }} gratuito{{ credits_pl }} al mes y newsletters. Para acceso ilimitado suscribite.
{% endwith %}
{% endspaceless %}{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ intl_tel_input_cdn }}css/intlTelInput.css">
{% endblock %}

{% block body_class %}thedaily subscribe hide-mobile-nav{% endblock %}

{% block navbar %}
  <div id="main-header">
    <nav class="subscription_black">
      <a class="header-logo emergentes" href="{% url 'home' %}">
        <img src="{% static HOMEV3_LOGO %}" alt="{{ HOMEV3_LOGO_ALT_TEXT }}" width="{{ HOMEV3_LOGO_WIDTH }}" height="42">
      </a>
    </nav>
  </div>
{% endblock %}

{% block content_pre %}
  <div class="modal" id="terms-conditions-modal">
    <div class="content">
      {% autoescape off %}{% terms_and_conditions %}{% endautoescape %}
      <div class="align-center"><a class="ut-btn" onclick="accept_terms_and_conds();">aceptar</a></div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <main class="ld-content">
    <div class="row">
      <div class="subscribe-header center-align">
        <h1 class="ld-title-big">Cuenta gratuita</h1>
        <div class="price">$0/mes</div>
        <span class="ld-text-secondary">
          {% with credits_pl=signupwall_max_credits|pluralize %}
            {{ signupwall_max_credits }} artículo{{ credits_pl }} gratuito{{ credits_pl }} al mes y newsletters.
          {% endwith %}
          <br>
          Para acceso ilimitado <a href="{% url 'subscribe-default' %}">suscribite</a>.
        </span>
      </div>
      <div class="col s12 m8 offset-m2">
        <div class="row">
          <h2 class="center-align u-mt-50">Creá tu cuenta</h2>
          <div class="col s12 align-center ld-block--sm">
            <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ signup_form.next_page.value|default:'/' }}" class="ld-btn-google">con Google</a>
          </div>
        </div>
        <div class="row">
          <div class="col s12 align-center"><span class="ld-text-secondary">O con tu email</span></div>
        </div>
        <div class="row"><div class="col s12"><div class="row">{% crispy signup_form %}</div></div></div>
      </div>
    </div>
  </main>
{% endblock %}

{% block footer_block %}
  {% include 'footer_simple.html' with disable_signup=True %}
{% endblock footer_block %}

{% block materialize_scripts %}
  <script defer src="{% static 'materialize/js/dropdown.js' %}"></script>
  <script defer src="{% static 'materialize/js/modal.js' %}"></script>
{% endblock %}

{% block javascript %}
  <script defer src="{% static 'materialize/js/velocity.min.js' %}"></script>
  <script src="{{ intl_tel_input_cdn }}js/intlTelInput.min.js"></script>
  <script src="{% static 'js/phone_widget.js' %}"></script>
  <script>
    $(function(){
      phone_widget("{{ phonenumber_default_region }}", "{{ intl_tel_input_cdn }}js/utils.js");{# init phone widget #}
      $('label[for="id_terms_and_conds_accepted"] a').on("click", function(event){
        event.preventDefault();
        $('.modal').modal('open');
      });
    });
    function accept_terms_and_conds(){
      $('.modal').modal('close');
      $('#id_terms_and_conds_accepted').prop('checked', true);
    }
  </script>
{% endblock %}
