{% extends base_template %}
{% load static crispy_forms_tags thedaily_tags core_tags %}

{% block page_title %}Suscripción a {{ product }}{% title_joinparts '' %}{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ intl_tel_input_cdn }}css/intlTelInput.css">
{% endblock %}

{% block body_class %}subscribe hide-mobile-nav{% endblock %}

{% block navbar %}
  <div id="main-header">
    <nav class="subscription_black">
      <a {% block navbar_a_attrs %}class="header-logo emergentes" href="{% url 'home' %}"{% endblock %}>
        <img src="{% static HOMEV3_LOGO %}" alt="{{ HOMEV3_LOGO_ALT_TEXT }}" width="{{ HOMEV3_LOGO_WIDTH }}" height="42">
      </a>
    </nav>
  </div>
{% endblock %}

{% block content_pre %}
  <div class="modal" id="terms-conditions-modal">
    <div class="content">
      {% autoescape off %}{% terms_and_conditions %}{% endautoescape %}
      <div class="align-center"><a class="ut-btn" onclick="accept_terms_and_conds();">aceptar</a></div>
    </div>
  </div>
{% endblock %}

{% block content %}

  {% if subscription_in_process %}
    {# TODO: try to reproduce this condition and write how to do it #}
    <main class="ld-content">
      <div class="row">
        <div class="col s12 m8 offset-m2">
          {% include 'subscription_in_process.html' %}
        </div>
      </div>
    </main>
  {% else %}

    {% if is_already_subscribed %}

      <div id="plans" class="ld-content">
        <div class="row">
          <div class="col s12 center-align">

              <div class="row">
                <div class="col s12 m10 offset-m1 l10 offset-l1 center-align">
                  <p>
                    Ya tenés una suscripción activa en <em>{{ product }}</em> relacionada con el usuario con el estas logueado actualmente.
                  </p>
                  <p>
                    Para cambiar tu plan, forma de pago, u otra consulta <a href="{% url 'contact-form' %}">contactanos</a>, y a la brevedad nuestro servicio de atención al cliente se pondrá en contacto contigo.
                  </p>
                  <p>Muchas gracias.</p>
                </div>
              </div>

          </div>
        </div>
      </div>

    {% else %}

      <div class="ld-content">

        <div class="row">
          <div class="subscribe-header center-align">
            {% if planslug %}
              <h1 class="ld-title-big">Suscripción a {{ product }}</h1>
              <div class="price">{{ subscription_price }}</div>
              {% comment "TODO 2nd release: explanation and description new fields" %}
                <small class="exp"></small>
                <span class="ld-text-secondary"></span>
              {% endcomment %}
            {% endif %}
          </div>
          <div class="col s12 m8 offset-m2{% if user.is_authenticated %} u-mt-50{% endif %}">
            <div class="row">
              {% if not user.is_authenticated and oauth2_button %}
                <h2 class="center-align u-mt-50">Creá tu cuenta</h2>
              {% endif %}
              <div class="col s12">
                <form id="subscribe" method="post" class="form-{{ planslug }}">

                  {% if oauth2_button and not user.is_authenticated %}
                    <div class="row">
                      <div class="col s12 align-center ld-block--sm">
                        <a href="?auth=google-oauth2" class="ld-btn-google">con Google</a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col s12 align-center ld-text-secondary">
                        O con tu email
                      </div>
                    </div>
                  {% endif %}

                  {% crispy subscriber_form %}

                  {% if subscription_form %}
                    {% crispy subscription_form %}{{ subscription_form.media }}
                  {% endif %}

                </form>
              </div>
            </div>
          </div>
        </div>

      </div>

    {% endif %}

  {% endif %}

{% endblock %}

{% block footer_block %}{% include 'footer_simple.html' with disable_signup=True %}{% endblock %}

{% block materialize_scripts %}
  <script defer src="{% static 'materialize/js/dropdown.js' %}"></script>
  <script defer src="{% static 'materialize/js/modal.js' %}"></script>
{% endblock %}

{% block javascript %}
  <script defer src="{% static 'materialize/js/velocity.min.js' %}"></script>
  <script src="{{ intl_tel_input_cdn }}js/intlTelInput.min.js"></script>
  <script src="{% static 'js/phone_widget.js' %}"></script>
  <script>
    $(function(){
      phone_widget("{{ phonenumber_default_region }}", "{{ intl_tel_input_cdn }}js/utils.js");{# init phone widget #}
      $('label[for="id_terms_and_conds_accepted"] a').on("click", function(event){
        event.preventDefault();
        $('.modal').modal('open');
      });
    });
    function accept_terms_and_conds(){
      $('.modal').modal('close');
      $('#id_terms_and_conds_accepted').prop('checked', true);
    }
  </script>
{% endblock %}
