<h2 class="ld-title-big">Validá tu cuenta</h2>
<p>
  Te hemos enviado un email para activar tu cuenta, para poder completar la suscripción te pedimos que lo hagas y luego
  vuelvas a recargar esta página.
</p>
<p>
  Si no te llegó el email de activación podés
  <a href="{% url 'account-confirm_email' %}">volver a solicitarlo</a> o también
  <a href="{% url 'session-refresh' %}">refrescar la sesión</a> para comenzar nuevamente la solicitud de suscripción.
  Muchas gracias.
</p>
<p>
  ¿Tenés consultas? Visitá nuestro <a href="{% url 'help' %}">centro de ayuda</a>
  o <a href="{% url 'contact-form' %}">contactanos</a>.
</p>
