{% extends "base.html" %}
{% load static crispy_forms_tags %}

{% block page_title %}Suscripción a {{ product }}{% endblock %}

{% block body_class %}subscribe hide-mobile-nav{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="{% static 'js/thedaily.js' %}"></script>
{% endblock %}

{% block navbar %}
  <div id="main-header">
    <nav class="subscription_black">
      <a class="header-logo emergentes" href="{% url 'home' %}">
        <img src="{% static HOMEV3_LOGO %}" alt="{{ HOMEV3_LOGO_ALT_TEXT }}" width="{{ HOMEV3_LOGO_WIDTH }}" height="42">
      </a>
    </nav>
  </div>
{% endblock %}

{% block content %}

  {% if subscription_in_process %}

    <main class="ld-content">
      <div class="row">
        <div class="col s12 m8 offset-m2">
          <h1 class="ld-title-huge">Validá tu cuenta</h1>
          <p>
            Te hemos enviado un email para activar tu cuenta, para poder completar la suscripción te pedimos que lo hagas y luego vuelvas a recargar esta página.
          </p>
          <p>
            Si no te llegó el email de activación podés <a href="{% url 'account-confirm_email' %}">volver a solicitarlo</a>
            o también <a href="{% url 'session-refresh' %}">refrescar la sesión</a> para comenzar nuevamente la solicitud de suscripción. Muchas gracias.
          </p>
          <p>
            ¿Tenés consultas? Visitá nuestro <a href="/ayuda/">centro de ayuda</a> o <a href="{% url 'contact-form' %}">contactanos</a>.
          </p>
        </div>
      </div>
    </main>

  {% else %}

    {% if is_already_subscribed %}

      <div id="plans" class="ld-content">
        <div class="row">
          <div class="col s12 center-align">

              <div class="row">
                <div class="col s12 m10 offset-m1 l10 offset-l1 center-align">
                  <p>
                    Ya tenés una suscripción activa en <em>{{ product }}</em> relacionada con el usuario con el estas logueado actualmente.
                  </p>
                  <p>
                    Para cambiar tu plan, forma de pago, u otra consulta <a href="{% url 'contact-form' %}">contactanos</a>, y a la brevedad nuestro servicio de atención al cliente se pondrá en contacto contigo.
                  </p>
                  <p>Muchas gracias.</p>
                </div>
              </div>

          </div>
        </div>
      </div>

    {% else %}

      <div class="ld-content">

        <div class="row">
          <div class="subscribe-header center-align">
            {% if planslug %}
              <h1 class="ld-title-big">Suscripción a {{ product }}</h1>
              <div class="price">{{ subscription_price }}</div>
              {% comment "TODO 2nd release: explanation and description new fields" %}
                <small class="exp"></small>
                <span class="ld-text-secondary"></span>
              {% endcomment %}
            {% endif %}
          </div>
          <div class="col s12 m8 offset-m2{% if user.is_authenticated %} u-mt-50{% endif %}">
            <div class="row">
              {% if not user.is_authenticated and oauth2_button %}
                <h2 class="center-align u-mt-50">Creá tu cuenta</h2>
              {% endif %}
              <div class="col s12">
                <form id="subscribe" method="post" class="form-{{ planslug }}">

                  {% if oauth2_button and not user.is_authenticated %}
                    <div class="row">
                      <div class="col s12 align-center ld-block--sm">
                        <a href="?auth=google-oauth2" class="ld-btn-google">con Google</a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col s12 align-center ld-text-secondary">
                        O con tu email
                      </div>
                    </div>
                  {% endif %}

                  {% crispy subscriber_form %}

                  {% if subscription_form %}
                    {% crispy subscription_form %}
                  {% endif %}

                </form>
              </div>
            </div>
          </div>
        </div>

      </div>

    {% endif %}

  {% endif %}

{% endblock %}

{% block footer_block %}
  <footer class="ld-footer-simple">
    <div class="row ld-text-secondary align-center">
      <div class="col s12">
        <div>
          {% if not user.is_authenticated %}
          ¿Ya tenés una suscripción? <a href="{% url 'account-login' %}?next={% firstof request.path '/' %}">Ingresá</a>
          {% endif %}
          <br>
          ¿Tenés consultas? Visitá nuestro <a href="/ayuda/">centro de ayuda</a> o <a href="{% url 'contact-form' %}">contactanos</a>.
        </div>
      </div>
    </div>
  </footer>
{% endblock %}
