.ld-audio {
  text-align: center;
  padding: 19px;
  font-size: 18px;
  border-radius: 11px;
  position: relative;
  overflow: hidden;
  border: none;

  &__overlay {
    font-family: 'Roboto';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: 300ms;

    &.active {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__overlay-close-btn {
    position: absolute;
    right: 18px;
    top: 18px;
    border: none;
    background: none;
    cursor: pointer;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0;

    svg {
      width: 100%;
      height: 100%;
    }

    &:focus {
      outline: default;
    }

    &:hover {      
      svg {
        transform: scale(1.1);
      }
    }

    &::-moz-focus-inner {
      border: 0;
    }
    svg {
      outline: none;
      transition: transform 0.3s linear;
    }
  }

  &__overlay-content {
    max-width: 450px;
  }

  &__overlay-title {
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 500;
  }

  &__overlay-links {
    font-size: 14px;
    color: white;
    a {
      color: white;
      text-decoration: underline;
    }
  }

  &__audio {
    width: 100%;
    margin-bottom: 8px;
  }

  &__title {
    font-family: 'Roboto';
    font-weight: 500;
    color: $off-black;
    font-size: 18px;
    margin-bottom: 24px;
  }

  &__description {
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 14px;
    color: $grey;
  }
  &:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }
}

.ld-audio-block {
  margin: 0 20px;
  padding: 20px;
  max-width: 700px;
  border-radius: 11px;
  background-color: white;
  box-shadow: 0px 2px 3px rgba(0,0,0, .4);
}
