// Estilos para Comunidad

.section-comunidad {
    background: #FFF3F1;
    padding:20px;
    position: relative;
    margin-bottom: 155px;

    @media (min-width:600px) {
        padding:30px;
    }

    .section-detail__title {
        margin-bottom: 20px;
        hyphens: none;
    }
    .text {
        margin:0 0 20px;
        padding: 0;
        font-size: 18px;
        line-height: 22px;
    }

    .section-comunidad__btns {
        margin-top: 30px;
        min-height: 45px;

        .btn-rounded {
            background: #4C2C9D;
            color: #fff;
            font-size: 14px;
            line-height: 17px;
            padding: 13px 15px;
            text-transform: uppercase;
            border-radius: 22px;
            font-weight: bold;
            margin:0 5px;     
            display: inline-block;   
            transition: all 0.2s ease-in-out;
            
            &:hover {
                opacity: 0.8;
            }
            
            @media (max-width: 600px) {
                margin-bottom: 10px;
            }

            &-outline {
            background:none ;
            border:2px solid #4C2C9D;
            color:#4C2C9D;
            padding: 11px 13px;
            transition: all 0.2s ease-in-out;

                &:hover {
                    background-color: #4C2C9D;
                    color: #fff;
                    opacity: 1;
                }
            }
        }
        .anii { 
            display: inline-block;
            margin-top:30px;
            margin-bottom: 0;
            font-size: 18px;

            svg { 
                display: inline-block;
                position: relative;
                top:2px;
                left: 5px;
                transition: opacity 0.2s ease-in-out;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
        
    }
    &__footer {
        position: absolute;
        bottom:-35px;
        left: 0;
        right: 0;

        a {
            transition: all 0.2s ease-in-out;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    .container--narrow {
        position: relative;

        @media (max-width: 600px) {
            width: 100% !important;
        }

        &:before {
            content: "";
            display: block;
            width:250px;
            height: 250px;
            background: url('/static/img/ilustracion-comunidad-01.jpg');
            position: absolute;
            left: -300px;
            top:50%;
            margin-top:-125px;

            @media (min-width: 601px) and ( max-width:1279px) {
                left: -265px;
            }
        }
        &:after {
            content: "";
            display: block;
            width:250px;
            height: 250px;
            background: url('/static/img/ilustracion-comunidad-02.jpg');
            position: absolute;
            top: 50%;
            right: -300px;
            margin-top:-125px;

            @media (min-width: 601px) and ( max-width:1279px) {
                right: -265px;
            }
        }
    }
}