// Estilos para Podcast Mezcla
.section-mezcla {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #396046;
  color: white;
  padding-bottom: 40px;
  font-size: 14px;
  position: relative;

  .section-detail__title,
  .section-detail__subtitle {
    color: white;
  }

  a {
    color: white;
    text-decoration: underline;
  }

  &__btns {
    margin: 17px auto 0 auto;
  }

  &__btn {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
    border: 2px solid white;
    border-radius: 50px;
    text-decoration: none !important;
    padding: 6px 12px;
    margin: 0 5px;
    margin-bottom: 15px;
    display: inline-block;
    transition: 200ms ease;

    &:hover {
      background: white;
      color: #484848;
    }
  }

  &__others {
    a {
      margin: 0 8px 10px;
      display: inline-block;
    }
  }

  &__embed {
    width: 100%;

    &.spotify {
      box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.75);
      border-radius: 10px;
      background: #396046;
    }
  }

  &__footer {
    position: absolute;
    bottom: -35px;
    text-align: center;
    width: 100%;
    color: #595959;
    padding: 0 10px;

    @media #{$medium-and-up} {
      bottom: -35px;
    }
    a {
      font-size: 14px;
      color: #595959;
      text-decoration: underline;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.section-detail__subtitle-sm {
  margin: 15px 0 10px;
}
