.ld-switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #81898b;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
    border: 1px solid #727272;

    &::before {
      position: absolute;
      content: "";
      width: 21px;
      height: 21px;
      top: 0.5px;
      left: 0.5px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 50%;
    }
  }

  input + .slider {
    &::before {
      border: 1px solid #828282;
    }
  }

  input:checked:disabled + .slider {
    background-color: #6fcf9780;
    border-color: #d8d8d8;
    cursor: not-allowed;

    &::before {
      border: 1px solid #d8d8d8;
    }
  }

  input:checked + .slider {
    background-color: #6fcf97;
    border-color: #27ae60;

    &::before {
      -webkit-transform: translateX(29px);
      -ms-transform: translateX(29px);
      transform: translateX(29px);
      border: 1px solid #219653;
      top: 0.5px;
      left: -4.5px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 16px;
      height: 7px;
      border-left: 3px solid white;
      border-bottom: 3px solid white;
      transform: rotate(-45deg);
      top: 6px;
      left: 5px;
    }
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #6fcf97;
  }

  input:focus:not(:checked) + .slider {
    outline: none;
    box-shadow: none;
  }

  input:checked:focus + .slider {
    outline: none;
    box-shadow: 0 0 1px #6fcf97;
  }

  input:checked + .on {
    display: none;
  }
}
