<div class="ld-block ld-block--sm">
  <div class="container">
    <div class="ld-audio ld-card card">
        <div amp-access="NOT subscriber" amp-access-hide>
          <div class="ld-audio__overlay active">
            <div class="ld-audio__overlay-content">
              <div class="ld-audio__overlay-title">
                Este audio es una característica exclusiva de la suscripción digital.
              </div>
              <div class="ld-audio__overlay-links">
                <a href="{% url 'subscribe' planslug='DDIGM' %}?utm_source=web&utm_medium=audio-banner">Suscribite</a>
                <span class="d-inline-block" amp-access="NOT authenticated" amp-access-hide>
                  o <a on="tap:amp-access.login">Ingresá</a>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="ld-audio__title">{{ article.audio.title }}</div>
        <amp-audio class="ld-audio__audio" amp-access="subscriber" amp-access-hide
                   width="auto"
                   height="50"
                   preload="metadata"
                   controls
                   controlsList="nodownload"
                   src="{{ URL_SCHEME }}://{{ site.domain }}{{ article.audio.file.url }}"
                   id="audioPlayer"
                   >
          <div fallback>
            <p>Tu navegador no soporta audios HTML5.</p>
          </div>
        </amp-audio>
        <amp-audio class="ld-audio__audio" amp-access="NOT subscriber" amp-access-hide
                   width="auto"
                   height="50"
                   preload="metadata"
                   controls
                   controlsList="nodownload"
                   src="{{ STATIC_URL }}blank.mp3"
                   id="audioPlayer"
                   >
          <div fallback>
            <p>Tu navegador no soporta audios HTML5.</p>
          </div>
        </amp-audio>
        <div class="ld-audio__description">{{ article.audio.description }}</div>
    </div>
  </div>
</div>
