{% load thedaily_tags %}

<div id="notification-subscribe2" class="ld-snackbar ld-snackbar--active js-ld-snackbar" amp-access="authenticated">
  <div class="ld-snackbar__title">
    <div amp-access="signupwall_enabled AND credits > 1">
      <template amp-access-template type="amp-mustache">
        Te quedan {% templatetag openvariable %} credits {% templatetag closevariable %} artículos gratuitos
      </template>
    </div>
    <div amp-access="signupwall_enabled AND credits = 1">Te queda 1 artículo gratuito</div>
    <div amp-access="signupwall_enabled AND NOT credits">Este es tu último artículo gratuito</div>
    <button on="tap:notification-subscribe2.hide" class="js-close-ld-snackbar ld-snackbar__close ld-snackbar__close-top" type="button" aria-pressed="false" aria-label="Cerrar">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 16 16"><path stroke="#ababab" stroke-linecap="round" stroke-width="1.5" d="m.75.75 14 14m0-14-14 14"/></svg>
    </button>
  </div>
  <div class="ld-snackbar__body">
    {% include "article/pw_subscribe_block.html" %}
    <div class="ld-snackbar__text ld-snackbar__block">Nuestro periodismo depende de vos</div>
  </div>
</div>
