{% load ldml core_tags thedaily_tags %}

<div class="article-body article-body--faded">{{ article.body|amp_ldmarkup:article.id|truncatehtml:100 }}</div>

<div class="ld-snackbar ld-snackbar--active js-ld-snackbar ld-snackbar--static">
  <div class="ld-snackbar__title">Para seguir leyendo ingresá o suscribite</div>
  <div class="ld-snackbar__body">
    <div class="ld-snackbar__block">
      <a href="{% url 'subscribe' planslug='DDIGM' %}?utm_source=web&utm_medium=paywall" class="ld-btn-default">
        Suscribite <i>por ${% subscriptionprice 'DDIGM' %}/mes</i>
      </a>
    </div>
    <div class="ld-snackbar__text ld-snackbar__block">Si ya tenés una cuenta</div>
    <div class="ld-snackbar__block">
      <a href="{% url 'account-login' %}?next={% firstof request.path '/' %}" class="btn bordered">ingresá</a>
    </div>
    <div class="ld-snackbar__text ld-snackbar__block">
      o
      <a href="{% if category_signup %}{% url 'account-signup' category_slug=category.slug %}{% else %}{% url 'account-signup' %}{% endif %}">registrate</a>
      para acceder a 10 artículos gratis por mes
    </div>
  </div>
</div>
