{% load thedaily_tags %}

<div class="ld-snackbar ld-snackbar--active js-ld-snackbar ld-snackbar--static">

  <div class="ld-snackbar__title" amp-access="subscriber_any" amp-access-hide>
    Contenido no disponible con tu suscripción actual
  </div>
  <div class="ld-snackbar__title" amp-access="NOT subscriber_any" amp-access-hide>
    {{ signupwall_label_exclusive }}
  </div>

  <div class="ld-snackbar__body">
    <div amp-access="subscriber_any" amp-access-hide>
      <div class="ld-snackbar__text ld-snackbar__block">
        Actualizá tu suscripción para tener acceso ilimitado a todos los contenidos del sitio
      </div>
      <div class="ld-snackbar__block">
        <a href="{{ upgrade_subscription_link|default:'/ayuda/' }}" class="ld-btn-default">Actualizá tu suscripción</a>
      </div>
    </div>
    <div amp-access="NOT subscriber_any" amp-access-hide>
      <div class="ld-snackbar__text ld-snackbar__block">Para acceder a todos los contenidos de manera ilimitada</div>
      {% include "article/pw_subscribe_block.html" %}
    </div>
  </div>

</div>
