{% load thedaily_tags %}

{% comment "we decided stop showing this truncated body to not give an impression of mocked content" %}
  <div class="article-body article-body--faded">{{ article.body|amp_ldmarkup:article.id|truncatehtml:signupwall_truncate }}</div>
{% endcomment %}

<div class="ld-snackbar ld-snackbar--active js-ld-snackbar ld-snackbar--static">
  <div class="ld-snackbar__title">Para seguir leyendo ingresá o suscribite</div>
  <div class="ld-snackbar__body">
    {% include "article/pw_subscribe_block.html" %}
    <div class="ld-snackbar__text ld-snackbar__block">Si ya tenés una cuenta</div>
    <div class="ld-snackbar__block"><a on="tap:amp-access.login" class="btn bordered">ingresá</a></div>
    <div class="ld-snackbar__text ld-snackbar__block">
      o
      <a href="{% if category_signup %}{% url 'account-signup' category_slug=category.slug %}{% else %}{% url 'account-signup' %}{% endif %}">registrate</a>
      para acceder a {{ signupwall_max_credits }} artículos gratis por mes
    </div>
  </div>
</div>
