<section class="ld-subscribe-box-wrap">
  <div class="ld-subscribe-box">
    <span class="ld-subscribe-box__title">
      {% block subscribe_box_question %}{{ publication.subscribe_box_question }}{% endblock %}
    </span>
    <div class="ld-subscribe-box__info ld-caption">
      {% block subscribe_box_nl_subscribe_anon %}{{ publication.subscribe_box_nl_subscribe_anon|safe }}{% endblock %}
    </div>
    <a href="{% if category_signup %}{% url 'subscribe' planslug='DDIGM' category_slug=category.slug %}{% else %}{% url 'subscribe' planslug='DDIGM' %}{% endif %}"
       class="ld-btn-default ld-btn-default--sm ld-btn-default--icon-envelope ld-btn-default--inverted">
      Suscribite
    </a>
    <div class="ld-subscribe-box__login ld-text-secondary">
      <p>¿Ya tenés cuenta?</p>
      <a on="tap:amp-access.login" class="ld-btn-dark-bordered--sm">Ingresá</a>
    </div>
  </div>
</section>
