{% load homev3_tags %}

<section id="home-category-{{ category.slug }}" class="frontpage-section">
  <div class="container">

    <div class="section-detail__head">
      {% block category-detail-head-h2 %}
        <h2 class="section-detail__title">{{ category.title|default:category }}{% if category.new_pill %} <span class="new-pill">Nuevo</span>{% endif %}</h2>
      {% endblock %}
      {% block category-detail-head-description %}
        {% if category.description %}<p class="section-detail__subtitle">{{ category.description }}</p>{% endif %}
      {% endblock %}
    </div>

    {% block destacados %}
      {% with destacados=category_destacados %}{% render_section None top_index=1 %}{% endwith %}
    {% endblock %}

    <div class="row footer-section">
      <div class="col s12">
        {% block footer_links %}
          <a href="{% url 'home' domain_slug=category.slug %}" class="ut-btn ut-btn-outline">
            {% if category.more_link_title %}{{ category.more_link_title }}{% else %}más de {{ category }}{% endif %}
          </a>
        {% endblock %}
      </div>
    </div>
  </div>
</section>
