@import "../variables";
@import "../cardv4.scss";
@import "../category-and-publication.scss";

#main-content {
  padding-top: 32px;
  padding-bottom: 64px;

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    margin: 0;
  }
}

.category-grid {
  @include utopia-container;
  display: grid;
  grid-template-columns: repeat(4, $col-width);
  gap: $col-gap;
  row-gap: 32px;
  padding-inline: $padding-inline;
  padding-bottom: 32px;

  &__cover {
    grid-column: 1 / 4;
    display: flex;
  }

  &__secondary {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $col-gap;

    article {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -($col-gap / 2);
        height: 100%;
        width: 0.5px;
        background-color: #ababab;
      }
      &:last-child::after {
        display: none;
      }
    }
  }

  &__tertiary-group {
    grid-column: 4;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: $col-gap;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: -($col-gap / 2);
      height: 100%;
      width: 0.5px;
      background-color: $color-divider;
    }
    .article {
      &:first-child {
        .article__image-link {
          display: none;
        }
      }
      &::after {
        content: "";
        position: absolute;
        bottom: -($col-gap / 2);
        left: 0;
        width: 100%;
        height: 0.5px;
        background-color: $color-divider;
      }
      &:last-child::after {
        display: none;
      }
    }
  }
}

.article-cover {
  display: flex;
  flex-direction: row;
  gap: $col-gap;
  padding-bottom: 32px;
  border-bottom: $border-divider;
  flex: 1;

  &__image-link {
    flex: 0 0 $col-width * 2 + $col-gap;
    display: flex;
    img {
      margin: 0;
    }
  }

  .article {
    &__body {
      display: flex;
      flex-direction: column;
      gap: 12px;
      width: 284px;
      flex-shrink: 0;
    }

    &__title {
      font-size: px-to-rem(24px);
      font-weight: 450;
      line-height: px-to-rem(31.2px);
      font-family: $serif;
      a {
        text-decoration: none;
      }
    }

    &__footer {
      margin-top: 0;
    }
  }
}

.newsletter {
  display: none;
}

#header-pub .ad_banner {
  width: 970px;
  height: 250px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  #header-pub {
    padding-bottom: 24px;
    .ad_banner {
      width: 300px;
    }
  }

  #main-content {
    padding: 0;
  }
  .category-grid {
    grid-template-columns: 1fr;
    padding: 0 20px 24px;
    gap: 24px;

    &__cover {
      grid-column: 1;
    }

    &__secondary {
      grid-column: 1;
      grid-template-columns: 1fr;
      padding-bottom: 24px;
      border-bottom: 0.5px solid #000;

      .article {
        img {
          display: none;
        }
        &::after {
          right: unset;
          left: 0;
          width: 100%;
          height: 0.5px;
          bottom: -24px;
          top: unset;
        }
      }
    }

    &__tertiary-group {
      grid-column: 1;
      grid-row: auto;
      .article:first-child {
        .article__image-link {
          display: flex;
        }
      }
    }
  }

  .article-cover {
    flex-direction: column;
    gap: 16px;
    padding-bottom: 24px;

    &__image-link {
      flex: none;
      width: 100%;
      img {
        width: 100%;
        height: 233px;
        object-fit: cover;
      }
    }

    .article {
      &__body {
        width: auto;
      }

      &__title {
        font-size: px-to-rem(18px);
        line-height: 1.35em;
      }
    }
  }

  .newsletter {
    display: flex;
    flex-direction: column;
    padding: 0 0 24px;
    gap: 12px;
    border-bottom: 0.5px solid #000;

    &__badge {
      background: #e3e8ea;
      padding: 2px;
      font-family: $sans;
      font-size: px-to-rem(12px);
      align-self: flex-start;
      line-height: px-to-rem(14px);
      letter-spacing: px-to-rem(0.96px);
      text-transform: uppercase;
    }
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h2 {
        font-family: $sans-title;
        font-size: px-to-rem(24px);
        font-weight: 700;
        line-height: px-to-rem(20.88px);
        letter-spacing: px-to-rem(0.24px);
      }
    }
    &__preview {
      text-decoration: underline;
    }
  }
}
