{% extends "thedaily/templates/profile/allow_communication.html" %}

{% block required %}
  <div class="edit_profile_card__inner-section">
    <div class="edit_profile_card__inner-section_header">
      <label class="title" for="id_seguridad">Seguridad</label>
      <div class="switch-container">
        <span class="label-text on disabled">Obligatorias</span>
        <label class="switch">
          <input type="checkbox" id="id_seguridad" name="id_seguridad" checked="checked" disabled="disabled"/>
          <span class="slider"></span>
        </label>
      </div>
    </div>
    <div class="edit_profile_card__inner-section_body">
      <p>Notificaciones esenciales por motivos de seguridad de tu cuenta. No es posible desactivar esta notificación.</p>
    </div>
  </div>
{% endblock %}

{% block label %}Novedades{% endblock %}

{% block data_url %}data-url="{% url 'communication-subscribe' com_type='allow_news' %}"{% endblock %}
