<div class="edit_profile_card__inner-section">
  <div class="edit_profile_card__inner-section_header">
    <label for="id_{{ field.name }}" class="title">Investigación</label>
    <div class="switch-container">
      <span class="label-text on" {% if not field.value %}style="display: none;"{% endif %}>Activadas</span>
      <span class="label-text off" {% if field.value %}style="display: none;"{% endif %}>Activar</span>
      <label class="switch">
        <input
          type="checkbox"
          id="id_{{ field.name }}"
          name="{{ field.name }}"
          data-url="{% url 'communication-subscribe' com_type='allow_polls' %}"
          data-key="com_subscribe"
          {% if field.value %} checked{% endif %}
        />
        <span class="slider"></span>
      </label>
    </div>
  </div>
  <div class="edit_profile_card__inner-section_body">
    <p>
      Regularmente realizamos encuestas a quienes leen <i>{{ site.name }}</i> para evaluar
      sus intereses e incorporar esas necesidades a nuestro periodismo.
    </p>
  </div>
</div>
