<div class="row ld-profile-row">
  <div class="col">
    <h3 class="ld-title-second">Investigación</h3>
    <p>
      Regularmente realizamos encuestas a quienes leen <i>{{ site.name }}</i> para evaluar
      sus intereses e incorporar esas necesidades a nuestro periodismo.
    </p>
    <div class="">
      <input id="id_{{ field.name }}" name="{{ field.name }}" class="filled-in" type="checkbox"{% if field.value %} checked{% endif %}/>
      <label for="id_{{ field.name }}">Deseo participar de encuestas</label>
    </div>
  </div>
</div>
<div class="row ld-profile-row">
  <div class="col">
    <h3 class="ld-title-second">Seguridad</h3>
    <p>Notificaciones esenciales por motivos de seguridad de tu cuenta. No es posible desactivar esta notificación.</p>
    <div class="">
      <input id="id_seguridad" name="id_seguridad" class="filled-in" type="checkbox" checked disabled />
      <label for="id_seguridad">Recibiré notificaciones de seguridad</label>
    </div>
  </div>
</div>
