{% load l10n crispy_forms_filters %}

<div id="{{ field.auto_id }}_wrapper" class="col s12">

  <section class="ld-block ld-section-newsletters">
    {% for choice in field.field.choices %}
      <div class="item-newsletter profile-check">

        {# This acts as an anchor taking into account the topbar padding #}
        {% if choice.1 == 'Coronavirus' %}
          <div id="category-newsletter-coronavirus" class="item-newsletter__anchor"></div>
          <div id="category-newsletter-chile" class="item-newsletter__anchor"></div>
        {% endif %}

        <input class="filled-in" type="checkbox"{% if choice.0 in field.value or choice.0|stringformat:"s" in field.value or choice.0|stringformat:"s" == field.value|stringformat:"s" %} checked="checked"{% endif %} name="{{ field.html_name }}" id="id_{{ field.html_name }}_{{ forloop.counter }}" value="{{ choice.0|unlocalize }}"/>
        <label for="id_{{ field.html_name}}_{{ forloop.counter }}"{% if flat_attrs %} {{ flat_attrs|safe }}{% endif %}>
          {% if choice.1 == 'Coronavirus' %}
            <h3 class="ld-title-second">{{ choice.1 }}</h3>
            <div>Lo importante sobre el nuevo coronavirus en Uruguay y el mundo.</div>
            <h4 class="ld-caption">Periodicidad: martes y jueves.</h4>
          {% endif %}
        </label>

      </div>
    {% endfor %}
    <div class="submit">
      {% include "profile/submit.html" %}
    </div>
  </section>
</div>
</div> {# close div opened in newsletters.html #}
