{% load l10n crispy_forms_filters %}

<div id="newsletters" class="section scrollspy">{# will be closed in category_newsletters.html #}
  <div id="{{ field.auto_id }}_wrapper" class="col s12">
    <section id="ld-newsletters" class="ld-block ld-section-newsletters">
      <h2 class="ld-title ld-title--underlined">Newsletters</h2>
      <p class="u-mb-30">Recibí contenidos en tu email. Elegí los newsletters que quieras recibir y apretá el botón "Guardar cambios".</p>
      {% for choice in field.field.choices %}
        {# The div tag below acts as an anchor #}
        <div id="newsletter-{{choice.1|slugify}}" class="item-newsletter__anchor"></div>
        <div class="item-newsletter item-newsletter--{{choice.1|slugify}} profile-check">
          <input class="filled-in" type="checkbox"{% if choice.0 in field.value or choice.0|stringformat:"s" in field.value or choice.0|stringformat:"s" == field.value|stringformat:"s" %} checked="checked"{% endif %} name="{{ field.html_name }}" id="id_{{ field.html_name }}_{{ forloop.counter }}" value="{{ choice.0|unlocalize }}"/>
          <label for="id_{{ field.html_name}}_{{ forloop.counter }}"{% if flat_attrs %} {{ flat_attrs|safe }}{% endif %}>
            {% for publication in publication_newsletters %}
              {% ifequal choice.1 publication.name %}
                <h3 class="ld-title-second">{{ publication.newsletter_name|default:publication.name }}</h3>
                {% if publication.newsletter_tagline %}<div>{{ publication.newsletter_tagline|safe }}.</div>{% endif %}
                {% if publication.newsletter_periodicity %}
                  <h4 class="ld-caption">Periodicidad: {{ publication.newsletter_periodicity }}.</h4>
                {% endif %}
              {% endifequal %}
            {% endfor %}
          </label>
        </div>
      {% endfor %}
    </section>
  </div>
