<section class="ld-block section scrollspy" id="suscripciones">
  <h2 class="ld-title ld-title--underlined">Suscripciones</h2>
  <div class="ld-profile-row">

    {% if is_subscriber_any %}

      <div class="card-plan">
        <h3 class="ld-title-second">Suscripción digital</h3>
        <p>Acceso a los contenidos digitales.</p>
      </div>

    {% else %}

      <div class="card-plan">
        <h3 class="ld-title-second">Cuenta gratuita</h3>
        <p>
          {% with credits_pl=signupwall_max_credits|pluralize %}
            {{ signupwall_max_credits }} artículo{{ credits_pl }} gratuito{{ credits_pl }} al mes y newsletters.
          {% endwith %}
          <br>
          Para acceso ilimitado de artículos y más beneficios suscribite.
        </p>
        <a href="{% url 'subscribe' planslug='DDIGM' %}" class="ut-btn">Suscribite</a>
      </div>

    {% endif %}

  </div>
</section>
