<section class="ld-block section scrollspy" id="suscripciones">
  <h2 class="ld-title ld-title--underlined">Suscripciones</h2>

  {% if is_subscriber_any %}

    <div class="row ld-profile-row">
      <div class="col m12">
        <h3 class="ld-title-second">Digital</h3>
        Acceso a los contenidos digitales.
      </div>
    </div>

  {% else %}

    <div class="row ld-profile-row">
      <div class="col m12">
        <h3 class="ld-title-second">Digital gratuita ($0/mes)</h3>
        Hasta 10 artículos gratuitos al mes y newsletters.
        Para acceso ilimitado de artículos y más beneficios pasate a la diaria digital ilimitada ($350/mes).
        <a href="{% url 'subscribe' planslug='DDIGM' %}" class="ld-btn ld-btn-solid-dark">Pasate a ilimitada</a>
      </div>
    </div>

  {% endif %}

</section>
