<section class="ld-block section scrollspy" id="suscripciones">
  <h2 class="ld-title ld-title--underlined">Suscripciones</h2>
  <div class="ld-profile-row">

    {% if is_subscriber_any %}

      <div class="card-plan">
        <h3 class="ld-title-second">Digital ilimitada</h3>
        <p>Acceso a los contenidos digitales.</p>
      </div>

    {% else %}

      <div class="card-plan">
        <h3 class="ld-title-second">Digital gratuita</h3>
        <p>
          Hasta 10 artículos gratuitos al mes y newsletters.<br>
          Para acceso ilimitado de artículos y más beneficios pasate a digital ilimitada.
        </p>
        <a href="{% url 'subscribe' planslug='DDIGM' %}" class="ut-btn">Pasate a ilimitada</a>
      </div>

    {% endif %}

  </div>
</section>
