@import "../variables";

#comentarios {
  position: fixed;
  top: $headerMinHeight;
  width: px-to-rem(460px);
  right: 0;
  bottom: 0;
  background-color: white;
  border-left: 1px solid #ababab;
  z-index: 1;
  transition: right 0.5s ease-in-out;
  padding-left: 24px;
  overflow-y: auto;

  &.closed {
    right: -100%;
  }
  .upper-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
  }
  .upper-content p {
    margin: 0;
    font-size: px-to-rem(24px);
    font-weight: 500;
  }
}

.popup-talk {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: $color-light-blue;
}
