h2:has(+ #content-main){max-width: 950px;}
.martor-field{height: 400px !important;}
.field-main_section{display: none;}
.field-main li{list-style-type: none;}
.row-articlerel-selected{border: 2px solid #F2A60D;}
fieldset.module h2{font-size: 12px !important;font-weight: 400 !important;margin: 0 !important;}
td.original p{height: auto !important;}
.empty-form{display: none !important;}
fieldset.collapse,fieldset.collapsed{display: block !important; overflow: auto;}
fieldset.collapse h2,fieldset.collapsed h2 {
  position: sticky;
  top: 0;
  left: 0;
}
fieldset.collapse textarea,fieldset.collapsed textarea {
  min-width: 320px;
}
/* .change-form .object-tools{margin-top: -100px;} */  /* TODO: Check the purpose of this */

/* textareas inside inlines */
.dynamic-recuadros td.field-body{width:50%;}
.dynamic-attachments td.field-description{width:45%;}
.dynamic-recuadros td.field-body textarea, .dynamic-attachments td.field-description textarea {
  width:100%;
}

/* "publicado en" tabular inline */
.dynamic-articlerel_set td.field-home_top,
.dynamic-articlerel_set td.field-main,
.dynamic-articlerel_set td.delete {
  padding-left: 25px;
}

/* paywall radio */
.form-row.field-pw_radio_choice div {
  display: block !important;
  float: none !important;
}
.form-row.field-pw_radio_choice input { display: inline-block !important; }
.form-row.field-pw_radio_choice label {
  display: block !important;
  float: none !important;
  width: auto;
}
.form-row.field-slug input, .form-row.field-slug_custom input {
  display: block !important;
  float: none !important;
  width: auto;
  min-width: 280px;
  @media (min-width: 880px) {
    width: 600px;
  }
}
.form-row.field-slug input.readonly {
  color: gray;
  border: none;
  padding-left: 0px;
  padding-top: 8px;
}

/* border in collapsed inlines */
#recuadros-group div fieldset,
#attachments-group div fieldset,
#body_image-group div fieldset,
#articlerel_set-group div fieldset,
#linked_articles-group div fieldset,
fieldset.module:has(fieldset.module) {
  border: 1px solid var(--hairline-color) !important;
}

/* more width to martor editor and let its buttons adjust to small widths */
.main-martor {width: 80%;}
.main-martor .btn-group.btn-group-sm {flex-wrap: wrap;}

/* others */
div.field-deck div.charcounter,
div.field-lead div.charcounter,
div.field-home_lead div.charcounter,
div.field-home_top_deck div.charcounter,
div.field-alt_title_metadata div.charcounter,
div.field-alt_title_newsletters div.charcounter,
div.field-alt_desc_metadata div.charcounter,
div.field-alt_desc_newsletters div.charcounter {
  margin-left: 10px;
}
#id_keywords, #id_headline, #id_alt_title_metadata, #id_alt_title_newsletters {
  @media (min-width: 880px) {
    width: 600px;
  }
}
.field-deck textarea, .field-lead textarea, .field-home_lead textarea, .field-home_top_deck textarea {
  height: 120px;
}

.field-alt_desc_metadata textarea, .field-alt_desc_newsletters textarea {
  @media (min-width: 880px) {
    width: 600px;
  }
  height: 120px;
}
.field-alt_title_metadata, .field-alt_title_newsletters,
.field-alt_desc_metadata, .field-alt_desc_newsletters {
  margin-top: 20px;
}

.field-headline, .field-alt_title_metadata, .field-alt_title_newsletters,
.field-alt_desc_metadata, .field-alt_desc_newsletters {
  @media (max-width: 767px) {
    flex-grow: 1;
  }
}

.field-alt_desc_newsletters .fieldBox.field-deck {
  @media (max-width: 767px) {
    flex-grow: 1;
  }
}

.form-row:not(.empty-form) {
  @media (max-width: 767px) {
    td {
      white-space: nowrap;
    }
  }
}

[data-model-ref="periodista"] ul.selector-chooser {
  @media (max-width: 767px) {
    display: flex !important;
    width: 60px !important;
    justify-content: space-between !important;
  }
}

/* published status row, slug options block */
.field-publish_radio_choice label.inline,
.field-publish_radio_choice label:not(:has(input)),
.form-row.field-date_published:has(.hidden) label,
.form-row.field-slug_radio_choice label:not([for="id_slug_radio_choice_0"]) {
  font-weight: bold;
}
#id_publish_radio_choice input,
#id_unpublish_radio_choice input,
input[id="id_unpublish_radio_choice"],
#id_slug_radio_choice input,
#id_slug_radio_choice_custom input,
input[id="id_slug_radio_choice_custom"] {
  margin-top: -4px;
  margin-right: 5px;
}
.form-row.field-publish_radio_choice,
.form-row.field-date_published,
.form-row.field-slug_radio_choice,
.form-row.field-slug_radio_choice_custom {
  border-bottom: unset;
  padding-bottom: 0px;
}
#id_slug_custom_helptext {
  width: revert;
}
.form-row.field-date_published:has(.hidden) #id_date_published_helptext {
  font-size: unset;
  margin-top: -26px;
  padding-bottom: 20px;
}
.form-row.field-date_published:not(:has(.hidden)) {
  padding-top: 0px;
  margin-left: 30px;
}
.form-row.field-unpublish_radio_choice.field-is_published.field-to_be_published {
  padding-top: 0px;
}
.fieldBox.field-unpublish_radio_choice:has(input[type="checkbox"]) {
  margin-left: 200px;
}
.field-is_published, .field-to_be_published, .field-date_published {
  width: unset !important;
  display: block !important;
}
label[for="id_slug_radio_choice_0"], label[for="id_slug_radio_choice_custom_0"] {
  display: revert;
}
.fieldBox.field-date_published label{
  display: none !important;
}
@media (min-width: 767px) {
  .field-date_published p {
    margin-left: 0px !important;
  }
}
@media (min-width: 1024px) {
  .field-date_published p {
    padding-block: 0px !important;
  }
}
@media (max-width: 767px) {
  .form-row .datetime input.vDateField, .form-row .datetime input.vTimeField {
    margin-left: 0px !important;
    width: 100% !important;
  }
  .fieldBox.field-date_published .datetime .datetimeshortcuts {
    margin-left: 0px !important;
    display: block !important;
  }
}
