h2:has(+ #content-main){max-width: 1170px;}
td.field-position {
  width: 60px;
}
td.field-article {
  padding-bottom: 1em;
}
td.field-article strong {
  display: inline-block;
  position: absolute;
  margin-right: 160px;
  margin-top: 5px;
}
td.field-fixed {
  width: 50px;
}
td.delete {
  width: 70px;
}
