th { vertical-align: bottom; }
th.original {
  width: 60px !important;
  padding: initial !important;
}
tr.has_original td {
  padding-top: 1.4em !important;
}
tr.dynamic-categorynewsletterarticle_set td {
  padding-top: 1.4em !important;
}
td.field-order {
  width: 60px;
}
td.field-featured {
  width: 76px;
}
td.field-featured input{
  margin-left: 2em;
}
td.field-article {
  padding-bottom: 1em;
}
td.field-article strong {
  display: inline-block;
  position: absolute;
  margin-right: 90px;
  margin-top: 5px;
}
td.delete {
  width: 70px;
  text-align: center;
}
.vForeignKeyRawIdAdminField {
  width: 5em;
}
