h2:has(+ #content-main){max-width: 1170px;}
tr:not(.has_original) td.field-position {
  padding-top: 1em !important;
}
.tabular td.original p {
	left: 50px !important;
}
tr.has_original td.field-position {
  padding-top: 1.6em !important;
}
td.field-position {
  width: 30px;
  text-align: center;
  font-weight: bold;
  font-size: large;
}
td.field-article {
  padding-bottom: 1em;
}
td.field-article strong {
  display: inline-block;
  position: absolute;
  margin-right: 160px;
  margin-top: 5px;
}
td.field-fixed {
  width: 50px;
}
td.delete {
  width: 70px;
}
td.delete input {
  margin-left: 20px;
}
