bleach
bleach-whitelist
django-activity-stream>0.5,<0.10
django-bleach<1
freezegun
social-auth-app-django>0.0.1,<4
social-auth-core==4.0.2
python-dateutil==2.8.1
python-memcached
django-compressor
django-cookies-samesite
djangorestframework==3.13.1
django-filter==2.4.0
django-avatar==7.0.1
django-classy-tags==1.0.0
django-crispy-forms==1.14.0
martor<1.6.14
crispy-forms-materialize
django-user-agents
sorl-thumbnail<12.4
django-extensions<3.2
django-nose==1.4.6
django-recaptcha<3
django-background-tasks<1.1
django-admin-shortcuts==2.0.0
pycountry<2
PyMongo
pyPdf
pyquery<1.4.3
rsa<4.7
google-api-python-client
hashids
oauth2client
emails
pandas
ebooklib
django-tagging==0.4.6
django-elasticsearch-dsl
django-model-utils<3
django-photologue==3.15.1
django-robots>3,<5
django-sortedm2m
django-star-ratings<0.7
django-updown>0.5
mysqlclient
BeautifulSoup4
progress
python3-openid
python-social-auth
readtime
sortedcontainers
unidecode<1.3.1
pywebpush
django<3
future
factory-boy
w3storage

# Our forks:
git+https://github.com/ladiaria/django-shorturls.git#egg=django-shorturls
git+https://github.com/ladiaria/django-favit.git
git+https://github.com/ladiaria/django-tagging-autocomplete-tag-it.git#egg=django-tagging-autocomplete
git+https://github.com/ladiaria/django-amp-tools.git@django2
