django<1.6
freezegun
python-dateutil==2.8.1
social-auth-app-django==0.0.1
social-auth-core==0.2.1
python-memcached
django-compressor<2.0
django-cookies-samesite
djangorestframework<3.3.0
django-filter<0.12
django-avatar==2.0.0
django-markdown
django-inplaceedit-bootstrap
django-inplaceedit-extra-fields
django-crispy-forms==1.4.0
crispy-forms-materialize
materialize
django-user-agents
django-shorturls<2
sorl-thumbnail<12.4
django-recaptcha==1.0.6
django-extensions==0.5
django-nose==1.4.3
south
django-subdomains
django-background-tasks<1.1
django-admin-shortcuts==1.2.7
django-mobile==0.3
pycountry<2
PyMongo
pyPdf
pyasn1>0.4.7
six>1.14
google-api-python-client
hashids
oauth2client
emails
pandas
ebooklib
django-tagging==0.3.4
django-model-utils<3
django-photologue==2.7
MySQL-python
BeautifulSoup4
progress
pyquery<1.4.2
readtime
unicodecsv
unidecode
mutagen
