{% extends base_template %}
{% load core_tags %}

{% block page_title %}{% section_title %}{% endblock %}

{% block meta_og_title %}
  <!-- Open Graph (http://ogp.me) -->
  <meta property="og:title" content="{% section_title %}">
{% endblock %}

{% block body_class %}section-detail{% endblock %}

{% block page_header %}
 {% include "section/detail_header.html" %}
{% endblock %}

{% block content %}
	<section class="section_module container--narrow">
    {% for article in articles %}
      {% if forloop.first %}
        {% render_article_card article=article media=article.home_display card_size="FD" img_load_lazy=False %}
      {% else %}
        {% render_article_card article=article media=article.home_display card_size="FD" %}
      {% endif %}
    {% endfor %}
    {% if articles.has_other_pages %}
      {% with pager=articles %}{% include "pagination.html" %}{% endwith %}
    {% endif %}
  </section>
{% endblock %}

{% block footer_scripts %}
  <script>
    $(document).ready(function(){
      resizeSubnav($('.section-subheader .submenu'), $('.submenu--list'), 1);
    });
  </script>
{% endblock %}
