{% extends base_template %}
{% load static core_tags %}

{% block page_title %}{% section_title %}{% endblock %}

{% block meta_og_title %}
  <!-- Open Graph (http://ogp.me) -->
  <meta property="og:title" content="{% section_title %}">
{% endblock %}

{% block css %}
  <link href="{% static 'sass/section/detail.scss' %}" media="screen" rel="stylesheet" type="text/x-scss" charset="utf-8">
{% endblock %}

{% block body_class %}section-detail{% endblock %}

{% block page_header %}
 {% include "section/detail_header.html" %}
{% endblock %}

{% block header_classes %}section-detail-header{% endblock %}

{% block content %}
	<section class="section_module">
    {% for article in articles %}
      {% if forloop.first %}
        {% render_card article=article variant="card_standard" img_load_lazy=False %}
      {% else %}
        {% render_card article=article variant="card_standard" %}
      {% endif %}
    {% endfor %}
    {% if articles.has_other_pages %}
      {% with pager=articles %}{% include "pagination.html" %}{% endwith %}
    {% endif %}
  </section>
{% endblock %}
