{% extends "base.html" %}
{% load core_tags %}

{% block page_title %}Noticias de {{ section.name }} | {{ site.name }} | {{ country_name }}{% endblock %}

{% block meta_og_title %}
  <!-- Open Graph (http://ogp.me) -->
  <meta property="og:title" content="Noticias de {{ section.name }} | {{ site.name }} | {{ country_name }}">
{% endblock %}

{% block body_class %}section-detail{% endblock %}

{% block page_header %}
  <div class="section_background {% if section.background_color %}styled{% endif %}" style="background-color:{{section.background_color}} !important">
    <div class="container container--narrow">
      <div class="section-detail__head {% if section.white_text %}white_text{% endif %}">
        {% if section.category %}
          <a class="section-detail__toplink" href="{% url 'home' domain_slug=section.category.slug %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="13" viewBox="15451.996 -3655.987 6.105 9.902"><path d="M773.155,7312l3.8,3.8,3.8-3.8,1.155,1.155-4.951,4.951L772,7313.155l1.155-1.155" transform="translate(22770.102 -4427.987) rotate(90)" fill="#595959"/></svg>
            {{ section.category }}
          </a>
        {% elif publication and publication != default_pub %}
          <a class="section-detail__toplink" href="{% url 'home' domain_slug=publication.slug %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="13" viewBox="15451.996 -3655.987 6.105 9.902"><path d="M773.155,7312l3.8,3.8,3.8-3.8,1.155,1.155-4.951,4.951L772,7313.155l1.155-1.155" transform="translate(22770.102 -4427.987) rotate(90)" fill="#595959"/></svg>
            {% if publication_use_headline %}{{ publication.headline }}{% else %}{{ publication }}{% endif %}
          </a>
        {% else %}
          <a class="section-detail__toplink" href="{% url 'home' %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="13" viewBox="15451.996 -3655.987 6.105 9.902"><path d="M773.155,7312l3.8,3.8,3.8-3.8,1.155,1.155-4.951,4.951L772,7313.155l1.155-1.155" transform="translate(22770.102 -4427.987) rotate(90)" fill="#595959"/></svg>
            {{ site.name }}
          </a>
        {% endif %}
        <h1 class="section-detail__title">{{ section.name }}</h1>
        {% if section.show_description %}
          <p class="section-detail__description">{{ section.description }}</p>
        {% endif %}
        {% if section.show_image %}
          <img class="responsive-img" src="{{ MEDIA_URL }}{{ section.imagen }}" width="500px" alt="{{ section.name }}" loading="lazy"><br><br>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
	<section class="section_module container--narrow">
    {% for article in articles %}
      {% if forloop.first %}
        {% render_article_card article=article media=article.home_display card_size="FD" img_load_lazy=False %}
      {% else %}
        {% render_article_card article=article media=article.home_display card_size="FD" %}
      {% endif %}
    {% endfor %}
    {% if articles.has_other_pages %}
      {% with pager=articles %}{% include "pagination.html" %}{% endwith %}
    {% endif %}
  </section>
{% endblock %}

{% block footer_scripts %}
  <script>
    $(document).ready(function(){
      resizeSubnav($('.section-subheader .submenu'), $('.submenu--list'), 1);
    });
  </script>
{% endblock %}
