{% load core_tags ldml %}

{% if art_count > 0 and is_portada %}
  <section  id="home-section-{{ section.slug }}" class="frontpage-section">
    <div class="container">
      <div class="section-detail__head">
        <h2 class="section-detail__title">{{ section.name_in_category_menu|default:section.name }}{% block extra_title %}{% endblock %}</h2>
        {% if section.show_description %}
          <p class="section-detail__subtitle">{{ section.description }}</p>
        {% endif %}
      </div>

      {# 4 Article grid for section #}
      <section class="art_count_4">
        <div class="ld-grid-simple">
          {% for article in articles|slice:":4" %}
            <div class="ld-grid-simple__area">
              <div class="ld-card" data-id="{{ article.id }}" data-template="article_card_new">
                {% if article.photo %}
                  <a href="{{ article.get_absolute_url }}">
                    <img
                      class="ld-card__img"
                      src="{{ article.photo.get_700w_url }}"
                      data-srcset="{{ article.photo.get_700w_url }} 320w"
                      data-sizes="auto"
                      width="700"{% if article.photo_image_file_exists %} height="{{ article.photo.get_700w_size.1 }}"{% endif %}
                      title="{% if article.photo.caption %}{{ article.photo.caption }}{% if article.photo.extended.photographer %} · {{ article.photo.extended.type_verbose }}: {{ article.photo.extended.photographer.name }}{% endif %}{% else %}Foto principal del artículo '{{ article.headline|remove_markup }}'{% if article.photo.extended.photographer %} · {{ article.photo.extended.type_verbose }}: {{ article.photo.extended.photographer.name }}{% endif %}{% endif %}"
                      alt="{% if article.photo.caption %}{{ article.photo.caption }}{% if article.photo.extended.photographer %} · {{ article.photo.extended.type_verbose }}: {{ article.photo.extended.photographer.name }}{% endif %}{% else %}Foto principal del artículo '{{ article.headline|remove_markup }}'{% if article.photo.extended.photographer %} · {{ article.photo.extended.type_verbose }}: {{ article.photo.extended.photographer.name }}{% endif %}{% endif %}"
                      srcset="{{ article.photo.get_700w_url }} 320w"
                      loading="lazy">
                  </a>
                {% endif %}
                <div class="ld-card__body">
                  <h3 class="ld-card__title ld-card__title{% if not article.home_lead %} ld-card__title--mb{% endif %}">
                    <a href="{{ article.get_absolute_url }}">{{ article.headline|ldmarkup:article.id|removetags:'p' }}</a>
                  </h3>

                  {% if article.home_lead %}
                    <div class="ld-card__intro ld-card__intro--home_lead">
                      {{ article.home_lead|ldmarkup:article.id|removetags:'p' }}
                    </div>
                  {% endif %}

                  <div class="ld-card__byline">
                    {% if article.has_byline  %}
                      {% for author in article.get_authors %}
                        <a href="{{ author.get_absolute_url }}">{{ author.name }}</a>{% if not forloop.last %}, {% endif %}
                      {% endfor %}
                      en
                    {% endif %}
                    {% publication_section article %}
                  </div>

                  {% if article.photo.extended.photographer %}
                    <div class="ld-card__byline">
                      {{ article.photo.extended.type_verbose }}: {{ article.photo.extended.photographer.name }}
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </section>
      {# End article grid #}

      <div class="row footer-section">
        <div class="col s12">
          {% block footer_links %}
            <a href="{{ section.get_absolute_url }}" class="ld-btn btn bordered">más de {{ section.name_in_category_menu|default:section.name }}</a>
          {% endblock %}
        </div>
      </div>

    </div>
  </section>
{% endif %}
