{% load bleach_tags core_tags ldml %}

{% if art_count > 0 and is_portada %}
  <section id="home-section-{{ section.slug }}" class="frontpage-section">
    <div class="container">
      <div class="section-detail__head">
        {% block section-detail-head-h2 %}
          <a href="{{ section.get_absolute_url }}">
            <h2 class="section-detail__title">{{ section.name_in_category_menu|default:section.name }}{% block extra_title %}{% endblock %}</h2>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.6" d="m9 18 6-6-6-6"/></svg>
          </a>
        {% endblock %}
        {% block section-detail-head-description %}
          {% if section.show_description %}
            <p class="section-detail__subtitle">{{ section.description|ldmarkup|bleach }}</p>
          {% endif %}
        {% endblock %}
      </div>
    </div>

    {% block articles-container %}
    <div class="container container--mobile-overflow">
      {# 4 Article grid for section #}
      <section class="articles-grid articles-grid--scroll">
        {% for article in articles|slice:":4" %}
          {% render_card article=article variant="v4_cards/article_card" %}
        {% endfor %}
      </section>
      {# End article grid #}
    </div>
    {% endblock %}
  </section>
{% endif %}
